.cui-icon-fixed-width {
	width: 16px;
}

.cui-icon-svg {
  fill: currentColor;
  vertical-align: middle;
  pointer-events: none;
}

.cui-button-size-mini {
  transform: scale(0.8);
}

.svg-close {
  width: 14px;
  height: 13px;
}




