public/*
.sass-cache
*.coffee.js
*~
*\#
.DS_Store
commit.txt
node_modules
.\#*
.idea
npm-debug.log
src/**.js
src/**.js.map
!public/cui.js
!public/cui.min.js
!public/cui.css
!public/cui_fylr.css
!public/cui_debug.css
!public/cui-tutorial.js
!demo/public/cui-demo.js
!demo/public/cui-demo.css
!demo/public/css
coverage/*
*.map
_obsolete.scss