$drag-cursors: default, move, col-resize, row-resize, n-resize, e-resize, s-resize, w-resize, ne-resize, nw-resize, se-resize, sw-resize, ew-resize, ns-resize, nesw-resize, nwse-resize;

body[data-cursor] {
	user-select: none;
}

@for $i from 1 to length($drag-cursors) {
	$cursor: nth($drag-cursors, $i);

	body[data-cursor="#{$cursor}"] * {
		cursor: $cursor !important;
	}
}

// special case with prefix
body[data-cursor='grabbing'] * {
	cursor: -webkit-grabbing !important;
	cursor: grabbing !important;
}
