@use "variables' as *;
@use "mixins/disabled' as *;

// global styles and global utility classes

html {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: $body-bg;
}

// * Visibilty

.cui-border-layout-north,
.cui-border-layout-south,
.cui-border-layout-west,
.cui-border-layout-east {
	&:empty {
		display: none;
	}
}

[hidden],
.cui-tmpl,
[data-template],
.cui-template-empty.cui-label {
	display: none !important;
}

.cui-disabled {
	@include disabled();
}

// stylelint-disable-next-line keyframes-name-pattern
@keyframes nodeInserted {
	from { opacity: 0.99; }
	to { opacity: 1; }
}

// * Spacing

.cui-space {
	margin: $spacer;
	display: inline-block;

	&:empty {
		margin: $spacer-sm;
	}
}

.cui-small-space {
	margin: $spacer-sm;
	display: inline-block;

	&:empty {
		margin: $spacer-xs;
	}
}

.cui-large-space {
	margin: $spacer-lg;
	display: inline-block;

	&:empty {
		margin: $spacer;
	}
}

.cui-flexible-space {
	flex: 1 1 auto;
}
