:root {
	--brand-color: #{theme-color('primary')};
	--brand-color-darker: #{darken(theme-color('primary'), 10%)};

	// Custom variable values only support SassScript inside `#{}`.
	@each $color, $value in $colors {
		--#{$color}: #{$value};
	}

	@each $color, $value in $theme-colors {
		--#{$color}: #{$value};
	}

	@each $color, $value in $grays {
		--gray-#{$color}: #{$value};
	}

	@each $bp, $value in $grid-breakpoints {
		--breakpoint-#{$bp}: #{$value};
	}

	// Use `inspect` for lists so that quoted items keep the quotes.
	// See https://github.com/sass/sass/issues/2383#issuecomment-336349172
	--font-family-sans-serif: #{inspect($font-family-sans-serif)};
	--font-family-monospace: #{inspect($font-family-monospace)};
	
	// other colors
	--body-bg: #{$body-bg};
	--top-header-background: #{$body-bg};
	
	// headings
	@each $size, $value in $headline-sizes {
		--headline-size-#{$size}: #{$value};
	}

	--headings-font-family: #{inspect($headings-font-family)};
	--headings-font-weight: #{$headings-font-weight};
	--headings-line-height: #{$headings-line-height};
	--headings-color: #{$headings-color};

	// spacing
	--pane-padding: #{$pane-padding};
	--toolbar-padding: #{$toolbar-padding};
}
