@use 'variables' as *;
@use 'functions';
@use 'mixins/typography' as *;

// Typography
//

html {
	font-size: 16px; // = 1rem (for spacing)
}

body {
	font-family: $font-family-base, sans-serif;
	font-weight: $font-weight-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $body-color;
}

h1, .h1 {
	@include h1();
}

h2, .h2 {
	@include h2();
}

h3, .h3 {
	@include h3();
}

h4, .h4 {
	@include h4();
}

h5, .h5 {
	@include h5();
}

h6, .h6 {
	@include h6();
}

p {
	margin-bottom: $paragraph-margin-bottom;
}

a:not(.cui-button-button) {
	color: var(--link-color, #{$link-color});
	text-decoration: $link-decoration;

	&:hover,
	&:focus {
		color: var(--link-hover-color, #{$link-hover-color});
		text-decoration: $link-hover-decoration;
	}

	&:focus {
		outline: 1px solid $component-focus-border-color;
		box-shadow: inset 0 0 0 1px $component-focus-shadow-color, 0 0 0 1px $component-focus-shadow-color;
	}
}

b, strong {
	font-weight: $font-weight-bold;
}

.italic {
	font-style: italic;
}

ul, ol {
	padding-left: $spacer;
}

kbd {
	padding: 1px $spacer-xs;
	display: inline-block;
	border: 1px solid $gray-400;
	background: white;
	border-radius: $border-radius-sm;
	text-align: center;
}
