// Typography
//

html {
	font-size: 16px;
}

body {
	font-family: $font-family-base, sans-serif;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	color: $body-color;
}

p {
	margin-bottom: $paragraph-margin-bottom;
}

a {
	color: $link-color;
	text-decoration: $link-decoration;

	&:hover,
	&:focus {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}

b, strong {
	font-weight: $font-weight-bold;
}

.italic {
	font-style: italic;
}

ul, ol {
	padding-left: $spacer;
}
