@use "functions";
@use "mixins/typography";
@use "variables" as v;

// Typography
//

html {
	font-size: 16px; // = 1rem (for spacing)
}

body {
	font-family: v.$font-family-base, sans-serif;
	font-weight: v.$font-weight-base;
	font-size: v.$font-size-base;
	line-height: v.$line-height-base;
	color: v.$body-color;
}

h1, .h1 {
	@include typography.h1();
}

h2, .h2 {
	@include typography.h2();
}

h3, .h3 {
	@include typography.h3();
}

h4, .h4 {
	@include typography.h4();
}

h5, .h5 {
	@include typography.h5();
}

h6, .h6 {
	@include typography.h6();
}

p {
	margin-bottom: v.$paragraph-margin-bottom;
}

a:not(.cui-button-button) {
	color: var(--link-color, #{v.$link-color});
	text-decoration: v.$link-decoration;

	&:hover,
	&:focus {
		color: var(--link-hover-color, #{v.$link-hover-color});
		text-decoration: v.$link-hover-decoration;
	}

	&:focus {
		outline: 1px solid v.$component-focus-border-color;
		box-shadow: inset 0 0 0 1px v.$component-focus-shadow-color, 0 0 0 1px v.$component-focus-shadow-color;
	}
}

b, strong {
	font-weight: v.$font-weight-bold;
}

.italic {
	font-style: italic;
}

ul, ol {
	padding-left: v.$spacer;
}

kbd {
	padding: 1px v.$spacer-xs;
	display: inline-block;
	border: 1px solid v.$gray-400;
	background: white;
	border-radius: v.$border-radius-sm;
	text-align: center;
}
