/*

* Variables

Naming conventions:
GLOBAL_PROPERTY_MODIFIER or for components: COMPONENT_PROPERTY_MODIFIER
COMPONENT is the component name
PROPERTY is the main property to style, e.g. height, padding or a custom attribute name that is specific to that component
MODIFIER concerns either a state or a sizing or both, XXX-hover, XXX-sm
- use XXX-color to define a font color, e.g. btn-color
- use XXX-background for background colors, e.g. XXX-active-background


* Naming conventions for classnames

- always prefix with ".cui-"
- use same pattern as variables: GLOBAL_PROPERTY_MODIFIER, see above

- DO: cui-box-sm | cui-box-md | cui-box-lg (modifier or qualifier at the end!)
- DON'T: cui-small-box | cui-medium-box | cui-large-box  (modifier or qualifier in the middle)

*/


@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,700,900&display=swap');

// Color system
// ==========================================

$white:    #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212121 !default;
$black:    #000000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
	(
		'100': $gray-100,
		'200': $gray-200,
		'300': $gray-300,
		'400': $gray-400,
		'500': $gray-500,
		'600': $gray-600,
		'700': $gray-700,
		'800': $gray-800,
		'900': $gray-900
	),
	$grays
);

$blue:    #45a3ba !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #f25754 !default;
$red:     #dc3545 !default;
$orange:  #ff5724 !default;
$yellow:  #ffbf00 !default;
$green:   #28a745 !default;
$teal:    #73d4a2 !default;
$cyan:    #17a2b8 !default;
$brown:   #986801 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
	(
		'blue':       $blue,
		'indigo':     $indigo,
		'purple':     $purple,
		'pink':       $pink,
		'red':        $red,
		'orange':     $orange,
		'yellow':     $yellow,
		'green':      $green,
		'teal':       $teal,
		'cyan':       $cyan,
		'white':      $white,
		'gray':       $gray-600,
		'gray-dark':  $gray-800
	),
	$colors
);

$primary:       $orange !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
$muted:         $gray-500 !default;
$disabled:      $muted !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
	(
		'primary':    $primary,
		'secondary':  $secondary,
		'success':    $success,
		'info':       $info,
		'warning':    $warning,
		'danger':     $danger,
		'light':      $light,
		'dark':       $dark,
		'muted':      $muted,
		'disabled':   $disabled,
		// use for button and form focus state:
		'focused':    $cyan,
	),
	$theme-colors
);

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;


// Spacing
// ==========================================

$spacer: 		1rem !default;
$spacer-xs: 	$spacer * 0.25 !default;
$spacer-sm: 	$spacer * 0.5 !default;
$spacer-base: 	$spacer !default;
$spacer-lg: 	$spacer * 1.5 !default;
$spacer-xl: 	$spacer * 3 !default;
// The component padding is to be used for the default component padding (usually with the modifier "--padding")
$component-padding-base: $spacer-sm !default;

// Body
// ==========================================
//
// Settings for the `<body>` element.

$body-bg:		$white !default; // $gray-100 !default;
$body-color:	$gray-900 !default;

// Links
// ==========================================
//
// Style anchor elements.

$link-color:			theme-color('primary') !default;
$link-decoration:		underline !default;
$link-hover-color:		darken($link-color, 15%) !default;
$link-hover-decoration:	none !default;


// Paragraphs
// ==========================================
//
// Style p element.

$paragraph-margin-bottom:   1rem !default;


// Grid breakpoints
// ==========================================
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, '$container-max-widths');


// Typography
// ==========================================
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Lato', sans-serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-xl:                $font-size-base * 1.25 !default; // todo: do we really need this "bigger" font size
$font-size-lg:                $font-size-base * 1.125 !default; // 18
$font-size-sm:                $font-size-base * 0.875 !default; // 14
$font-size-xs:                $font-size-base * 0.7875 !default; // 12,6

$font-weight-lighter:         200 !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          900 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;
$line-height-sm:			  1.3 !default;

// todo
$h1-font-size:                $font-size-base * 1.5 !default; // upper case
$h2-font-size:                $font-size-base * 1.5 !default; // normal case
$h3-font-size:                $font-size-base * 1.25 !default;
$h4-font-size:                $font-size-base * 1.1 !default;
$h5-font-size:                $font-size-base * 1 !default;
$h6-font-size:                $font-size-base !default;

$headline-sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$headline-sizes: map-merge(
	(
		'h1': $h1-font-size,
		'h2': $h2-font-size,
		'h3': $h3-font-size,
		'h4': $h4-font-size,
		'h5': $h5-font-size,
		'h6': $h6-font-size
	),
	$headline-sizes
);

$headings-margin-bottom:      $spacer / 2 !default;
$headings-font-family:        $font-family-base !default;
$headings-font-weight:        $font-weight-bolder !default;
$headings-line-height:        1.2 !default;
$headings-color:              null !default;

// Borders
// ==========================================
$border-radius-sm: 	2px !default;
$border-radius: 	3px !default;
$border-radius-lg:  4px !default;

$hr-border-color:   gray('200') !default;
$hr-border-width:   1px !default;

// Icons
// ==========================================
$icon-font-size: 	$font-size-sm !default; // was: 14px


// Buttons
// ==========================================
// We use an absolute height to define the button height instead of padding-y.
// This is more predictable and can be better combined with toolbar and panel header heights etc.

$enable-btn-border-radius: 	1; // 1 | 0

$btn-font-family: 			$font-family-base !default;
$btn-font-weight: 			$font-weight-base !default;
$btn-border-width: 			0 !default;
$btn-box-shadow:			0 2px 3px rgba(0, 0, 0, 0.14) !default;
$btn-background: 			$white !default;
$btn-color: 				$body-color !default;

// Normal size
$btn-padding-x: 			0.85rem !default;
$btn-height: 				34px !default;
$btn-font-size: 			$font-size-sm !default;
$btn-border-radius:			$enable-btn-border-radius * 2px !default;
// Small size
$btn-padding-x-sm: 			0.65rem !default;
$btn-height-sm: 			28px !default;
$btn-font-size-sm: 			$font-size-xs !default;
$btn-border-radius-sm:		$enable-btn-border-radius * 2px !default;
// Large size
$btn-padding-x-lg: 			1.25rem !default;
$btn-height-lg: 			42px !default;
$btn-font-size-lg: 			$font-size-lg !default;
$btn-border-radius-lg:		$enable-btn-border-radius * 3px !default;

$btn-focus-shadow: 			0 0 0 3px rgba(theme-color('focused'), 0.3);

// Buttonbar
// ==========================================
$buttonbar-gap: 	$spacer-sm !default;

// Labels
// ==========================================
$label-padding: $spacer-sm !default;

// Handle (Drag & Drop, Move Rows etc.)
// ==========================================
$handle-color: 		gray('400');

// Item list
// ==========================================
$item-list-hover-color: 		$white !default;
$item-list-hover-background:	theme-color('primary') !default;
$item-list-active-color: 		$body-color !default;
$item-list-active-background:	gray('200') !default;
$item-list-indent: 				$btn-padding-x !default;
$item-list-height: 				$btn-height !default;
$item-list-height-sm: 			$btn-height-sm !default;

// Menu
// ==========================================
$menu-border-radius: $border-radius-lg !default;

// Panel
// ==========================================
$panel-border-color: gray('400') !default;

// Toolbar
// ==========================================
$toolbar-height: 40px !default;
$toolbar-background: transparent !default; // leave transparent by default and style dependent on where the toolbar is used
$toolbar-padding: $component-padding-base !default;

// Pane
// ==========================================
$pane-background:  				theme-color('light') !default;
$pane-padding: 					$component-padding-base !default;
$pane-window-border-color: 		gray('200') !default;

// Input
// ==========================================
// $input-font-size: $font-size-base !default;
$input-height: 				$btn-height !default;
$input-height-sm: 			$btn-height-sm !default;
$input-background: 			$white !default;
$input-border-color: 		gray('400') !default;
$input-border-radius: 		$btn-border-radius !default;
$input-placeholder-color: 	gray('500') !default;
$input-min-width:			100px !default;
$input-padding-x: 			$component-padding-base !default;
$input-padding-y: 			$spacer-xs !default;
$input-focus-shadow:		$btn-focus-shadow !default;
$input-focus-border-color:	rgba(theme-color('focused'), 0.5) !default;

// Data-Field
// ==========================================
$data-field-width: 275px !default; // used to be: "$input-width"

// Checkbox
// ==========================================
$checkbox-border-color: 		$body-color !default;
$checkbox-background: 			$white !default;
$checkbox-active-background: 	$body-color !default;
$checkbox-size: 				16px !default;
$checkbox-icon-size: 			12px !default;
$checkbox-border-radius: 		2px !default;
$checkbox-margin:				$checkbox-icon-size/2 !default;

// Table & ListView
// ==========================================
$table-border-color: 	gray('200') !default;
$table-border-radius:	$border-radius-sm !default;
$table-data-height: 	34px !default;
$table-data-width: 		135px !default; // old: $td-width
$table-even-background:	gray('100') !default;
$table-odd-background:	transparent !default;
$table-padding-x:		$spacer-sm*2 !default; // todo: use $component-padding-base ??
$table-padding-y:		$spacer-sm !default; // todo: $component-padding-base ??
$table-row-hover-background: gray('100') !default;

// List View
// ==========================================
$list-view-font-size:					$font-size-sm !default;
$list-view-data-height: 				1rem !default;
$list-view-data-width: 					125px !default;
$list-view-padding-x:					$spacer-xs*3 !default; // was: $table-padding-x
$list-view-padding-y:					$spacer-xs !default; // was: $table-padding-y, needs to be small so the explicit height of the fixed rows will cut off the text correctly after the first line
$list-view-selected-row-background:		rgba(theme-color('focused'), 0.2) !default;
$list-view-move-handle-width:			$list-view-font-size !default;
$list-view-move-target-area-background:	rgba(theme-color('focused'), 0.5) !default;

// List View Tree
// ==========================================
$tree-node-handle-width: 14px !default;

// Form
// ==========================================
$form-padding: 				$component-padding-base !default;
$form-key-width:			$table-data-width !default;
$form-key-min-width:		100px !default;
$form-label-color: 			gray('600') !default;
$form-label-font-weight: 	$font-weight-normal !default;
$form-label-font-size: 		$font-size-base !default; // if changed, you need to change the padding of labels in cui-form-key + cui-form-value
$form-cell-gap: 			$spacer-sm !default;

// Calendar
// ==========================================
$calendar-font-size: 				$font-size-sm !default;
$calendar-cell-size:				28px !default;
$calendar-cell-count:				8 !default;
$calendar-background:				$white !default;
$calendar-static-cells-background: 	lighten(gray('200'), 1%) !default;
$calendar-static-cells-color: 		gray('500') !default;
$calendar-date-active-background:	theme-color('primary') !default;
$calendar-date-hover-background:	rgba($calendar-date-active-background, 0.2) !default;
$calendar-date-previous-color:		gray('500') !default;

// Block
// ==========================================
$block-padding: 			$component-padding-base !default;
$block-header-column-width:	200px !default;

// Slider
// ==========================================
$slider-handle-size:				1rem !default;
$slider-handle-background:			$dark !default;
$slider-handle-border-width:		0 !default;
$slider-handle-border-color:		$input-border-color !default;
$slider-handle-border-radius:		999px !default;
$slider-track-height: 				4px !default;
$slider-track-background: 			$input-border-color !default;
$slider-track-active-background: 	$slider-handle-background !default;
$slider-track-border-width:			0 !default;
$slider-track-border-color:			$input-border-color !default;
$slider-track-border-radius:		$border-radius-sm !default;

// Layer
// ==========================================
$layer-sizes: (
	xs: 	400,
	s: 		500,
	m: 		600,
	l: 		700,
	xl: 	800,
	xxl: 	900,
	xxxl: 	1000
) !default;

$layer-background: 			$body-bg !default;
$layer-border-radius: 		$border-radius !default;

// Tooltip
// ==========================================
$tooltip-pointer-size:  8px !default;
$tooltip-background: 	gray('800') !default;
$tooltip-color: 		$white !default;
$tooltip-font-size: 	12px !default;

// Drag & Drop
// ==========================================
$drop-area-focus-shadow: 	$btn-focus-shadow !default;
$drop-area-border-radius: 	$border-radius-sm !default;
$drag-lasso-background: 	theme-color('focused') !default;

// Sticky Header
// ==========================================
$sticky-header-font-size: 		$font-size-xs !default;
$sticky-header-color: 			$body-color !default;
$sticky-header-border-color:	theme-color('dark') !default;

// Digi Display
// ==========================================
$digi-display-font-size: 	15px !default;
$digi-display-line-height: 	$line-height-sm !default;
$digi-display-font-family: 	$font-family-monospace !default;

// Tabs
// ==========================================
$tabs-padding: 						$component-padding-base !default;
$tabs-header-height: 				$btn-height + 6px !default;
$tabs-header-height-sm:			$btn-height-sm + 2px !default;
$tabs-header-border-color: 			gray('300') !default;
$tabs-header-border-width: 			3px !default;
$tabs-header-border-width-sm: 		2px !default;
$tabs-overflow-button-background: 	darken($tabs-header-border-color, 5%) !default;
$tabs-overflow-button-color: 		$body-color !default;
