@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');

// Color system
// ==========================================

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212121 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
	(
		'100': $gray-100,
		'200': $gray-200,
		'300': $gray-300,
		'400': $gray-400,
		'500': $gray-500,
		'600': $gray-600,
		'700': $gray-700,
		'800': $gray-800,
		'900': $gray-900
	),
	$grays
);

$blue:    #45a3ba !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #f25754 !default;
$red:     #dc3545 !default;
$orange:  #ff5724 !default;
$yellow:  #ffbf00 !default;
$green:   #28a745 !default;
$teal:    #73d4a2 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
	(
		'blue':       $blue,
		'indigo':     $indigo,
		'purple':     $purple,
		'pink':       $pink,
		'red':        $red,
		'orange':     $orange,
		'yellow':     $yellow,
		'green':      $green,
		'teal':       $teal,
		'cyan':       $cyan,
		'white':      $white,
		'gray':       $gray-600,
		'gray-dark':  $gray-800
	),
	$colors
);

$primary:       $orange !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
	(
		'primary':    $primary,
		'secondary':  $secondary,
		'success':    $success,
		'info':       $info,
		'warning':    $warning,
		'danger':     $danger,
		'light':      $light,
		'dark':       $dark
	),
	$theme-colors
);

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;


// Spacing
// ==========================================

$spacer: 		1rem !default;
$spacer-xs: 	$spacer * 0.25 !default;
$spacer-sm: 	$spacer * 0.5 !default;
$spacer-base: 	$spacer !default;
$spacer-lg: 	$spacer * 1.5 !default;
$spacer-xl: 	$spacer * 3 !default;

// Body
// ==========================================
//
// Settings for the `<body>` element.

$body-bg:		$gray-100 !default;
$body-color:	$gray-900 !default;


// Links
// ==========================================
//
// Style anchor elements.

$link-color:			theme-color('primary') !default;
$link-decoration:		none !default;
$link-hover-color:		darken($link-color, 15%) !default;
$link-hover-decoration:	underline !default;


// Paragraphs
// ==========================================
//
// Style p element.

$paragraph-margin-bottom:   1rem !default;


// Grid breakpoints
// ==========================================
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, '$container-max-widths');


// Typography
// ==========================================
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Lato', sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * 0.875 !default;
$font-size-xs:                $font-size-base * 0.7875 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      $spacer / 2 !default;
$headings-font-family:        $font-family-base !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              null !default;

// Borders
// ==========================================
$border-radius-sm: 	2px !default;
$border-radius: 	3px !default;
$border-radius-lg:  4px !default;


// Buttons
// ==========================================
// We use an absolute height to define the button height instead of padding-y.
// This is more predictable and can be better combined with toolbar and panel header heights etc.
$enable-btn-border-radius: 	1; // 1 | 0

$btn-font-family: 			$font-family-base !default;
$btn-font-weight: 			$font-weight-base !default;
$btn-border-width: 			0 !default;
$btn-box-shadow:			0 2px 3px rgba(0, 0, 0, 0.14) !default;
$btn-bg-color: 				$white;

// Normal size
$btn-padding-x: 			0.85rem !default;
$btn-height: 				34px !default;
$btn-font-size: 			$font-size-sm !default;
$btn-border-radius:			$enable-btn-border-radius * 2px !default;
// Small size
$btn-padding-x-sm: 			0.5rem !default;
$btn-height-sm: 			28px !default;
$btn-font-size-sm: 			$btn-font-size * 0.8575 !default;
$btn-border-radius-sm:		$enable-btn-border-radius * 1px !default;
// Large size
$btn-padding-x-lg: 			1.25rem !default;
$btn-height-lg: 			46px !default;
$btn-font-size-lg: 			$btn-font-size * 1.25 !default;
$btn-border-radius-lg:		$enable-btn-border-radius * 3px !default;


// Item list
// ==========================================
$item-list-hover-color: 		$white !default;
$item-list-hover-background:	theme-color('primary') !default;
$item-list-active-color: 		$body-color;
$item-list-active-background:	gray('200') !default;
$item-list-indent: 				$btn-padding-x !default;
$item-list-height: 				$btn-height !default;
$item-list-height-sm: 			$btn-height-sm !default;


// Menu
// ==========================================
$menu-border-radius: $border-radius-lg !default;
