
.cui-progress-meter-demo-container {

	position: relative;
	width: 200px;
	height: 200px;

	background: $default_background_color;
	border: 1px solid $group_border_color;

}

.cui-waiting-block-demo {
	position: relative;
	height: 200px;
	width: 200px;
}