

$outline_width: $grid_size;

.cui-file-upload-drop-zone.cui-file-upload-drag-over:after {
	pointer-events: none;
	display: block;
	position: absolute;
	top: $outline_width;
	bottom: $outline_width;
	left: $outline_width;
	right: $outline_width;
	content: '';
	outline: $outline_width solid $dropzone_highlighted_color;
	transition: outline-color ease $default_animation_speed;
}

//tr cant have position absolute for an outline, so we use the background color
// and the button is to small for an outline
tr,
.cui-button {
	&.cui-file-upload-drop-zone.cui-file-upload-drag-over {
		background-color: $dropzone_highlighted_color !important;

		@if $row_background_color_in_cells {
			.cui-list-view-grid-cell {
				background-color: $dropzone_highlighted_color !important;
			}
		}

		&:after {
			outline: 0;
		}
	}
}


.cui-file-upload-progress-meter {
	width: 100%;
	height: 100%;
	position: relative;
}

//uploaded image thumbnail
.cui-file-upload-file-img  {
	display: inline-block;
	font-size: 0;

	> div {
		display: table-cell;
		width: 80px;
		height: 80px;
		text-align: center;
		vertical-align: middle;
	}

	&.landscape > div > img {
		width: 100%;
	}

	&.portrait > div > img {
		height: 100%;
	}
}
