.cui-tooltip {
	z-index: 2;

	> .cui-pane {
		max-width: 500px;

		//use same padding on y as on x
		> .cui-vertical-layout-center {
			margin-top: map_get($outer_padding_x,normal);
			margin-bottom: map_get($outer_padding_x,normal);
		}
	}

}
