
//TODO make this form width flexible
$form_input_column-width: 300px;

@mixin set_data_table_column_size( $field_name, $width) {
	.cui-data-table-column-field-name-#{$field_name} {
		width: $width;
		.cui-data-field {
			width: 100% !important;
			min-width: 0 !important; //TODO remove
		}
	}

	//REMARKED moved into code
	////TODO could this be standard in datatables!?
	//.cui-label {
	//	@extend %label_multiline;
	//}
}


.cui-data-table {

	margin-top: $grid_size*.5;
	margin-bottom: $grid_size*.5;

	//set min width of fields and empty listview
	& .cui-data-field-input {
		//TODO remove min-width in set_data_table_column_size when this is removed!
		min-width: $form_input_column-width;
	}

	//TODO why is this inside  .cui-list-view and the previous not. everything should be inside listview!?
	& .cui-list-view .cui-data-field-input {
		min-width: $form_input_column-width - $list_view_move_handle_width - $list_view_cell_padding * 2;
	}

	@extend %debug_datafield_left_right_deprecated_marker;

	//min default empty table width
	& > .cui-list-view {
		& > .cui-vertical-layout-center {
			& > .cui-list-view-grid > .cui-list-view-grid-inner-top    > .cui-list-view-grid-quadrant-1 ,
			& > .cui-list-view-grid > .cui-list-view-grid-inner-bottom > .cui-list-view-grid-quadrant-3 {
				& > table > tbody > .cui-list-view-grid-row,
				& > .cui-list-view-grid-row {
					min-width: $form_input_column-width;
				}
			}
		}
	}

	& > .cui-list-view {
		& > .cui-vertical-layout-center {
			& > .cui-list-view-grid.cui-list-view-grid-fixed-col-has-only-row-move-handle > .cui-list-view-grid-inner-top    > .cui-list-view-grid-quadrant-1 ,
			& > .cui-list-view-grid.cui-list-view-grid-fixed-col-has-only-row-move-handle > .cui-list-view-grid-inner-bottom > .cui-list-view-grid-quadrant-3 {
				& > table > tbody > .cui-list-view-grid-row,
				& > .cui-list-view-grid-row {
					min-width: $form_input_column-width - $list_view_move_handle_width;

					.cui-textarea,
					.cui-input,
					.cui-password {
						width: $form_input_column-width - $list_view_move_handle_width - $list_view_cell_padding * 2;
						min-width: 0;
					}
				}
			}
		}
	}
}

//TODO find a better way to make sure that form -> datatable -> field structures are working
//TODO put in other field types when there are examples ... should all be fixed in less_scss branch ...needs BasicTypes and FieldNames
.cui-form {
	.cui-data-table {

		.cui-list-view .cui-data-field-input:not(.cui-checkbox) {

			min-width: $form_input_column-width - $list_view_move_handle_width - $list_view_cell_padding * 2 !important;
			width: 100% !important;
		}

		//make sure the table is not collapsing when empty
		width: auto !important;

		.list-view-header-row > .cui-list-view-grid-cell-col:not(.cui-list-view-row-move-handle-column) {
			.cui-label {
				width: 300px; //size

				&.cui-tmpl-label-rotate-90 {
					width: 20px;
				}
			}
		}
	}

}

