@mixin block-grid() {
	// with border-bottom
	&.cui-block-level-1,
	&.cui-block-level-2,
	&.cui-block-level-3 {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background: $hr-border-color;
		}

		// &.cui-block--padded {
		// 	&::after {
		// 		margin: 0 $block-padding;
		// 	}
		// }
	}

	// Level 1
	&.cui-block-level-1 {
		> .cui-block-content {
			color: theme-color('secondary');
		}
	}

	// Level 2 = two columns
	&.cui-block-level-2 {
		display: grid;
		grid-template-columns: $block-header-column-width 1fr;
		grid-gap: 0 $spacer-xl; // todo: needs IE fix, use grid-template-areas
	}
}

@mixin block-icon($color) {
	content: '';
	position: absolute;
	padding: 1px 1px 0 1px;
	border: 3px solid $color;
	border-left: 0;
	border-right: 0;
	width: $block-icon-width;
	height: $block-icon-height;
}

@mixin reset-block-icon() {
	&::before,
	&::after {
		display: none;
	}

	> .cui-block-header .cui-block-title {
		padding-left: 0;
		
		&::before,
		&::after {
			display: none;
		}
	}

	.cui-block-content {
		padding-left: 0;
	}
}
