@mixin block-grid {
	// with border-bottom
	&.cui-block-level-1,
	&.cui-block-level-2,
	&.cui-block-level-3 {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background: $hr-border-color;
		}

		&.cui-block--padded {
			&::after {
				margin: 0 $block-padding;
			}
		}
	}

	// Level 1
	&.cui-block-level-1 {
		> .cui-block-header .cui-block-title {
			font-size: $h2-font-size;
			line-height: $headings-line-height;
		}

		> .cui-block-content {
			color: theme-color('secondary');
		}
	}

	// Level 2 = two columns
	&.cui-block-level-2 {
		display: grid;
		grid-template-columns: $block-header-column-width 1fr;
		grid-gap: 0 $spacer-xl; // todo: needs IE fix, use grid-template-areas
	}

	// Level 3
	// todo: find use-case
	&.cui-block-level-3 {
		> .cui-block-header .cui-block-title {
			font-size: $font-size-sm;
			text-transform: uppercase;
			letter-spacing: 0.03em;
		}
	}
}
