@mixin buttonbar-horizontal {
	flex-direction: row;

	> *:not(:last-child) {
		margin-right: $buttonbar-gap;
	}

	.cui-buttonbar-group {
		.cui-button,
		.cui-select {
			.cui-button-visual {
				border: $btn-border-width solid $body-color;
			}

			&:not(:last-child) .cui-button-visual {
				border-right: 0;
			}

			&:first-child:not(:only-child) .cui-button-visual {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:last-child:not(:only-child) .cui-button-visual {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}

			&:not(:first-child):not(:last-child) .cui-button-visual {
				border-radius: 0;
			}
		}
	}
}

@mixin buttonbar-vertical {
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;

	> *:not(:last-child) {
		margin-bottom: $buttonbar-gap;
	}

	.cui-buttonbar-group {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		.cui-button,
		.cui-select {
			.cui-button-visual {
				border: $btn-border-width solid $body-color;
			}

			&:not(:last-child) .cui-button-visual {
				border-bottom: 0;
			}

			&:first-child:not(:only-child) .cui-button-visual {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				border-top-left-radius: $btn-border-radius;
				border-top-right-radius: $btn-border-radius;
			}

			&:last-child:not(:only-child) .cui-button-visual {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				border-bottom-left-radius: $btn-border-radius;
				border-bottom-right-radius: $btn-border-radius;
			}

			&:not(:first-child):not(:last-child) .cui-button-visual {
				border-radius: 0;
			}
		}
	}
}

@mixin buttonbar-horizontal-tight() {
	.cui-button {
		margin: 0;

		~ .cui-buttonbar-group {
			margin: 0 $buttonbar-gap;
		}
	}
}

@mixin buttonbar-vertical-tight() {
	.cui-button {
		margin: 0;

		~ .cui-buttonbar-group {
			margin: $buttonbar-gap 0;
		}
	}
}
