// Button sizes
@mixin button-size($height, $padding-x, $font-size, $border-radius) {
	// padding: 0 $padding-x;
	height: $height;
	min-width: 1.1*$height; // make icon-only buttons optically square
	font-size: $font-size;
	line-height: $height;
	border-radius: $border-radius;

	.cui-button-left {
		padding-left: $padding-x;
		margin-right: -0.5*$padding-x;

		// reset, do not use :not, so we can easily override these styles if needed
		&:empty,
		&:only-child {
			padding-left: 0;
			margin-right: 0;
		}
	}

	.cui-button-right {
		padding-right: $padding-x;
		margin-left: -0.5*$padding-x;

		// reset, do not use :not, so we can easily override these styles if needed
		&:empty,
		&:only-child {
			padding-right: 0;
			margin-left: 0;
		}
	}

	.cui-button-center {
		@include text-truncate();

		padding: 0 $padding-x;

		// there are some button that have an empty center element, adjust accordingly
		&:empty {
			margin-left: -0.5*$padding-x;
		}
	}
}

@mixin button-md() {
	.cui-button-visual {
		@include button-size($btn-height, $btn-padding-x, $btn-font-size, $btn-border-radius);
	}
}

@mixin button-sm() {
	.cui-button-visual {
		@include button-size($btn-height-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
	}
}

@mixin button-lg() {
	.cui-button-visual {
		@include button-size($btn-height-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
	}
}

@mixin button-xs() {
	.cui-button-visual {
		@include button-size(16px, 0.25em, 12px, 2px);
	}
}

@mixin button-color($background: $btn-background, $color: $btn-color, $background-hover: $btn-hover-background, $color-hover: $btn-hover-color, $background-active: $btn-active-background, $color-active: $btn-active-color, $focus-inset: 0) {
	.cui-button-visual {
		background-color: $background;
		color: $color;
	}

	&:hover,
	&:focus {
		.cui-button-visual {
			color: $color-hover;
			background-color: $background-hover;
		}
	}

	&:focus {
		outline: none;

		.cui-button-visual {
			@include button-focus($focus-inset);
		}
	}

	&:active {
		.cui-button-visual {
			color: $color-hover;
			background-color: darken($background-hover, 6%);
		}
	}

	&.cui-active,
	&.cui-layer-open {
		.cui-button-visual {
			color: $color-active;
			background-color: $background-active;
		}

		&:hover,
		&:focus {
			.cui-button-visual {
				color: $color-active;
				background-color: $background-active;
			}
		}
	}
}

@mixin button-color-reset($background: transparent, $color: $body-color) {
	@include button-color($background, $color, $background, $color, $background, $color);
}

@mixin button-primary() {
	$background: $btn-primary-background;
	$color: color-yiq($btn-primary-background);

	$background-hover: darken($btn-primary-background, 10%);
	$color-hover: $color;

	$background-active: $background-hover;
	$color-active: $color;

	@include button-color($background, $color, $background-hover, $color-hover, $background-active, $color-active);
}

@mixin button-secondary() {
	$background: $btn-secondary-background;
	$color: color-yiq($btn-secondary-background);

	$background-hover: darken($btn-secondary-background, 5%);
	$color-hover: $color;

	$background-active: $background-hover;
	$color-active: $color;

	@include button-color($background, $color, $background-hover, $color-hover, $background-active, $color-active);
}

@mixin button-on-colored-background($opacity: 0.6) {
	$background-color: gray('200');

	$background: rgba($background-color, $opacity);
	$color: color-yiq($background);

	$background-hover: rgba($background-color, 0.95);
	$color-hover: $color;

	$background-active: $background-hover;
	$color-active: $color;

	@include button-color($background, $color, $background-hover, $color-hover, $background-active, $color-active);
}

@mixin button-inverted($border: 0) {
	@include button-color(rgba(gray('900'), 0.6), gray('300'), $body-color, $white, $body-color, $white);

	@if $border == 1 {
		.cui-button-visual {
			border-color: rgba(gray('200'), 0.3);
		}
	}
}

@mixin button-dimmed($focus-inset: 0) {
	$background: transparent;
	$color: $gray-500;

	$background-hover: transparent;
	$color-hover: $body-color;

	$background-active: transparent;
	$color-active: $body-color;

	@include button-color($background, $color, $background-hover, $color-hover, $background-active, $color-active, $focus-inset);
}

@mixin button-link() {
	@include button-color(transparent, $link-color, transparent, $link-color, transparent, $link-color);

	.cui-button-visual {
		height: auto;

		.cui-button-center {
			text-decoration: underline;
			word-break: break-all;
		}

		.cui-button-center:first-child,
		.cui-button-left:empty + .cui-button-center {
			padding-left: 0;
		}

		.cui-button-center:last-child,
		.cui-button-center:only-child {
			padding-right: 0;
		}
	}

	&:hover,
	&:focus {
		.cui-button-visual .cui-button-center {
			text-decoration: none;
		}
	}
}

@mixin button-bordered($border-color: $body-color) {
	.cui-button-visual {
		border: $btn-border-width solid $border-color;
	}

	&:focus .cui-button-visual {
		border-color: theme-color('focused');
	}

	&.cui-button--primary {
		.cui-button-visual {
			border-color: $btn-primary-background;
		}

		&:focus .cui-button-visual {
			border-color: darken($btn-primary-background, 15%);
		}
	}
}

@mixin button-focus($focus-inset: 0) {
	outline: none;

	// todo: find focus color that works with all colored buttons, see mixins/_forms
	@if $enable-btn-border-radius {
		@if $focus-inset == 1 {
			box-shadow: inset $btn-focus-shadow !important;
		}

		@else {
			box-shadow: $btn-focus-shadow !important; // keeps border-radius, but what about buttongroup buttons ?
		}
	}

	@else {
		outline: 3px solid rgba(theme-color('focused'), 0.3); // use outline and not box-shadow because flat buttons remove the shadow
	}

	z-index: 1; // put forward to see outline
}

@mixin disable-button-focus() {
	box-shadow: none;
	outline: 0;
	z-index: 0;
}

// Control button
// e.g. multi-input-tag-button (language selection), delete icon button in --deleteable
@mixin input-control-button($width: 22px, $height: 20px) {
	@include button-dimmed();

	.cui-button-visual {
		font-size: 10px;
		width: $width;
		height: $height;
		line-height: $height;
		min-width: 0;

		.cui-button-center {
			padding: 0 $spacer-xs;
		}
	}
}
