@use "../variables" as v;

@mixin checkbox-sm() {
	min-height: v.$input-height-sm;
	line-height: v.$input-height-sm;

	.cui-button-visual {
		line-height: v.$line-height-sm;
	}
}

@mixin checkbox-convert-to-toggle-switch() {
	font-weight: v.$font-weight-bold;
	
	.cui-button-left {
		position: relative;
		width: v.$toggle-switch-width;
		height: v.$toggle-switch-height;
		top: 3px;

		i, span {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 25px;

			&::before {
				content: '';
				display: block;
				position: absolute;
				width: v.$toggle-switch-nose-size;
				height: v.$toggle-switch-nose-size;
				border-radius: 50%;
			}
		}
		
		// checked
		i {
			border: 1px solid v.$toggle-switch-active-background;
			background-color: v.$toggle-switch-active-background;
			
			&::before {
				right: v.$toggle-switch-nose-offset;
				background-color: v.$toggle-switch-active-color;
			}

			&::after {
				display: none;
			}
		}

		// not checked
		span {
			border: 1px solid v.$toggle-switch-color;
			background-color: v.$toggle-switch-background;

			&::before {
				left: v.$toggle-switch-nose-offset;
				background-color: v.$toggle-switch-color;
			}
		}
	}
}

@mixin checkbox-inverted() {
	--checkbox-border-color: #{v.$white};
	--checkbox-background: #{v.$gray-100};
	--checkbox-active-background: #{v.$white}; // = active border
	--checkbox-active-color: #{v.$body-color};
}
