@use "../variables" as *;

@mixin checkbox-sm() {
	min-height: $input-height-sm;
	line-height: $input-height-sm;

	.cui-button-visual {
		line-height: $line-height-sm;
	}
}

@mixin checkbox-convert-to-toggle-switch() {
	font-weight: $font-weight-bold;
	
	.cui-button-left {
		position: relative;
		width: $toggle-switch-width;
		height: $toggle-switch-height;
		top: 3px;

		i, span {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 25px;

			&::before {
				content: '';
				display: block;
				position: absolute;
				width: $toggle-switch-nose-size;
				height: $toggle-switch-nose-size;
				border-radius: 50%;
			}
		}
		
		// checked
		i {
			border: 1px solid $toggle-switch-active-background;
			background-color: $toggle-switch-active-background;
			
			&::before {
				right: $toggle-switch-nose-offset;
				background-color: $toggle-switch-active-color;
			}

			&::after {
				display: none;
			}
		}

		// not checked
		span {
			border: 1px solid $toggle-switch-color;
			background-color: $toggle-switch-background;

			&::before {
				left: $toggle-switch-nose-offset;
				background-color: $toggle-switch-color;
			}
		}
	}
}

@mixin checkbox-inverted() {
	--checkbox-border-color: #{$white};
	--checkbox-background: #{$gray-100};
	--checkbox-active-background: #{$white}; // = active border
	--checkbox-active-color: #{$body-color};
}
