@mixin debug($outline: red) {
	.dev & {
		outline: 1px solid $outline;
	}
}

@mixin debug-hard($outline: red) {
	.dev & {
		border: 1px solid $outline;
	}
}

@mixin debug-bg($bg: red) {
	.dev & {
		background: $bg;
	}
}

body.dev.is-server2 {
	&::after {
		content: '';
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 8px solid rgba(theme-color('primary'), 0.4);
		pointer-events: none;
	}
}
