// Remove layout overflow so we can see the focus outline for example
@mixin remove-layout-overflow() {
	// rule:
	// all fields that rae not within custom


	// *:not(.cui-tabs-pane-header) > {
	// 	[class*='cui-horizontal-layout'],
	// 	[class*='cui-vertical-layout'] {
	// 		&:not(.cui-tabs-pane-header) {
	// 			overflow: visible;
	// 		}
	// 	}
	// }
	*:not(.customPluginEditorLayout) {
		[class*='cui-horizontal-layout'],
		[class*='cui-vertical-layout'] {
			overflow: visible;
		}
	}

	[class*='cui-horizontal-layout'],
	[class*='cui-vertical-layout'] {
		&:not(.customPluginEditorLayout) {
			overflow: visible;
		}
	}
}

@mixin remove-layout-overflow-from-fields() {
	[class*='cui-horizontal-layout'],
	[class*='cui-vertical-layout'] {
		&:not(.cui-tabs-pane-header) {
			overflow: visible;
		}
	}
}

@mixin remove-layout-overflow-from-tabs() {
	.cui-tabs-bodies {
		overflow: visible !important;

		> .cui-tab-body {
			overflow: visible !important;
		}
	}
}
