@mixin form-hint() {
	@include label-secondary();
	
	margin-bottom: $spacer-xs;

	// if row has no key, move hint AFTER value
	.cui-form-tr--has-no-key & {
		order: 1;
		margin-left: $checkbox-form-hint-indent;
	}

	// make checkbox a little tighter
	+ .cui-checkbox {
		margin-top: -$spacer-xs;
	}
}

@mixin input-sm() {
	height: $input-height-sm;
	line-height: $input-height-sm;
}

@mixin input-focus() {
	// should always win !
	box-shadow: $input-focus-shadow !important; // see mixins/_buttons
	border-color: $input-focus-border-color !important;
	z-index: 1;
}

@mixin form-key-value-inline() {
	@include media-breakpoint-up(md) {
		.cui-form-tr,
		.cui-form-tr-header {
			display: flex;
		}

		.cui-form-key {
			flex: 0 0 auto;
			width: var(--form-key-width, #{$form-key-width});
			min-width: var(--form-key-width, #{$form-key-width});
			max-width: none;
			padding-right: $form-cell-gap;
		
			label,
			.cui-label {
				padding-top: var(--form-key-padding-top, #{$form-key-padding-top});
				padding-bottom: 0;
			}
		}

		.cui-form-value {
			flex: 1 1 auto;
			min-width: 0;
		
			input {
				min-width: 0;
			}
		
			label,
			.cui-label,
			.cui-data-field-output-label {
				padding-top: var(--form-key-padding-top, #{$form-key-padding-top});
				padding-bottom: 0;
			}

			// in case there is a list-view included in the form-value we need to reset the padding-top
			// list view will take care of spacing on its own
			.cui-list-view {
				--form-key-padding-top: 0;
			}
		}

		.cui-form-tr--has-key .cui-form-hint {
			order: 1;

			+ .cui-checkbox {
				margin-top: 0;
			}
		}
	}
}

@mixin form-key-value-stacked() {
	.cui-form-tr,
	.cui-form-tr-header {
		display: block;
	}

	.cui-form-key {
		width: auto;
		min-width: 0;
		padding-right: 0;
	
		label,
		.cui-label {
			padding-top: 0;
			padding-bottom: $form-key-padding-bottom;
		}
	}

	.cui-form-value {
		label,
		.cui-label,
		.cui-data-field-output-label {
			&:not(.cui-file-upload-drop-zone) {
				padding-top: 0;
				padding-bottom: $form-key-padding-bottom;
			}
		}
	}

	.cui-form-tr--has-key .cui-form-hint {
		order: 0;
	}
}

@mixin form-as-grid() {
	.cui-data-field {
		max-width: 100%;
	}

	> div > .cui-form-table {
		.cui-form-td {
			display: block;
			padding: 0 0 $spacer-xs;
		}

		.cui-form-key {
			max-width: none;
			width: auto;
			min-width: 0;
		}

		.cui-form-value {
			width: auto;
		}

		@include media-breakpoint-up(sm) {
			display: flex;
			flex-wrap: wrap;
			margin: 0 #{-$form-cell-gap};
			width: auto; // negative margins!

			.cui-form-tr {
				display: block;
				padding: 0 $form-cell-gap;
				width: 100%;
				margin-bottom: $form-cell-gap;

				$sizes: '1/2', '1/3', '2/3', '1/4', '2/4', '3/4', '1/5', '2/5', '3/5', '4/5';

				@each $size in $sizes {
					&[data-cui-grid='#{$size}'] {
						width: calc(#{$size} * 100%);
					}
				}
			}
		}
	}
}

@mixin data-form-field-group-indicator() {
	position: relative;
	padding: 0 0 0 0.75rem;
	
	&::before {
		content: '';
		position: absolute;
		top: var(--data-form-field-group-indicator-top, 0);
		left: 0;
		bottom: var(--data-form-field-group-indicator-bottom, 0);
		width: $data-form-field-group-border-width;
		background-color: var(--data-form-field-group-border-color, #{$data-form-field-group-border-color});
	}
}
