@mixin form-hint() {
	margin-top: $spacer-xs;
	font-size: $font-size-xs;
	line-height: $line-height-sm;
	color: theme-color('muted');
}

@mixin input-focus() {
	box-shadow: $input-focus-shadow; // see mixins/_buttons
	border-color: $input-focus-border-color;
	z-index: 1;
}

@mixin disable-input-focus() {
	&:focus {
		box-shadow: none !important;
	}
}
