@use "../variables" as v;

@mixin flex-handle-column($background: v.$body-bg) {
	background-image:
		linear-gradient(0deg, v.$flex-handle-color 1px, $background 1px, $background 2px, $background 4px, v.$flex-handle-color 4px),
		linear-gradient(0deg, $background, $background),
		linear-gradient(0deg, transparent, transparent 5px, v.$flex-handle-divider-color 6px, v.$flex-handle-divider-color 5px, transparent 5px);
	background-position:
		50% 50%,
		50% 50%,
		0 0;
	background-size:
		v.$flex-handle-length 5px,
		v.$flex-handle-length + v.$flex-handle-blocker-offset 5px,
		100%;
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat;
}

@mixin flex-handle-row($background: v.$body-bg) {
	background-image:
		linear-gradient(90deg, v.$flex-handle-color 1px, $background 1px, $background 2px, $background 4px, v.$flex-handle-color 4px),
		linear-gradient(90deg, $background, $background),
		linear-gradient(90deg, transparent, transparent 5px, v.$flex-handle-divider-color 6px, v.$flex-handle-divider-color 5px, transparent 5px);
	background-position:
		50% 50%,
		50% 50%,
		0 0;
	background-size:
		5px v.$flex-handle-length,
		5px v.$flex-handle-length + v.$flex-handle-blocker-offset,
		100%;
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat;
}
