@mixin flex-handle-column($background: $body-bg) {
	background-image:
		linear-gradient(0deg, $flex-handle-color 1px, $background 1px, $background 2px, $background 4px, $flex-handle-color 4px),
		linear-gradient(0deg, $background, $background),
		linear-gradient(0deg, transparent, transparent 5px, $flex-handle-divider-color 6px, $flex-handle-divider-color 5px, transparent 5px);
	background-position:
		50% 50%,
		50% 50%,
		0 0;
	background-size:
		$flex-handle-length 5px,
		$flex-handle-length + $flex-handle-blocker-offset 5px,
		100%;
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat;
}

@mixin flex-handle-row($background: $body-bg) {
	background-image:
		linear-gradient(90deg, $flex-handle-color 1px, $background 1px, $background 2px, $background 4px, $flex-handle-color 4px),
		linear-gradient(90deg, $background, $background),
		linear-gradient(90deg, transparent, transparent 5px, $flex-handle-divider-color 6px, $flex-handle-divider-color 5px, transparent 5px);
	background-position:
		50% 50%,
		50% 50%,
		0 0;
	background-size:
		5px $flex-handle-length,
		5px $flex-handle-length + $flex-handle-blocker-offset,
		100%;
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat;
}
