@mixin flex-handle-column($background: $body-bg) {
	&:hover {
		background-image:
			linear-gradient(0deg, $flex-handle-color 1px, $background 1px, $background 2px, $background 4px, $flex-handle-color 4px),
			linear-gradient(0deg, $background, $background),
			linear-gradient(90deg, $flex-handle-dot-color 25%, $background 0);
		background-position:
			50% 50%,
			50% 50%,
			0 50%;
		background-size:
			$flex-handle-length 5px,
			$flex-handle-length + $flex-handle-bocker-offset 5px,
			$flex-handle-dot-width 1px;
		background-repeat:
			no-repeat,
			no-repeat,
			repeat-x;
	}
}

@mixin flex-handle-row($background: $body-bg) {
	&:hover {
		background-image:
			linear-gradient(90deg, $flex-handle-color 1px, $background 1px, $background 2px, $background 4px, $flex-handle-color 4px),
			linear-gradient(90deg, $background, $background),
			linear-gradient(0deg, $flex-handle-dot-color 25%, $background 0);
		background-position:
			50% 50%,
			50% 50%,
			50% 0;
		background-size:
			5px $flex-handle-length,
			5px $flex-handle-length + $flex-handle-bocker-offset,
			1px $flex-handle-dot-width;
		background-repeat:
			no-repeat,
			no-repeat,
			repeat-y;
	}
}
