@use "../variables" as *;

@mixin icon($code, $font-size: $icon-font-size) {
	content: $code;
	display: inline-block;
	// stylelint-disable-next-line
	font: normal normal normal var(--icon-font-size, #{$font-size}) 'FontAwesome';
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin icon-close-xs() {
	.svg-close {
		width: 9px;
		height: 9px;
	}
}
