@mixin label-xs() {
	font-size: $font-size-xs;
	line-height: $line-height-sm;
}

@mixin label-sm() {
	font-size: $font-size-sm;
	line-height: $line-height-sm;
}

@mixin label-lg() {
	font-size: $font-size-lg;

	.cui-label-icon {
		.fa {
			font-size: inherit;
		}
	}
}

@mixin label-xl() {
	font-size: $font-size-xl;

	.cui-label-icon {
		.fa {
			font-size: inherit;
		}
	}
}

@mixin label-secondary() {
	color: theme-color('secondary');

	.cui-selected & {
		color: theme-color('primary'); // todo: when is this ever selected?
	}
}

@mixin label-title() {
	font-weight: $font-weight-bold;
	font-size: $font-size-lg;
}

@mixin label-subtitle() {
	font-weight: $font-weight-bold;
}

@mixin label-muted() {
	color: theme-color('muted');

	.cui-selected & {
		color: rgba(theme-color('primary'), 0.55); // todo: when is this ever selected?
	}
}

// Label in a field
@mixin label-field() {
	text-transform: uppercase;
	font-weight: $font-weight-bold;
	line-height: $line-height-sm;
	font-size: $font-size-sm;
}

@mixin label-field-subtitle() {
	font-weight: $font-weight-normal;
}
