// todo:
@mixin label-sm() {
	font-size: $font-size-sm;
	line-height: $line-height-sm;
}

@mixin label-lg() {
	font-size: $font-size-lg;

	.cui-label-icon {
		.fa {
			font-size: inherit;
		}
	}
}

@mixin label-xl() {
	font-size: $font-size-xl;

	.cui-label-icon {
		.fa {
			font-size: inherit;
		}
	}
}

@mixin label-secondary() {
	color: theme-color('secondary');
	font-weight: $font-weight-light;
}

@mixin label-reset() {
	color: inherit;
	font-weight: $font-weight-normal;
}

@mixin label-title() {
	font-weight: $font-weight-bold;
	color: gray('500');
	text-transform: uppercase;
	letter-spacing: 3px;
}

@mixin label-subtitle() {
	font-weight: $font-weight-bold;
}

@mixin label-muted() {
	color: theme-color('muted');
}

@mixin label-empty() {
	color: theme-color('muted');
}

// Label in a field
@mixin label-field() {
	text-transform: uppercase;
	font-weight: $font-weight-bold;
	line-height: $line-height-sm;
}

@mixin label-field-subtitle() {
	font-weight: $font-weight-normal;
}
