@use 'sass:map';
@use '../variables' as *;
@use 'buttonbar' as *;
@use 'buttons' as *;
@use 'pane' as *;
@use 'typography' as *;
// Mixins for all layer types (popover, modals, menu etc.)

@mixin layer-title() {
	@include h5(0.1em);

	margin-top: 0.1em;
}

@mixin layer-width($size: 'm') {
	width: map.get($layer-sizes, $size);
}

/* Layer pane styles for popovers and fullscreen layer
 - spacing
 - black header and white title
 - invert buttons
 */

@mixin layer-pane-layout() {
	// layer-header & toolbar
	> .cui-vertical-layout-top > .cui-pane-header,
	> .cui-vertical-layout-top > .cui-toolbar {
		&:not(.cui-template-empty) {
			padding: 0 $layer-padding-x;
		}
	}

	// layer header only
	> .cui-vertical-layout-top > .cui-pane-header {
		border-radius: $layer-border-radius $layer-border-radius 0 0;
		background-color: $layer-header-background;
		color: $layer-header-color;

		.cui-horizontal-layout-left {
			flex-shrink: 1; // allows long titles to be truncated with ...
		}
		
		// Title
		.cui-label {
			@include layer-title();
		}

		// Align buttonbar to the right because we use inverted, borderless buttons in the header
		> .cui-horizontal-layout-right > .cui-buttonbar {
			margin-right: -0.5 * $layer-padding-x;

			@include buttonbar-horizontal-tight();
		}
		
		// Invert buttons
		.cui-button {
			@include button-plain-inverted();

			&:not(:last-child) {
				margin-right: 0;
			}
		}

		.cui-buttonbar .cui-buttonbar-group {
			@include buttonbar-group-inverted();
		}

		// offset the following top toolbar
		+ .cui-toolbar {
			margin-top: $spacer-sm;
		}
	}

	// layer-body
	> .cui-vertical-layout-center {
		padding: 0;
		margin: $layer-padding-y $layer-padding-x; // use margin instead of padding so a possible scrollbar will be inside
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	// layer-footer & toolbar
	> .cui-vertical-layout-bottom > .cui-pane-footer,
	> .cui-vertical-layout-bottom > .cui-toolbar {
		padding: 0 $layer-padding-y $layer-padding-x;
	}

	> .cui-vertical-layout-bottom > .cui-pane-footer {
		border-radius: 0 0 $layer-border-radius $layer-border-radius;

		// make buttons a little more prominent in the footer, they are typically "primary" action buttons ("OK" is pretty short otherwise)
		.cui-toolbar:not(.cui-navigation-toolbar) {
			.cui-button-visual {
				min-width: 60px;
			}
		}
	}

	// nested panes
	.cui-pane > .cui-vertical-layout-center {
		@include pane-padding-reset();
	}
}

@mixin fullscreen-layer-pane() {
	// is .cui-layer
	background-color: $body-bg;
}
