@use '../variables' as *;
@use 'buttons' as *;
@use 'focused' as *;

@mixin list-view-row-hover() {
	.cui-list-view-grid-quadrant-2,
	.cui-list-view-grid-quadrant-3 {
		> .cui-lv-tr-outer {
			&:not(.cui-selected):hover {
				> .cui-lv-tr > .cui-lv-td {
					background: $table-row-hover-background;
				}

				> .cui-lv-tr > .cui-lv-td.cui-lv-row-move-handle-column {
					background: transparent; // reset
				}
			}
		}
	}
}

@mixin list-view-row-focus() {
    --focus-outline-offset: -3px;
	--focus-border-radius: 4px;
	--focus-border-width: 5px;

	@include focused();
}

@mixin list-view-no-border() {
	// border
	--list-view-border-width: 0;
	// header rows & columns
	--list-view-header-row-border-width: 0;
	--list-view-header-column-border-width: 0;
	// inner rows & columns
	--list-view-inner-row-border-width: 0;
	--list-view-inner-column-border-width: 0;
}


@mixin list-view-only-header-border() {
	// border
	--list-view-border-width: 0;
	// header rows & columns
	--list-view-header-row-border-width: 1px;
	--list-view-header-column-border-width: 1px;
	// inner rows & columns
	--list-view-inner-row-border-width: 0;
	--list-view-inner-column-border-width: 0;
}

@mixin list-view-tight() {
	.cui-lv-td {
		padding: 0;
	}
}

@mixin list-view-highlight-first-column($levels) {
	.cui-lv-tbody .cui-lv-tr {
		@each $level in $levels {
			> .cui-tree-node-level-#{$level} {
				font-weight: $font-weight-bold;
			}
		}
	}
}

// hide the border-bottom of the previous row
// sometimes necessary if --list-view-border-width >= 1
@mixin list-view-hide-double-bottom-border() {
	.cui-lv-tr-fill-outer {
		min-height: 1px;
		margin-top: -1px;
		
		// fix issue where the assigned background color of the outer-fill row would end at the viewport width, not taking overflow into account
		// if we assign the background color to the inner child element, the background color will spread across the whole width of the overflow container
		> .cui-lv-tr {
			background-color: var(--pane-background);
		}
	}
}

// turn buttons into a clickable table header
@mixin list-view-header-button-sortable() {
	@include button-plain();

	.cui-button-visual {
		font-weight: $font-weight-bold;

		.cui-button-center {
			padding: 0;
		}
		
		.cui-button-right {
			// reset
			padding-right: 0;
			margin-left: 0;
		}
	}
}
