@mixin list-view-row-hover() {
	.cui-list-view-grid-quadrant-2,
	.cui-list-view-grid-quadrant-3 {
		> .cui-lv-tr-outer {
			&:not(.cui-selected):hover {
				> .cui-lv-tr > .cui-lv-td {
					background: $table-row-hover-background;
				}

				> .cui-lv-tr > .cui-lv-td.cui-lv-row-move-handle-column {
					background: transparent; // reset
				}
			}
		}
	}
}

@mixin list-view-without-border() {
	// border
	--list-view-border-width: 0;
	// header rows & columns
	--list-view-header-row-border-width: 0;
	--list-view-header-column-border-width: 0;
	// inner rows & columns
	--list-view-inner-row-border-width: 0;
	--list-view-inner-column-border-width: 0;
}

@mixin list-view-tight() {
	.cui-lv-td {
		padding: 0;
	}
}

