@mixin pane-padding() {
	padding: $pane-padding;
}

@mixin pane-padding-reset() {
	padding: 0;
}

@mixin pane-padding-bottom-reset() {
	padding-bottom: 0;
}

@mixin pane-margin-reset() {
	margin: 0;
}
