@use "../variables" as v;
@use "buttons";
@use "typography";

@mixin pane-padding() {
	padding: v.$pane-padding;
}

@mixin pane-padding-reset() {
	padding: 0;
}

@mixin pane-padding-bottom-reset() {
	padding-bottom: 0;
}

@mixin pane-margin-reset() {
	margin: 0;
}

@mixin pane-header() {
	--toolbar-gap: 0; // reset default toolbar gap
	--pane-header-background: #{v.$body-bg};

	flex-wrap: nowrap;
	padding-left: 0;
	padding-right: 0;
	background-color: var(--pane-header-background);
	
	.cui-horizontal-layout-left > .cui-label {
		@include typography.h3(0);
	}
	
	// Default: all buttons within a direct cui-pane-header should be plain buttons
	.cui-button {
		@include buttons.button-plain();
	}
}
