@use "../variables" as *;
@use "buttons" as *;
@use "typography" as *;

@mixin pane-padding() {
	padding: $pane-padding;
}

@mixin pane-padding-reset() {
	padding: 0;
}

@mixin pane-padding-bottom-reset() {
	padding-bottom: 0;
}

@mixin pane-margin-reset() {
	margin: 0;
}

@mixin pane-header() {
	--toolbar-gap: 0; // reset default toolbar gap
	--pane-header-background: #{$body-bg};

	flex-wrap: nowrap;
	padding-left: 0;
	padding-right: 0;
	background-color: var(--pane-header-background);
	
	.cui-horizontal-layout-left > .cui-label {
		@include h3(0);
	}
	
	// Default: all buttons within a direct cui-pane-header should be plain buttons
	.cui-button {
		@include button-plain();
	}

	.cui-buttonbar {
		gap: 0; // make buttonbar more compact

		// make buttonbar even more compact when there are at least two buttons
		&:has(.cui-button:nth-child(2)) {
			.cui-button-visual {
				min-width: 28px;
			}
		}
	}
}
