@mixin tabs-vertical() {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 1fr auto;
	grid-template-areas:
		't_header t_body'
		't_footer t_footer';

	> .cui-vertical-layout-top {
		grid-area: t_header;
	}

	> .cui-vertical-layout-center {
		grid-area: t_body;
	}

	> .cui-vertical-layout-bottom {
		grid-area: t_footer;
	}

	// * Header

	.cui-tabs-pane-header {
		height: 100%;
		align-items: flex-start;
		overflow: auto;
		margin-bottom: 0;
		margin-right: $spacer-sm;

		> .cui-horizontal-layout-center {
			overflow: visible !important;
			display: block;
			height: 100%;
		}

		> .cui-horizontal-layout-right {
			display: none;
		}

		.cui-buttonbar {
			position: relative;
			width: auto;
			height: 100%;
			flex-direction: column;
			margin-top: 0;
			margin-left: 2px;

			// active marker
			&::before {
				height: var(--active-tab-height);
				width: $tabs-marker-border-width;
				bottom: auto;
				left: -2px;
				right: auto;
				top: 0;
				transform: translate(0, var(--active-tab-top));
			}

			&::after {
				width: 1px;
				height: auto;
			}
		}

		.cui-buttonbar-group {
			width: 100%;

			@include buttonbar-vertical();
			@include buttonbar-vertical-tight();

			> * {
				width: 100%;
				margin-bottom: 0;
			}

			.cui-tab-header-button {
				.cui-button-visual {
					justify-content: flex-start;
					// border-right: 1px solid $tabs-active-border-color;
					// border-left: 1px solid transparent;
					// border-top: 0;
					// border-bottom: 0;

					&::after {
						border: 0;
						border-right: 1px solid $tabs-active-border-color;
					}
				}

				&:active,
				&.cui-active {
					.cui-button-visual {
						// border-right-color: $tabs-active-background;
						// border-left-color: $tabs-active-border-color;

						// &::before,
						// &::after {
						// 	top: auto;
						// 	bottom: auto;
						// 	left: 0;
						// 	right: -1px;
						// 	width: auto;
						// 	height: 1px;
						// }

						// &::before {
						// 	top: 0;
						// }

						// &::after {
						// 	bottom: 0;
						// }

						&::after {
							border: 1px solid $tabs-active-border-color;
							border-right: 0;
						}
					}
				}
			}
		}
	}
}

@mixin tabs-horizontal-sm() {
	.cui-tabs-pane-header {
		@include _tabs-sm;

		.cui-buttonbar::before {
			height: $tabs-marker-border-width-sm;
		}
	}
}

@mixin tabs-vertical-sm() {
	.cui-tabs-pane-header {
		@include _tabs-sm;

		.cui-buttonbar::before {
			width: $tabs-marker-border-width-sm;
		}
	}
}

@mixin _tabs-sm() {
	.cui-tab-header-button,
	.cui-tab-header-button-overflow {
		.cui-button-visual {
			height: $tabs-header-height-sm;
			line-height: $tabs-header-height-sm;
			padding: 0 $spacer-xs;
			font-size: $font-size-sm;
		}
	}
}
