@use "../variables" as v;

@mixin table-zebra() {
	// .cui-table

	@include table-no-border();

	.cui-table-row {
		&:nth-child(odd) .cui-table-td {
			background: v.$table-odd-background;
		}

		&:nth-child(even) .cui-table-td {
			background: v.$table-even-background;
		}
	}
}

@mixin table-row-hover() {
	.cui-table-row {
		&:hover {
			.cui-table-td {
				background-color: v.$table-row-hover-background;
			}
		}
	}
}

@mixin table-no-border() {
	border: 0;

	> .cui-tr + .cui-tr {
		> .cui-table-td {
			border-top: 0;
		}
	}
}
