// Text truncate
// Requires inline-block or block for proper styling

@mixin text-truncate() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin revert-text-truncate() {
	overflow: initial;
	text-overflow: initial;
	white-space: initial;
}

// deprecated, use text-truncate instead
@mixin ellipsis() {
	@include text-truncate();
}

@mixin line-clamp($lines: 2) {
	@supports (-webkit-line-clamp: 1) {
		white-space: normal;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $lines;
		overflow: hidden;
		word-break: break-word;
	}
}
