// Text truncate
// Requires inline-block or block for proper styling

@mixin text-truncate() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// deprecated, use text-truncate instead
@mixin ellipsis() {
	@include text-truncate();
}
