.svg-close { width: 13px; height: 13px; }
.svg-easydb { width: 24px; height: 24px; }
.svg-external-link { width: 12px; height: 12px; }
.svg-folder-shared-upload { width: 15px; height: 19px; }
.svg-folder-shared { width: 15px; height: 19px; }
.svg-folder-upload { width: 15px; height: 19px; }
.svg-folder { width: 15px; height: 19px; }
.svg-select-all { width: 15px; height: 15px; }
.svg-tag-o { width: 13px; height: 13px; }
.svg-trash { width: 13px; height: 13px; }