.svg-arrow-right { width: 31.49px; height: 31.49px; }
.svg-asset-failed { width: 70px; height: 70px; }
.svg-asset-missing { width: 70px; height: 70px; }
.svg-close { width: 12px; height: 12px; }
.svg-drupal { width: 14px; height: 14px; }
.svg-easydb { width: 24px; height: 24px; }
.svg-external-link { width: 12px; height: 12px; }
.svg-falcon-io { width: 14px; height: 14px; }
.svg-folder-shared-upload { width: 15px; height: 19px; }
.svg-folder-shared { width: 15px; height: 19px; }
.svg-folder-upload { width: 15px; height: 19px; }
.svg-folder { width: 15px; height: 19px; }
.svg-fylr-logo { width: 57.8px; height: 34.1px; }
.svg-grid { width: 16px; height: 13px; }
.svg-hierarchy { width: 14px; height: 14px; }
.svg-info-circle { width: 14px; height: 14px; }
.svg-inherit { width: 345.5px; height: 345.5px; }
.svg-merge-icon { width: 512px; height: 512px; }
.svg-multiple { width: 10px; height: 12px; }
.svg-popup { width: 15px; height: 14px; }
.svg-presentation-play { width: 15px; height: 14px; }
.svg-presentation { width: 15px; height: 14px; }
.svg-remove-icon { width: 512px; height: 512px; }
.svg-reset { width: 12px; height: 12px; }
.svg-rows { width: 16px; height: 13px; }
.svg-select-all { width: 15px; height: 15px; }
.svg-select-pages { width: 15px; height: 15px; }
.svg-spinner { width: 14px; height: 14px; }
.svg-table { width: 15px; height: 13px; }
.svg-tag-o { width: 13px; height: 13px; }
.svg-trash { width: 13px; height: 13px; }
.svg-typo3 { width: 14px; height: 14px; }