.ez-digi-display {
	display: inline-block;

	> div:first-child {
		border-left: 1px solid $group_border_color;
	}

	> div {
		display: inline-block;
		vertical-align: bottom;
		height: 1em;
		border: 1px solid $group_border_color;
		border-left: 0;
		font-size: 15px;
		text-align: center;
		line-height: 1em;
		overflow: hidden;
		padding: 1px;
		background-color: $default_background_color;
		color: $font_color;
		font-family: monospace;
	}

	.ez-digi-display-digit {
		transition: margin-top 0.3s ease;
	}
}

