
$list_view_debug_background_color: $default_background_color*0.89;

@mixin cell_dummy($width: 100%) {
	height: 30px;
	width: $width;
	box-sizing: border-box;
	background-color: #008800;
	border: 3px solid #8dcf16;
}

.cui-demo-cell-dummy-auto {
	@include cell_dummy(auto);
}

.cui-demo-cell-dummy {
	@include cell_dummy(100%);
}



.cui-simple-pane.cui-maximize,
.cui-vertical-layout.cui-maximize {
	&.cui-demo-vertical-layout {
		width: 200px;
		height: 200px;
		background-color: $list_view_debug_background_color;
		border: $modal_border;
		margin: $grid_size*3;
	}

	&.cui-demo-vertical-layout-big {
		width: 400px;
		height: 400px;
		background-color: $list_view_debug_background_color;
		border: $modal_border;
		margin: $grid_size*3;
	}
}

.cui-demo-vertical-layout-big.cui-maximize {
	width: 400px;
	height: 400px;
	background-color: $list_view_debug_background_color;
	border: $modal_border;
	margin: $grid_size*3;
}

.cui-demo-vertical-layout-big-y {
	width: 800px;
	height: 400px;
	background-color: $list_view_debug_background_color;
	border: $modal_border;
	margin: $grid_size*3;
}


.cui-demo-test-full-width-and-height {
	width: 100%;
	height: 100%;
	background-color: #008800;
	border: 3px solid #E9E870;
	box-sizing: border-box;
}

.cui-demo-wide-span {
	white-space: nowrap;
}

