
//REMARKED too many lines
//$panel-header-border-color: #5e5e5e;


.cui-panel {

	//REMARKED too many lines
	//border: 1px solid $panel-header-border-color;
	margin-bottom: $grid_size;

	@include flex(0, 0);
	@include flex_direction(column);
	@include flex_display(flex);

	.cui-panel-header {
		display: inline-block;

		.cui-panel-header-button {
			width: 100%;

			border: 0 !important;
			box-shadow: none !important;

			//TODO all this for disabling highlight color
			@include button_skin(
				$_font_color: $font_color,
				$_background_color: inherit,

				$_disabled_font_color: $button_disabled_font_color,
				$_disabled_background_color: $button_disabled_background_color,

				$_active_font_color: $font_color,
				$_active_background_color: inherit,

				$_highlight_font_color: $button_highlight_font_color,
				$_highlight_background_color: $button_highlight_background_color,

				$_active_highlight_font_color: $button_highlight_font_color,
				$_active_highlight_background_color: $button_highlight_background_color

			);

			font-weight: bold;

			.cui-button-center {
				text-align: left;
			}

			> div > .cui-button-left {
				@include ERROR_MARKER("pane header nested buttons not supported anymore");
			}
		}
	}

	.cui-panel-body {
		padding: 0 $grid_size $grid_size $grid_size;

		.cui-panel-content {
			//make panels compatible with flex content
			@include flex_display(flex);
			@include flex_direction(column);
		}

		.cui-panel-footer {
			&-left {
				display: inline-block;
				float: left;
			}
			&-right {
				display: inline-block;
				float: right;
			}
		}
	}

	&.cui-panel-closed {
		> .cui-panel-body {
			overflow: hidden;
			height: 0;
			padding: 0;
		}
	}

}