
.file-upload-demo-progress {
	img.landscape {
		width: 60px;
	}

	img.portrait {
		height: 60px;
	}
}


.cui-file-upload-demo-drop-zone-parent {
	position: relative; //needed for showing an outline
}

.cui-file-upload-demo-drop-zone {
	width: 400px;
	height: 250px;
	border: 2px solid #a9a9a9;
	overflow: auto;
}


.cui-tmpl-file-upload-demo {
	width: 80px;
	height: 80px;
	padding: 2px;
	border: 1px solid #a9a9a9;
	background-color: #ffffff;
	margin: 0 5px 5px 0;
	display: inline-block;
	overflow: hidden;
}