@import url($font_awesome_url);

$padding: 10px;
$compensating-padding: 7px;
$gap: 12px;
$background: hsl(205,10%,98%);
$foreground: white;

$button-text-color: hsl(205,10%,34%);
$button-border-radius: 4px;

$drag-handle-color: hsl(0,0%,50%);

$highlight-color: hsl(205,100%,45%);
$on-highlight-color: white;

// Table Colors
$zebra-color: hsl(205,10%,98%);
$table-border-color: hsl(205,8%,90%);

$pane-header-height: 30px;

@mixin margin($factor: 1) {
	margin-bottom: $padding * $factor;

	&:last-child {
		margin-bottom: 0;
	}
}

@mixin margin-top($factor: 1) {
	margin-top: $padding * $factor;

	&:first-child {
		margin-top: 0;
	}
}

@mixin padding($factor: 1) {
	padding: $padding * $factor;
}

@mixin padding-y($factor: 1) {
	padding-top: $padding * $factor;
	padding-bottom: $padding * $factor;
}

// Flex for selected TABLE
@mixin flex-table() {
	display: flex; // yes, this is fun :)
	box-sizing: border-box;
	flex: 0 0 auto;
	flex-direction: column;

	> tr {
		display: flex; // yes, this is fun :)
		box-sizing: border-box;
		flex: 1 1 auto;
		flex-direction: row;

		> td {
			display: flex; // yes, this is fun :)
			box-sizing: border-box;
			flex: 0 0 auto;
			flex-direction: column;
			align-items: stretch;
		}
	}
}

@mixin focus() {
	box-shadow: 0 0 0 3px lighten($highlight-color, 40%);
	border-color: $highlight-color;
	z-index: 1; // put forward to see outline
}

@mixin button-reset() {
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  border-radius: 0;
  height: auto;
  line-height: inherit;
}

// reset

table {
	border-collapse: collapse;
}

td {
	vertical-align: top;
	padding: 0;
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 3px;
  list-style-position: inside;
	list-position: inline;
}

a {
	text-decoration: none;
	color: black;
}
// basics

html {
	overflow: hidden;
  width: 100%;
  height: 100%;
}

label {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 13px;
	line-height: normal;
	background: $background;
	display: flex;
	width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

input,
textarea {
	min-width: 200px;
	font-size: 12px;
	border: 1px solid hsl(0,0%,72%);
	border-top-color: hsl(0,0%,65%);
	font-family: inherit;
	padding: 2px 3px;
	flex: 1 1 auto;
	box-sizing: border-box;
	resize: vertical;
	box-shadow: 0 1px rgba(0,0,0,.05) inset;
}

input {
	overflow: hidden;
}

div, a {
	display: flex;
	flex: 0 0 auto;
	align-items: stretch;
	box-sizing: border-box;
	flex-direction: column;
}

li > div {
	display: inline-flex;
}

table.cui-form-table {
	@include flex-table()
}

.cui-root-layout {
	overflow: hidden;
}

// HorizontalLayout
.cui-horizontal-layout {
	&.cui-maximize-horizontal {
		flex-direction: row;
		// overflow: hidden; cuts off outline in date-time picker: year picker

		> .cui-horizontal-layout-left,
		> .cui-horizontal-layout-right
		{
			position: relative;
			// overflow: hidden; cuts off outline in date-time picker: year picker
			// max-width: 45%; breaks CUI.confirm
		}
		> .cui-horizontal-layout-center {
			position: relative;
			flex: 1 1 auto;
			overflow: auto;
		}
	}

	&.cui-maximize-vertical {
		flex: 1 1 auto;
	}

	&:not(.cui-maximize-horizontal) {
		flex-direction: row;
		align-self: flex-start;
	}
}

.cui-horizontal-layout-left,
.cui-horizontal-layout-center,
.cui-horizontal-layout-right {
	> .cui-label {
		padding: 0 $padding;

		// &:first-child { makes no sense because this is not a vertical layout
		// 	padding-top: $compensating-padding;
		// }

		// &:last-child {
		// 	padding-bottom: $compensating-padding;
		// }
	}
}


// VerticalLayout
.cui-vertical-layout {
	&.cui-maximize-vertical {
		flex: 1 1 auto;
		// overflow: hidden; // cuts off password input outline

		> .cui-vertical-layout-top,
		> .cui-vertical-layout-bottom {
			position: relative;
			overflow: hidden;
		}
		> .cui-vertical-layout-center {
			position: relative;
			flex: 1 1 auto;
			// overflow: auto; // cuts off password input outline
		}
	}

	&.cui-maximize-horizontal {
		// overflow: hidden; // cuts off password input outline
	}

	&:not(.cui-maximize-horizontal) {
		align-self: flex-start;
	}
}

.cui-horizontal-list {
	> .cui-horizontal-layout-center {
		flex-direction: row;
	}
}


// Layout Absolute Horizontal
.cui-horizontal-layout{
  &.cui-absolute {
    position: relative;

    width: 100%;
    height: 100%;

    & > div {
			position: absolute !important; // overwrite "relative" from above
      top: 0;
      bottom: 0;
    }
    & > .cui-horizontal-layout-left {
      left: 0;
    }
    & > .cui-horizontal-layout-center {
      left: 0;  // overwritten by Layout.coffee
      right: 0;  // overwritten by Layout.coffee
    }

    & > .cui-horizontal-layout-right {
      right: 0;
    }
  }
}





// Layout Absolute Vertical
.cui-vertical-layout {
	&.cui-absolute {
		position: relative;

		width: 100%;
		height: 100%;

		& > div {
			position: absolute !important; // overwrite "relative" from above
			left: 0;
			right: 0;
			width: 100%;
		}

		& > .cui-vertical-layout-top {
			top: 0;
		}

		& > .cui-vertical-layout-center {
			top: 0; // overwritten by Layout.coffee
			bottom: 0; // overwritten by Layout.coffee
		}

		& > .cui-vertical-layout-bottom {
			bottom: 0;
		}

	}
}


// Flexhandle

.cui-flex-handle-hidden {
	display: none;
}

.cui-flex-handle {
	&.cui-flex-handle-has-label:not(.cui-flex-handle-closed) {
		.cui-label {
			display: none;
		}
	}
}

.cui-flex-handle-row {
	width: 20px;
	margin: 0 -10px;
	flex: 0 0 auto;
	overflow: hidden;
	position: relative;
	z-index: 1;

	&:after {
		content: "";
		position: absolute;
		left: 10px;
		height: 100%;
		top: 0;
		width: 1px;
		background: hsl(210,11%,93%);
	}
	&:not(.cui-flex-handle-closed) {
		cursor: ew-resize;
	}
	&.cui-flex-handle-closed {
		cursor: pointer;
	}
	&.cui-flex-handle-manual-size {
		// background-color: #64fdd8;
	}
	&.cui-flex-handle-has-label.cui-flex-handle-closed {
		width: 20px;
		.cui-label.cui-tmpl-label-rotate-90 {
			.cui-label-transform {
				// the difference to the normal rotate-90 is that
				// we want to touch the label the "top" and not
				// start from the "bottom"
				transform: rotateZ(-90deg) translateY(-3px) translate(calc(-100% - 3px));
				transform-origin: left top;
			}
		}
	}
}

.cui-flex-handle-column {
	&.cui-flex-handle-has-label.cui-flex-handle-closed {
		height: 20px;
	}

	&.cui-flex-handle-manual-size {
		background-color: #64fdd8;
	}

	height: 6px;
	flex: 0 0 auto;
	overflow: hidden;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #64b6fd;
	&:not(.cui-flex-handle-closed) {
		cursor: ns-resize;
	}
	&.cui-flex-handle-closed {
		cursor: pointer;
	}
}


.cui-flex-handle-stretched {
	flex: 1 1 auto !important;
}

.cui-flex-handle-hide-for-stretch {
	display: none;
}


.cui-tmpl-pane-fill-screen {
    transition: top ease-out 0.5s,right ease-out 0.5s,left ease-out 0.5s,bottom ease-out 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

		// Pane Fillscreen
		.cui-pane-fill-screen {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ffffff;
			.cui-pane-fill-screen-inner {
				width: 100%;
				height: 100%;
			}
		}
		// overwrite "style" set by code
        &.cui-pane-fill-screen-is-on {
            top: 0 !important;
            left: 0 !important;
            bottom: 0 !important;
            right: 0 !important;
        }
}

// BorderLayout

.cui-border-layout-north,
.cui-border-layout-south {
	background-color: #ffd890;
}

.cui-border-layout-west,
.cui-border-layout-east {
	background-color: #ffefd1;
}

// Toolbar
.cui-toolbar {
	min-height: 33px;
	justify-content: space-between;

	.cui-label {
		font-size: 17px;
		height: 100%;
    align-items: center;
	}

	.cui-button-button { // dont target buttongroup buttons
		border: none;
		padding: 0 $padding;
		height: 100%;
		background: none;
		border-radius: 0;
		color: $highlight-color;

		&.cui-active {
			color: $highlight-color;
		}
	}

	> div {
		&.cui-horizontal-layout-left,
		&.cui-horizontal-layout-right {
			flex-direction: row;
		}

		&.cui-horizontal-layout-center {
			align-items: center;
		}

		> .cui-maximize-horizontal {
			// in column direction this is solved by
			// align-items: stretch, but here
			// we need to overwrite this
			flex: 1 1 auto;
		}
		> .cui-toolbar {
			// nested toolbars do not get a padding
			padding: 0;
		}
	}
	&.cui-template-empty {
		display: none;
	}
}

// Pane
.cui-pane-header {
	background: $foreground;
	border-bottom: 1px solid hsl(180,9%,93%);

	.cui-buttonbar {
		margin-bottom: 0;
	}

	.cui-horizontal-layout-left {
		.cui-label:first-child {
			padding-left: $padding;
		}
	}

	.cui-horizontal-layout-right {
		.cui-label:last-child {
			padding-right: $padding;
		}
	}
}

.cui-data-table {
	.cui-pane-footer {
		min-height: 0;
		padding: 0;
		border-top: 1px solid hsl(205,8%,77%);

		.cui-button-button {
			@include button-reset;
			color: hsl(205,11%,29%);
		  height: 23px;
		  padding: 0 $padding/2;
		  border-right: 1px solid hsl(205,8%,77%) !important;

		  &:before {
		    display: none;
		  }
		}

		.cui-buttonbar .cui-button {
			margin: 0;
		}
	}

	input,
	textarea {
		min-width: 0;
	}
}

// Icons
i.fa-spinner {
	width: 12px;
}

i.cui-spin-stepped {
	-webkit-animation: fa-spin 1s steps(8) infinite;
	   -moz-animation: fa-spin 1s steps(8) infinite;
	    -ms-animation: fa-spin 1s steps(8) infinite;
	     -o-animation: fa-spin 1s steps(8) infinite;
	        animation: fa-spin 1s steps(8) infinite;
}

// Button / Select
.cui-button-button,
.cui-button-select {
	cursor: pointer;
	display: inline-flex; // if a button is not in a flex container, behave like "inline-block"
	white-space: nowrap;
	flex-direction: row;
	flex: 0 0 auto;
	align-self: flex-start;
	align-items: center;
	justify-content: center;
  padding: 0 $padding;
  height: 24px;
  line-height: 22px;
  color: $button-text-color;
  background: hsl(0,0%,100%);
  border: 1px solid hsl(205,10%,75%);
  border-radius: $button-border-radius;

	&:hover {
	  border-color: hsl(205,100%,45%);
	  color: hsl(205,100%,45%);
	}

	&:active {
	  border-color: hsl(205,100%,35%);
	  color: hsl(205,100%,35%);
	}

	&.cui-disabled {
	  opacity: 0.5;
	  cursor: default;
	  color: $button-text-color;
	  border-color: hsl(205,10%,75%);
	  background: none;
	}

	&.cui-button-appearance-important[role],
	&.cui-button--primary,
	&.cui-active {
	  color: white;
	  background: $highlight-color;
	  border-color: darken($highlight-color, 7%);
	}

	&.cui-button-appearance-flat {
		align-self: auto;
	  &,
	  &:hover,
	  &.cui-active {
	    @include button-reset;
	    color: $highlight-color;
	  }
	}

	&:focus {
		outline: none;
		@include focus;
	}
}

.cui-button-select {
	padding: 0 4px 0 8px;

	.cui-button-center {
		padding-right: 6px;
	}
}

.cui-button-left,
.cui-button-center,
.cui-button-right {
	text-align: center;
	flex: 0 0 auto;
	justify-content: center;
	padding: 0 3px;

	&:empty {
		display: none;
	}
}

.cui-button-size-mini {
	font-size: 12px;
  height: 26px;
}

.cui-button-size-big {
	font-size: 15px;
	height: 37px;
}

.cui-button-size-bigger {
	font-size: 18px;
	height: 43px;
}

.cui-button-select {
	flex-direction: row;
}

a[role="button"].cui-button-appearance-link {
	height: initial;
	> .cui-button-center {
		word-break: break-all;
	}
}

.cui-button-appearance-link[role],
.cui-button-href {
	@include button-reset;
	color: $highlight-color;
	display: inline-flex;
	flex-direction: row;
}


// Buttonbar
.cui-buttonbar-group {
	> .cui-input {
		margin-left: -1px;
	}

	.cui-button {
		position: relative;
		margin-left: -1px;

		&:first-child {
			margin-left: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			&:before {
				display: none;
			}
		}

		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&:not(:first-child):not(:last-child) {
			border-radius: 0;
		}

		&:only-child {
			border-radius: $button-border-radius;
		}

		&:hover,
		&.cui-active {
			z-index: 1;
		}
	}

	> .cui-data-field {
		& + *:before {
			display: none;
		}
	}
}


// Checkbox
.cui-checkbox {
	height: 100%;
	justify-content: center;
}

.cui-button-checkbox {
	flex-direction: row;
	cursor: pointer;

	&.cui-disabled {
		opacity: 0.5;
		cursor: default;
	}

	&:focus {
		outline: none;

		.cui-button-left span,
		.cui-button-left i {
			@include focus;
		}
	}

	&.cui-active {
		.cui-button-left i {
			position: relative;
			background: hsl(240,2%,61%);
			border-color: hsl(240,3%,58%);
			color: white;
			text-shadow: 0 1px rgba(0,0,0,.2);
		}

		&[role="radio"] {
			.cui-button-left i {
				color: transparent;
				text-shadow: none;

				// use radial gradient instead of border-radius
				// for a nice round form (otherwise its more of an egg)
				border-radius: none;
				border-color: transparent;
				background: radial-gradient(hsl(240,2%,61%), hsl(240,3%,58%));

				&:after { // radio dot
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					width: 6px;
					height: 6px;
					margin: -3px 0 0 -3px;
					border-radius: 100%;
					background: white;
					box-shadow: 0 1px rgba(0,0,0,.2);
				}
			}
		}
	}

	.cui-button-left {
		padding: 0 1px 0 0;
		// empty checkbox: span
		// filled checkbox: i
		span,
		i {
			display: inline-block;
			width: 12px;
			height: 12px;
			border: 1px solid hsl(0,0%,72%);
			border-top-color: hsl(0,0%,65%);
			border-bottom-color: hsl(0,0%,72%);
			background: white;
			font-size: 11px;
			line-height: 13px;
			border-radius: 2px;
			box-shadow: 0 1px rgba(0,0,0,.05) inset;
		}
	}

	&[role="radio"] {
		.cui-button-left {
			span,
			i {
				width: 14px;
				height: 14px;
				border-radius: 100%;
			}
		}
	}
}

// Select

.cui-select {
	.cui-button-center:empty {
		display: flex;

		&:after {
			content: '-';
			padding: 0 $padding/4;
		}
	}

	&[max-chars="2"] .cui-button-center span {
		width: 2.5ch;
	}

	&[max-chars="4"] .cui-button-center span {
		width: 4ch;
	}
}

// Panel
.cui-panel-header {
	padding: $padding $padding $padding/2;
}

.cui-panel-body {
	padding: $padding/2 $padding $padding;
}

.cui-panel-closed > .cui-panel-body {
	display: none;
}


// Label
.cui-label {
	display: inline-flex;
	flex-direction: row;
	flex: 0 0 auto;
	align-items: stretch;
	// align-self: flex-start;

	&.cui-tmpl-label-rotate-90 {
		// rotate by 90 degrees
		white-space: nowrap;
		// align-self: flex-start;
		> .cui-label-transform {
			// the transform-origin is the corner
			// of the content, so the padding
			// moved the origin to the right.
			// we need to compensate for that
			transform: rotateZ(-90deg) translateY(calc(100% - 3px)) translateX(3px);
			transform-origin: left bottom;
		}
	}
	> .cui-label-icon {
		flex: 0 0 auto;
		width: 20px;
		text-align: center;
		> i {
			font-size: 16px;
			line-height: 20px;
		}
	}

	> .cui-label-icon:not(:empty) + .cui-label-content:not(:empty) {
		padding-left: 3px;
	}

	&:not(cui-label-multiline) {
		> .cui-label-content {
			flex-direction: row;
		}
	}

	> .cui-label-content {
		// display: inline-flex;
		flex: 0 0 auto;
	}
	.cui-label-content:empty {
		display: none;
	}
	.cui-label-icon:empty {
		display: none;
	}
}

// Label: Markdown
.cui-label-markdown .cui-label-content {
	display: block;

	h1, h2, h3, h4, h5, h6 {
	  font-weight: normal;
	  margin: 0 0 $padding;
	}

	h1 {
	  font-size: 24px;
	  line-height: 30px;
	}

	h2 {
	  font-size: 20px;
	  line-height: 25px;
	}

	p,
  pre,
  blockquote {
    margin: 0 0 16px;
  }

  & > p,
  & > pre,
  & > blockquote {
    &:first-child {
      margin-top: 6px;
    }

    &:last-child {
      margin-bottom: 6px;
    }
  }

  blockquote {
    padding: 8px 12px;
    border-left: 5px solid #eee;
  }

  code {
    border: none;
    background: hsl(0,0%,97%);
    white-space: pre-wrap;
  }

  pre {
    padding: 12px 15px;
    font-size: 13px;
    line-height: 1.45;
    background: hsl(0,0%,97%);
    white-space: pre-wrap;
    border-radius: 3px;
    border: none;
    overflow: auto;
  }

  hr {
    margin-top: 6px;
    margin-bottom: 6px;
    border: 0;
    border-top: 1px solid #dfdfdf;
  }
}

// Label: Multiline
.cui-label-multiline {
	align-self: stretch;
	@include margin;

	&:not(.cui-label-markdown) {
		white-space: pre-wrap;
		// word-break: normal;
		word-break: break-all;
		// this does not work in IE, but will
		// be ignored by IE, so we are good
		word-break: break-word;
	}

	> .cui-label-content {
		flex: 1 1 auto;
	}

	&.cui-label-manage-overflow {
		> .cui-label-content {
			transition: height ease 0.5s, max-height ease 0.5s;
			max-height: 62px;
			position: relative;
			// flex-direction: column;
			overflow: hidden;

			> .cui-label-manage-overflow-content-container {
				transition: height ease 0.5s, max-height ease 0.5s;
				overflow: hidden;

				> span {
					white-space: pre-wrap;
					word-break: normal;
				}
			}

			> .cui-label-manage-overflow-button-container {
				height: 0;
				align-self: flex-end;
				.cui-button {
					transform: translateY(-100%);
					border-style: none;
					background-color: #8a8a8a;
					color: #ffffff;
					border-radius: 3px;
				}
			}
		}
	}
}


// Buttonbar
.cui-buttonbar {
	flex-direction: row;
	@include margin;

	> *:not(:last-child) {
		margin-right: $gap;
	}

	.cui-label-content {
		align-self: center; // Date-Time picker month label in footer
	}
}

// Buttonbar & Button
.cui-buttonbar + .cui-button {
	margin-left: 4px;
}

.cui-button + .cui-buttonbar {
	margin-left: 4px;
}

.cui-buttonbar-group {
	// display: inline-flex;
	flex-direction: row;
}

// Checkbox
.cui-checkbox {
	flex-direction: column;

	.cui-button {
		height: 20px;
		line-height: 20px;
		white-space: initial;
		align-self: flex-start;
	}
}

// Input
.cui-input {
	// state classes:
	// cui-input-invalid
	// cui-input-has-no-user-input
	// cui-input-has-user-input
	// cui-has-focus
	// cui-has-check-input
	//
	// hint:
	// cui-input-has-invalid-hint
	// cui-input-has-valid-hint
	// cui-input-has-input-hin:
	//

	&.cui-input-has-check-input {
		&.cui-input-invalid:not(.cui-input-has-user-input) {
			input {
				border-color: hsl(0,90%,60%);
				background: hsla(0,90%,74%, 0.15);
			}
		}
	}

	input,
	textarea {
		padding: 0 7px;
		line-height: 22px;
		outline: none;
	}

	textarea {
		padding-top: $padding/2;
		padding-bottom: $padding/2;
		line-height: 18px;
	}

	&.cui-has-focus {
		input,
		textarea {
			@include focus;
		}
	}
}

.cui-input-valid-hint {
	font-size: 11px;
	margin-top: $padding/4;
}

::-ms-clear {
   display: none;
}

.cui-input-shadow {
	position: absolute;
	display: block;
	padding: 0;
	border: none;
	top: -1000px;
	left: -1000px;
}

// Layer

.cui-tmpl-layer-root {
	z-index: 1;
}

.cui-layer {
	min-width: 200px;
	position: absolute;
	flex-direction: column;
	overflow: auto;
	margin: 10px;
	outline: none;
	background: hsl(0,0%,98%);
	border-radius: 5px;
	box-shadow:
		0 0 0 1px hsla(0,0%,0%,0.1),
		0 7px 14px hsla(0,0%,0%,0.1);

	.cui-simple-pane > .cui-vertical-layout-center {
		padding: $padding;
		overflow: auto;

		> .cui-multiline-label {
			padding: $compensating-padding $padding;
		}

		.cui-table {
			margin: $compensating-padding/2 $padding;
		}
	}

	.cui-pane-footer {
		justify-content: space-between;

		.cui-button-button {
			flex: 1;
			border-top: 1px solid hsl(210,11%,93%);
			border-left: 1px solid hsl(210,11%,93%);
			margin: 0;

			&.cui-button--primary {
				border-top-color: $highlight-color;
				border-left-width: 0;
			}
		}

		.cui-buttonbar {
			flex: 1;
		}

		.cui-horizontal-layout-left,
		.cui-horizontal-layout-center,
		.cui-horizontal-layout-right {
			flex: 1;

			&:empty {
				display: none;
			}
		}

		.cui-horizontal-layout-left:empty +
		.cui-horizontal-layout-center:not(:empty),
		.cui-horizontal-layout-left:empty +
		.cui-horizontal-layout-center:empty +
		.cui-horizontal-layout-right,
		.cui-horizontal-layout-left {
			.cui-button:first-child {
				border-left-width: 0;
				border-bottom-left-radius: 4px;
			}
		}
	}

	.cui-form-tr,
	.cui-form-tr-header {
		background: none;
	}
}

.cui-confirmation-dialog,
.cui-layer-root-modal {
	.cui-pane-header {
		display: none;
	}
}

.cui-layer-pointer {
	position: absolute;
	z-index: 1;
	width: 33px;
	height: 16px;
	margin: 0 5px;
	overflow: hidden;

	&:after { // arrow (north)
		content: "";
		position: absolute;
		left: 8px;
    top: 7px;
    width: 18px;
    height: 18px;
		background: white;
		box-shadow:
			0 0 0 1px hsla(0,0%,0%,0.1),
			3px 3px 14px hsla(0,0%,0%,0.1);
		transform: rotate(45deg);
	}
}

.cui-layer-pointer--s:after {
	top: -9px;
}

.cui-layer-pointer--e,
.cui-layer-pointer--w {
	width: 16px;
	height: 37px;
	margin: 5px 0;
}

.cui-layer-pointer--e:after {
	left: -9px;
}

.cui-layer-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	> div {
		flex: 1 1 auto;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.cui-layer-backdrop-body-clone {
	position: absolute;
	overflow: hidden;

	> *:first-child {
		position: absolute;
	}
}

.cui-tmpl-layer-root.cui-layer-root-backdrop-blur {
	> .cui-tmpl-layer-backdrop
	{
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
		overflow: hidden;
	}

	> .cui-layer {
		// blur effect, make layer transparent
		background-color: rgba(255, 255, 255, 0.39);

		.cui-tmpl-item-list-body {
			.cui-button {
				background-color: transparent;
			}
		}
	}
}

// Tooltip
.cui-layer-root-tooltip .cui-layer-pointer {
	width: $padding / 2;
	height: $padding / 2;

	&:after {
		display: none;
	}
}

.cui-tooltip {
	max-width: 260px;
	max-height: 100px;
	min-width: 0;
	overflow: auto;
	background: hsl(0,0%,98%);
	border-radius: 2px;
	box-shadow:
		0 0 0 1px hsla(0,0%,0%,0.1),
		0 7px 14px hsla(0,0%,0%,0.1);
	cursor: default;

	.cui-label {
		font-size: 11px;
    line-height: 14px;
    padding: 3px 6px;
	}

	> .cui-layout > .cui-vertical-layout-center {
		padding: 0;
	}
}


// Toaster
.cui-layer-root-toaster .cui-layer {
	font-size: 14px;
	width: auto;
	min-width: 0;
	user-select: none;

	> .cui-layout > .cui-vertical-layout-center {
		padding: 0 $padding;
	}
}

// Menu
.cui-menu {
	min-width: 0;
  background: white;
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  border-radius: 4px;
  border: 1px solid hsl(0,0%,87%);
  padding: 4px 0;
	height: auto; // WEIRD reset: cui-menu on selects gets class button-select

	.cui-item-list {
		font-size: inherit;
	}
}

.cui-menu-divider {
	margin: 6px 0;
}

// ItemList
.cui-item-list {
	.cui-label {
	  cursor: default;
	  margin: 6px $padding;
	  color: hsl(205,8%,76%);
	}

	.cui-button-button {
	  padding: 0 $padding;
		border: none;
		border-radius: 0;
		height: 28px;
		line-height: 28px;
	  justify-content: flex-start;

	  &:hover:not(.cui-disabled),
	  &:active {
	  	color: hsl(205,12%,27%);
			background: hsl(205,17%,98%);
	  }

	  &.cui-active,
	  &.cui-active:hover {
	  	color: $on-highlight-color;
	  	background: $highlight-color;
	  }

	  .cui-button-center {
	    padding: 0;
	  }
	}
}

.cui-item-list-divider {
	height: 1px;
	background: hsl(210,11%,93%);
}

.cui-tmpl-item-list-body {
	flex-direction: column;

	> div {
		flex: 0 0 auto;
	}

	a[role="button"],.cui-button
	{
		align-self: stretch;
	}

	&.cui-item-list-has-button-left {
		// this button always has a left side
		.cui-file-upload-button {
		}
	}

	.cui-button-left {
		width: 20px;
	}
}

// Popover
.cui-popover {
	background: white;
	min-width: 247px;
}

// Popover: hide header
.cui-popover > .cui-layout > .cui-vertical-layout-top {
	display: none;
}

// Backdrop
.cui-layer-root-modal,
.cui-layer-root-alert,
.cui-layer-root-confirm,
.cui-layer-root-prompt {
	.cui-layer-backdrop {
		background: radial-gradient(hsla(205,20%,20%,.5), hsla(205,20%,20%,.6));
	}
}

// WaitBlock
.cui-tmpl-wait-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	.cui-wait-block-glass {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #000000;
		opacity: 0.3;
	}
	.cui-wait-block-inner {
		flex: 1 1 auto;
		.cui-wait-block-header {
			flex: 1 1 auto;
			justify-content: center;
			align-self: center;
			.cui-label > .cui-label-icon > i {
				font-size: 24px;
				color: #000000;
			}

		}
		.cui-wait-block-content {
			display: none;
		}
	}
}

// Tabs
.cui-tabs {
	.cui-tabs-active-marker {
		display: none;
		position: absolute;
		bottom: 0;
		// left + width are set by javascript
		height: 3px;
		background: yellow;
		transition: width 0.3s ease, left 0.3s ease;
	}
	> .cui-vertical-layout-top {
		> .cui-pane-header {
			padding-right: $padding/2;

			.cui-horizontal-layout-center {
				overflow: hidden;
				flex-grow: 0;
				justify-content: center;
			}
		}
	}
	> .cui-vertical-layout-center {
		> .cui-tmpl-tabs-bodies {
			flex: 1 1 auto;
			flex-direction: row;
			overflow: hidden;
			> .cui-tmpl-tab-body {
				// disable the javascript overwrite here
				margin-left: 0 !important;
  			border-bottom: 1px solid hsl(210,11%,93%);
				flex: 1 1 auto;
				overflow: auto;
				&.cui-tab-hidden {
					display: none;
				}
			}
		}
	}
}

.cui-toolbar .cui-tab-header-button-overflow,
.cui-toolbar .cui-tab-header-button {
	border: none;
	background: none;
	color: $highlight-color;
	height: 24px;
	line-height: 22px;
	min-width: 80px;
	padding: 0 $padding/2;
	border-radius: 0;
	font-size: inherit;
	border: 1px solid $highlight-color;

	&:first-child {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	&:last-child {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	&.cui-active {
		color: $on-highlight-color;
		background: $highlight-color;
	}
}

.cui-toolbar .cui-tab-header-button-overflow {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	min-width: 0;
	align-self: center;
	box-shadow:
		-1px 0 hsla(0,0%,0%,.08),
		-2px 0 hsla(0,0%,0%,.04),
		-3px 0 hsla(0,0%,0%,.02),
		-4px 0 hsla(0,0%,0%,.01),
		-5px 0 hsla(0,0%,0%,.01);
}


$table-data-height: 26px;
$table-data-padding: 4px;

// ListView
.cui-list-view {
	background: white;
	font-size: 12px;
	border: 1px solid $table-border-color;

	[cui-lv-quadrant="0"],
	[cui-lv-quadrant="1"] {
		color: hsl(0,0%,30%);
	}

	.cui-label {
		padding: 0 $padding;
		line-height: $table-data-height - $table-data-padding*2;
	}
}

.cui-list-view-grid-inner-top {
	border-bottom: 1px solid $table-border-color;
}


.cui-list-view-grid-quadrant-0,
.cui-list-view-grid-quadrant-1 {
	.cui-lv-td {
		position: relative;

		&:after { // table-head line
			content: "";
			position: absolute;
			right: 0;
			top: 2px;
			bottom: 2px;
			width: 1px;
			background: lighten($table-border-color, 10%);
		}
	}
}

.cui-list-view-grid-quadrant-1 {
	.cui-lv-td:last-child:after {
		display: none;
	}
}

.cui-list-view-grid-has-fixed-rows {
}

// &.cui-maximize-vertical {
//	> .cui-vertical-layout-center {
//		> .cui-list-view-grid {
//			height: 100%;
//		}
//	}
// }

// &.cui-maximize-horizontal {
//	> .cui-vertical-layout-center {
//		> .cui-list-view-grid {
//			width: 100%;
//		}
//	}
// }

.cui-list-view-grid {
	flex: 1 1 auto;
	flex-direction: column;
	// needed for resize tool to position the resize
	// handles properly
	position: relative;
}

.cui-list-view-grid-inner-top {
	flex: 0 0 auto;
	flex-direction: row;
}

.cui-list-view-grid-inner-bottom {
	flex: 1 1 auto;
	flex-direction: row;
}

.cui-list-view-grid-quadrant-0 {
	flex: 0 0 auto;
	overflow: hidden;
}

.cui-list-view-grid-quadrant-1 {
	flex: 1 1 auto;
	overflow: hidden;
}

.cui-list-view-grid-quadrant-2 {
	flex: 0 0 auto;
	overflow: hidden;
}

.cui-list-view-grid-quadrant-3 {
	flex: 1 1 auto;
	overflow: auto;
}

.cui-list-view-grid-quadrant-2,
.cui-list-view-grid-quadrant-3 {
	.cui-lv-tr-outer:nth-child(even) {
		background: $zebra-color;
	}
}

// outside .cui-list-liew, we can use
// this in Form too

.cui-lv-tbody {
	flex-direction: column;
}

.cui-lv-tr-outer {
	// avoid the text select cursor on list items
	cursor: default;
	flex-direction: row;
	flex: 0 0 auto;
	min-width: 0;

	&.cui-list-view-row-selectable.cui-selected {
		background: $highlight-color !important;
		color: white;
	}
}

.cui-lv-tr {
	flex: 1 1 auto;
	flex-direction: row;
	// border-bottom: dotted 1px #c0c0c0;
}

.cui-list-view-grid-inner-top {
	.cui-lv-td {
		justify-content: flex-end;
	}
}

.cui-list-view-row-move-handle-column {
	&:after {
		display: none;
	}

	&.cui-lv-td {
		width: 10px + $table-data-padding*2+4;
		padding: 0 2px 0 $table-data-padding+2;
		flex-direction: row;
	}
}

.cui-list-view-grid-quadrant-1,
.cui-list-view-grid-quadrant-3 {
	.cui-lv-td:last-child {
		// border-right: solid 1px black;
	}
}

.cui-lv-td {
	padding: $table-data-padding;

	&.cui-lv-td-rotate-90 {
		width: 25px;
		> .cui-tmpl-label-rotate-90 {
			word-break: break-all;
			height: 100px;
			> .cui-label-transform {
				width: 100px;
			}

		}
	}
	&.cui-lv-td-fill {
		padding: 2px;

		&:not(:last-child) {
			// border-right-style: dotted;
		}
	}

	// border-right: solid 1px black;

	// align-items: flex-start;
	flex: 0 0 auto;
	overflow: hidden;
	flex-direction: column;

	&:not(.cui-lv-td-fill) {
		min-height: $table-data-height;
	}

	&.cui-lv-td-max {
		flex: 1 1 auto;
	}
}

.cui-lv-tr-fill-outer {
	flex: 1 1 auto;
	flex-direction: row;
	background: linear-gradient($zebra-color 50%, white 50%);
	background-size: 100% $table-data-height*2;

	> .cui-lv-tr {
		border-style: none;
	}

	.cui-lv-td.cui-lv-td-fill {
		padding: 0;
	}
}

// do this on top level, so its easier to overwrite
.cui-lv-td {
	width: 100px;
}

.cui-tmpl-list-view-tool-col-resize-marker {
	position: absolute;
	cursor: col-resize;
	// bigger grab area
	margin: 0 -4px;
	padding: 0 4px;

	> div {
		width: 1px;
		margin-left: -1px;
		height: 100%;
		background: lighten($table-border-color, 10%);
	}
}

.cui-list-view-tool-marker {
	position: absolute;
	background: $zebra-color;
	opacity: 0.5;
}

// ListViewTree

.cui-list-view-grid {
	&.cui-list-view-tree-no-hierarchy {
		.cui-tree-node-handle {
			display: none;
		}
	}
	.cui-tree-node {
		flex-direction: row;
		flex: 1 1 auto;

		.cui-tree-node-handle,
		.cui-tree-node-spacer {
			width: 14px;
			flex: 0 0 auto;
		}
		.cui-tree-node-handle {
			text-align: center;
			> i {
				font-size: 16px;
				line-height: 20px;
			}
		}
		.cui-tree-node-content {
			flex: 1 1 auto;
		}
	}
}

// Table
.cui-tr {
	flex-direction: row;
	@include padding-y(0.5);
}

.cui-td {
	&[colspan]{		
		> label,
		> .cui-label {
			margin-bottom: $padding/2;
		}
	}
}

// Form
.cui-form {
	align-self: stretch !important;
}

.cui-form-tr,
.cui-form-tr-header {
	flex-direction: row;
	padding: $padding 0 $padding - 1px;
	background: $foreground;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		left: $padding;
		right: $padding;
		height: 1px;
		top: 0;
		background: hsl(205,10%,96%);
	}

	&:first-child:before {
		display: none;
	}
}

.cui-form-tr {
	.cui-form-options-table,
	.cui-form-table-horizontal {
		margin-top: -$padding;
		margin-bottom: -$padding;

		.cui-form-tr {
			background: none;
			
			&:before {
				left: 0;
				right: 0;
			}
		}

		.cui-form-left,
		.cui-form-right {
			width: auto;
		}

		.cui-form-left {
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	.cui-form-options-table .cui-form-center {
		width: 70px;
	}
}

[cui-form-depth="0"] > .cui-form-tr-header,
.cui-form-tr-content-is-form-vertical > .cui-form-left {
	background: $background;
	width: auto;
	padding: 3*$padding $padding $padding/2;
	border-bottom: 1px solid hsl(205,10%,95%);

	.cui-label,
	label {
		text-transform: uppercase;
		color: hsl(205,10%,60%);
		letter-spacing: 0.01em;
	}

	.cui-form-left {
		padding: 0;
	}

	.cui-form-center {
		display: none;
	}

	& + .cui-form-tr:before {
		display: none;
	}
}

.cui-form-tr.cui-form-tr-content-is-form-vertical {
	flex-direction: column;
	padding: 0;
	
	.cui-form-table[cui-form-depth="2"] > .cui-form-tr {
		&:before {
			left: $padding*2.5;
		}

		> .cui-form-left {
			padding-left: $padding*2.5;
		}
	}
	
	.cui-form-table[cui-form-depth="3"] > .cui-form-tr {
		&:before {
			left: $padding*5;
		}

		> .cui-form-left {
			padding-left: $padding*5;
		}
	}
}

// hacky 1px line instead of empty form-left that shouln't be here
[cui-form-depth="1"] .cui-form-tr-content-is-form-vertical:not(.cui-form-table-has-left-column){
	> .cui-form-left {
		height: 1px;
		margin: 0 $padding;
		padding: 0;
		overflow: hidden;
		background: hsl(205,10%,95%);
		
		&:before {
			display: none;
		}
	}
}

.cui-form-table-has-not-right-column {
	> .cui-form-tr > .cui-form-td.cui-form-right {
		display: none;
	}
}

.cui-form[cui-data-field-form-depth="0"] {
	> .cui-vertical-layout-center {
		> .cui-form-table {
			> .cui-form-tr:last-child {
				border-color: #ff44ee;
			}
		}
	}
}

.cui-form:not([cui-data-field-form-depth="0"]) {
	> .cui-vertical-layout-center {
		> .cui-form-table {
			> .cui-form-tr:last-child {
				border-style: none;
			}
		}
	}
}

.cui-data-field-output-label {
	line-height: 24px;
}

.cui-data-field-hidden {
	display: none;
}

.cui-form-left,
.cui-form-right {
	width: 120px;
}

.cui-form-left {
	padding: 4px $padding;
}

.cui-maximize-horizontal > .cui-vertical-layout-center {
	> .cui-form-table {
		> tr {
			> .cui-form-td.cui-form-center {
				flex: 1 1 auto;
				width: 200px;
			}
		}
	}

	> .cui-form-table-vertical {
		> .cui-tr {
			> .cui-form-center {
				flex-shrink: 1;
				min-width: 0;
			}
		}
	}
}


// Options

.cui-form-options-table,
.cui-form-table-horizontal  {
	.cui-button-checkbox {
		margin-right: $padding;
	}

	.cui-form-tr-horizontal {
		flex-wrap: wrap;
	}
}

.cui-drag-drop-select-sortable,
.drag-drop-select-helper {
	.cui-form-td.cui-form-left {
		width: 12px;
		padding: 0;
		margin-right: $padding/2;
		flex-direction: row;
	}
}

.cui-drag-handle-row {
	&:hover {
		opacity: 0.8;
	}

	flex: 1 1 auto;
	cursor: move;
	height: 12px;
	margin-top: 2px;
	width: 100%;
	align-self: center;

	background: linear-gradient($drag-handle-color 1px, transparent 1px);
	background-size: 100% 3px;
}

.cui-selected .cui-drag-handle-row {
	background-image: linear-gradient($on-highlight-color 1px, transparent 1px);
}

// Drag and Drop

.drag-drop-select-helper {
	&.cui-tr {
		padding: 0;
	}
}

.cui-sortable-placeholder {
	opacity: 0;
}

// DateTime
.cui-date-time {
	flex-direction: row;
}

.cui-date-time-calendar .cui-buttonbar {
	justify-content: space-between;
}

.cui-buttonbar-group-date,
.cui-buttonbar-group-time { // DateTime Day:Month:Year Hour:Minute
	.cui-select {
		&:not(:last-child) .cui-button {
			border-right-width: 0;
		}

		&:last-child .cui-button {
			border-right-width: 1px;
			border-top-right-radius: $button-border-radius;
			border-bottom-right-radius: $button-border-radius;
			padding-right: 4px;
		}

		&:not(:first-child) .cui-button {
			border-left-width: 0;
		}

		&:first-child .cui-button {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			&:before {
				display: none;
			}
		}

		&:last-child .cui-button {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&:not(:first-child):not(:last-child) .cui-button {
			border-radius: 0;
		}

		.cui-button {
			padding: 0;
		}

		.cui-button-center {
			text-align: right;
			padding-right: 3px;
		}
	}
}

.cui-date-time-input-center {
	flex: 1 1 auto;

	&:focus {
		z-index: 1;
	}
}

.cui-date-time-input-right {
	position: relative;

	.cui-button {
		margin-left: -1px;
		border-radius: 0;
		padding: 0 $padding/2;

		&:focus {
			z-index: 1;
		}
	}
}

.cui-date-time-month-header {
	border-bottom: 1px solid hsl(205,11%,93%);
	margin-bottom: $padding/4;
}

.cui-date-time-day {
	border-radius: $button-border-radius;
}

.cui-date-time-previous-month,
.cui-date-time-next-month,
.cui-date-time-week {
	color: hsl(0,0%,79%);
}

.cui-date-time-selected {
	background: $highlight-color !important;
	color: $on-highlight-color !important;
}

.cui-date-time-now {
	background: hsl(0,0%,92%);
}

.cui-date-time-footer {
	.cui-buttonbar > *:not(:last-child) {
		margin-right: 0;
	}

	.cui-label {
		cursor: default;
	}

	> .cui-horizontal-layout-left {
		flex: 1 0 auto;
		margin-right: $gap;

		.cui-label { // June, September
			flex: 1 1 auto;
    	justify-content: center;
			padding: 0;
		}
	}

	> .cui-horizontal-layout-center {
		flex-grow: 0 !important;
	}

	.cui-button {
		padding: 0 $padding/2;
	}
}

// DateTimeDate

.cui-date-time-date {
	@include flex-table;
	margin: 0 0 $padding !important;
	flex-grow: 1;

	.cui-tr {
		padding: 0;
	}

	.cui-td,
	.cui-th {
		width: calc(100% / 8 - 1px); // 8 columns
		text-align: right;
		cursor: default;
		justify-content: center;
		padding-right: 7px;
		line-height: 25px;
		margin: 0 1px 1px 0;

		&.cui-date-time-same-month {
			cursor: pointer;
		}
	}
}

// DateTime Popover

.cui-menu.cui-date-time-60-select {
	.cui-tmpl-item-list-body {
		box-sizing: content-box;
		width: 350px;
		flex-direction: row;
		flex-wrap: wrap;
		> * {
			box-sizing: border-box;
		}

		.cui-button {
			width: 35px;
			height: 30px;
			align-items: center;
			text-align: center;
		}
	}
}


.cui-date-time-popover {
	.cui-simple-pane > .cui-vertical-layout-center {
		padding: $padding;
	}

	.cui-tmpl-date-time {
		flex: 1 1 auto;

		.cui-date-time-header {
			display: none;
		}

		&[browser="time"] {
			.cui-date-time-calendar {
				margin-left: -100%;
			}
		}

		.cui-date-time-browser {
			.cui-date-time-calendar,
			.cui-date-time-clock {
				width: 100%;
			}

			.cui-date-time-calendar {
				transition: margin-left 0.5s ease-out;
			}
			flex-direction: row;
			// overflow: hidden; cuts off year-picker outline
			flex: 1 1 auto;
			.cui-number-input {
				input {
					width: 44px;
					min-width: 0;
					text-align: center;
				}
			}
		}
	}
}

.cui-date-time-clock {
	display: none;
}


// MultiInput

.cui-multi-input .cui-multi-input-container {
    align-items: stretch;
	flex: 1 1 auto;

	> .cui-multi-input-input {
		flex-direction: row;
		> .cui-data-field-multi-input-center {
			flex: 1 1 auto;
		}
		> .cui-data-field-multi-input-right {
			flex: 0 0  auto;
			.cui-button {
				justify-content: center;
				width: 25px;
			}
		}
	}
}

.cui-multi-input-input {
	@include margin-top(0.25);
	position: relative;

	.cui-input,
	.cui-textarea {
		padding-right: 20px;
	}
}

.cui-data-field-multi-input-right {
	position: absolute;
	right: 0;
	top: 0;
}

.cui-multi-input-tag-button {
	@include button-reset;
	color: hsl(0,0%,30%);
	font-size: 10px;
  line-height: 20px;
  cursor: pointer;
  padding: 0 3px;
}

// Drag & Drop

.cui-drag-drop-select-transparent {
	pointer-events: none !important;
	* {
		pointer-events: none !important;
	}
}



// Droppable

.cui-droppable {
	// marks an active droppable
	opacity: 0.5;
}

// Movable
.cui-drag-drop-select-movable {
	cursor: move;
}

// Resizable
.cui-drag-drop-select-resizable {
	position: relative;
}

.cui-resizable-handle {
	position: absolute;

	&.cui-resizable-handle-se {
		bottom: -8px;
		right: -8px;
		width: 16px;
		height: 16px;
		cursor: nwse-resize;
	}

	&.cui-resizable-handle-nw {
		top: -8px;
		left: -8px;
		width: 16px;
		height: 16px;
		cursor: nwse-resize;
	}

	&.cui-resizable-handle-sw {
		bottom: -8px;
		left: -8px;
		width: 16px;
		height: 16px;
		cursor: nesw-resize;
	}

	&.cui-resizable-handle-ne {
		right: -8px;
		top: -8px;
		width: 16px;
		height: 16px;
		cursor: nesw-resize;
	}

	&.cui-resizable-handle-s {
		left: 8px;
		right: 8px;
		bottom: -8px;
		height: 16px;
		cursor: ns-resize;
	}

	&.cui-resizable-handle-n {
		left: 8px;
		right: 8px;
		top: -8px;
		height: 16px;
		cursor: ns-resize;
	}

	&.cui-resizable-handle-e {
		right: -8px;
		top: 8px;
		bottom: 8px;
		width: 16px;
		cursor: ew-resize;
	}

	&.cui-resizable-handle-w {
		left: -8px;
		top: 8px;
		bottom: 8px;
		width: 16px;
		cursor: ew-resize;
	}
}


// Lasso
.cui-lasso-area {
	position: relative;
}

.cui-lasso {
	position: absolute;
	background-color: rgba(135, 198, 253, 0.35);
	display: block;
	// border: 2px dotted rgba(135, 198, 253, 0.8);
}

.cui-drag-drop-select-lasso-element-in-lasso {
	opacity: 0.8;
}




// Block

.cui-block {
	background: $foreground;
	border-bottom: 1px solid hsl(180,9%,93%);

	&.cui-block-level-1 {
		> .cui-block-header {
			font-size: 15px;
		}
	}
	&.cui-block-level-2 {
		border-bottom-width: 0;
		> .cui-block-header {
			font-size: 13px;
		}
	}
	> .cui-block-header {
		font-weight: bold;
	}
}

.cui-block-header {
	padding: $padding $padding 0;
}

.cui-block-content {
	@include padding;
}

// StickyHeader

.cui-sticky-header {
	padding: 4px 10px;
	font-size: 11px;
	height: 22px;
	margin-bottom: 10px;

	&:not(:first-child) {
		margin-top: $padding*2;
		border-top: 1px solid hsl(0,0%,80%);
	}
}


.cui-sticky-header-control {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	.cui-tmpl-sticky-header {
		margin: 0;
		position: absolute;
		left: 0;
		right: 0;
		font-weight: 600;
		background: hsla(0,0%,100%,.94);
		border-top: none;
		box-shadow: 0 1px hsla(0,0%,50%,.5);
		margin-bottom: 1px;
	}
}

// ProgressMeter
.cui-tmpl-progress-meter {
	.cui-progress-meter-bar {
		height: 30px;
		position: relative;
		border-radius: $button-border-radius;
		overflow: hidden;

		.cui-progress-meter-fill-background,
		.cui-progress-meter-fill,
		.cui-progress-meter-text {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
		.cui-progress-meter-fill-background {
			border-radius: $button-border-radius;
			background: lighten(desaturate($highlight-color, 90%), 43%);
		}
		.cui-progress-meter-fill {
			display: none;
			background: $highlight-color;
		}
		.cui-progress-meter-text {
			display: none;
			color: white;
			align-items: center;
			line-height: 28px;
		}
		.cui-progress-meter-icon {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			color: white;
			align-items: center;
			justify-content: center;
		}

	}
	&[state="waiting"] {
		.cui-progress-meter-fill-background {
			// reddish
			// background-color: #ff6054;
		}
	}

	&[state="percent"] {
		.cui-progress-meter-icon {
			display: none;
		}
		.cui-progress-meter-text {
			display: flex;
		}
		.cui-progress-meter-fill {
			display: flex;
		}
	}
}

// DigiDisplay

.cui-digi-display {
	// border: 1px solid black;
	align-self: flex-start;
	flex-direction: row;

	> div {
		vertical-align: bottom;
		height: 20px;
		// border-right: 1px solid #c0c0c0;
		&:last-child {
			border-right: 0;
		}
		text-align: center;
		overflow: hidden;
		padding: 1px;
		font-family: monospace;
		font-size: 16px;
		line-height: 18px;
	}

	.cui-digi-display-digit {
		transition: margin-top 0.3s ease;
		height: 18px;
	}

	.cui-digi-display-static {
		height: 20px;
	}

}


// Console
.cui-console {
	padding: $padding;
	font-family: monospace;

	.cui-label-multiline {
		margin: 0;
	}

	.cui-label:not(:last-child) {
		border-bottom: 1px solid hsl(0,0%,94%);
	}
}


// CUI technical stuff
.cui-tmpl {
	// hide all templates
	display: none !important;
}

@keyframes nodeInserted {
	from { opacity: 0.99; }
	to { opacity: 1; }
}

