@import '../../icons/_svg-dimensions.scss';
@import url($font_awesome_url);

$padding: 10px;
// compensating padding compensates for line-height
$compensating-padding: 7px;
$gap: 12px;
$small-gap: 7px;
$background: white;
$foreground: white;
$border: hsl(205,20%,83%);
$soft-border: hsl(205,20%,91%);

$button-text-color: hsl(205,10%,34%);
$button-border: hsl(205,10%,75%);
$button-border-radius: 4px;

$input-border: hsl(205,20%,79%);

$drag-handle-color: hsl(205,10%,75%);

$highlight-color: hsl(205,100%,45%);
$on-highlight-color: white;
$on-highlight-muted-color: hsl(205,50%,85%);

$secondary-color: hsl(205,5%,45%);
$muted-color: hsl(205,5%,60%);
$disabled-color: hsl(205,7%,73%);

// Table Colors
$zebra-color: hsl(205,10%,98%);
$table-border: hsl(205,8%,90%);
$table-header-border: hsl(205,8%,94%);

$toolbar-background: hsl(205,2%,97%);
$toolbar-height: 42px;
$toolbar-small-height: 34px;

$layer-header-pointer-background: $toolbar-background;
$layer-header-background: $toolbar-background;
$layer-header-border: hsl(204,22%,91%);

$layer-background: hsl(0,0%,100%);

$layer-footer-background: $layer-header-background;
$layer-footer-border: $layer-header-border;

@mixin ellipsis(){
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin margin($factor: 1) {
	margin-bottom: $padding * $factor;

	&:last-child {
		margin-bottom: 0;
	}
}

@mixin margin-top($factor: 1) {
	margin-top: $padding * $factor;

	&:first-child {
		margin-top: 0;
	}
}

@mixin padding($factor: 1) {
	padding: $padding * $factor;
}

@mixin padding-y($factor: 1) {
	padding-top: $padding * $factor;
	padding-bottom: $padding * $factor;
}

// Flex for selected TABLE
@mixin flex-table() {
	display: flex; // yes, this is fun :)
	box-sizing: border-box;
	flex: 0 0 auto;
	flex-direction: column;

	> tr {
		display: flex; // yes, this is fun :)
		box-sizing: border-box;
		flex: 1 1 auto;

		> td {
			display: flex; // yes, this is fun :)
			box-sizing: border-box;
			flex: 0 0 auto;
			flex-direction: column;
			align-items: stretch;
		}
	}
}

@mixin focus() {
	box-shadow: 0 0 0 3px lighten($highlight-color, 40%);
	border-color: $highlight-color;
	z-index: 1; // put forward to see outline
}

@mixin button-reset() {
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  border-radius: 0;
  height: auto;
  line-height: inherit;
}

// reset

table {
	border-collapse: collapse;
}

td {
	vertical-align: top;
	padding: 0;
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 3px;
  list-style-position: inside;
	list-position: inline;
}

a {
	text-decoration: none;
	color: black;
}
// basics

html {
	overflow: hidden;
  width: 100%;
  height: 100%;
}

label {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 13px;
	line-height: normal;
	background: $background;
	display: flex;
	width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

input,
textarea {
	width: 100%;
	font-size: 12px;
	border: 1px solid $input-border;
	border-top-color: darken($input-border, 3%);
	font-family: inherit;
	padding: 2px 3px;
	flex: 1 1 auto;
	box-sizing: border-box;
	resize: vertical;
	box-shadow: 0 1px rgba(0,0,0,.05) inset;
	
	&.cui-input-shadow {
		position: absolute;
		display: block;
		padding: 0;
		border: none;
		top: -1000px;
		left: -1000px;
	}
}

input {
	overflow: hidden;
}

[max-chars] {
	box-sizing: content-box;
	text-align: center;
}

[max-chars="1"] {
	width: 1.5ch;
}

[max-chars="2"] {
	width: 2.5ch;
}

@for $i from 3 through 10 {
	[max-chars="#{$i}"] {
		width: #{$i}ch;
	}
}

* {
	box-sizing: border-box;
}

li > div {
	display: inline-flex;
}

.cui-root-layout {
	overflow: hidden;
}

// HorizontalLayout
.cui-horizontal-layout {
	display: flex;
	flex-shrink: 1;
	
	&.cui-maximize-horizontal {
		flex-direction: row;
		// overflow: hidden; cuts off outline in date-time picker: year picker

		> .cui-horizontal-layout-left {
			position: relative;
			flex-shrink: 1;
			// overflow: hidden; cuts off outline in date-time picker: year picker
			// max-width: 45%; breaks CUI.confirm
		}
		> .cui-horizontal-layout-center {
			position: relative;
			flex: 1 1 auto;
			overflow: auto;
		}
	}

	&.cui-maximize-vertical {
		flex: 1 1 auto;
		max-width: 100%;
	}

	&:not(.cui-maximize-horizontal) {
		flex-direction: row;
		// align-self: flex-start; anyoing in toolbar where you want align stretch
	}

	> .cui-horizontal-layout-center {
		// flex-direction: row; breaks collection manager detail
	}
}

.cui-horizontal-layout-left,
.cui-horizontal-layout-center,
.cui-horizontal-layout-right {
	display: flex;
	flex-direction: column;
	
	> .cui-label {
		padding: 0 $padding;

		// &:first-child { makes no sense because this is not a vertical layout
		// 	padding-top: $compensating-padding;
		// }

		// &:last-child {
		// 	padding-bottom: $compensating-padding;
		// }
	}
}


// VerticalLayout
.cui-vertical-layout {
	display: flex;
	flex-direction: column;
	
	&.cui-maximize-vertical {
		flex: 1 1 auto;
		// overflow: hidden; // cuts off password input outline

		> .cui-vertical-layout-top,
		> .cui-vertical-layout-bottom {
			position: relative;
			overflow: hidden;
			flex-shrink: 0;
		}
		> .cui-vertical-layout-center {
			position: relative;
			flex: 1 1 auto;
			// overflow: auto; // cuts off password input outline
		}
	}

	&.cui-maximize-horizontal {
		// overflow: hidden; // cuts off password input outline
	}

	// weird rule - breaks popover pools
	// &:not(.cui-maximize-horizontal) {
	// 	align-self: flex-start;
	// }
}

.cui-vertical-layout-top,
.cui-vertical-layout-center,
.cui-vertical-layout-bottom {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

// Layout Absolute Horizontal
.cui-horizontal-layout.cui-absolute {
  position: relative;

  width: 100%;
  height: 100%;

  & > div {
		position: absolute !important; // overwrite "relative" from above
    top: 0;
    bottom: 0;
  }
  & > .cui-horizontal-layout-left {
    left: 0;
  }
  & > .cui-horizontal-layout-center {
    left: 0;  // overwritten by Layout.coffee
    right: 0;  // overwritten by Layout.coffee
  }

  & > .cui-horizontal-layout-right {
    right: 0;
  }
}





// Layout Absolute Vertical
.cui-vertical-layout {
	&.cui-absolute {
		position: relative;

		width: 100%;
		height: 100%;

		& > div {
			position: absolute !important; // overwrite "relative" from above
			left: 0;
			right: 0;
			width: 100%;
		}

		& > .cui-vertical-layout-top {
			top: 0;
		}

		& > .cui-vertical-layout-center {
			top: 0; // overwritten by Layout.coffee
			bottom: 0; // overwritten by Layout.coffee
		}

		& > .cui-vertical-layout-bottom {
			bottom: 0;
		}

	}
}


// Flexhandle

.cui-flex-handle-hidden {
	display: none;
}

.cui-flex-handle {
	position: relative;
	z-index: 2;
	flex-shrink: 0;

	&.cui-flex-handle-has-label:not(.cui-flex-handle-closed) {
		.cui-label {
			display: none;
		}
	}
}

.cui-flex-handle-row {
	width: 10px;
	margin: 0 -5px;
	
	&:not(.cui-flex-handle-closed) {
		cursor: ew-resize;
	}
	&.cui-flex-handle-closed {
		cursor: pointer;
	}
	&.cui-flex-handle-manual-size {
		// background-color: #64fdd8;
	}
	&.cui-flex-handle-has-label.cui-flex-handle-closed {
		width: 32px;
		margin: 0;
		background: white;
		
		.cui-label.cui-tmpl-label-rotate-90 {
			font-size: 14px;
			
			.cui-label-transform {
				// the difference to the normal rotate-90 is that
				// we want to touch the label the "top" and not
				// start from the "bottom"
				transform: rotateZ(-90deg) translateY(7px) translate(calc(-100% - #{$padding}));
				transform-origin: left top;
			}
		}
	}
}

.cui-flex-handle-column {
	height: 10px;
	margin: -5px 0;
	width: 100%;
	
	&.cui-flex-handle-has-label.cui-flex-handle-closed {
		margin: 0;
	}

	&:not(.cui-flex-handle-closed) {
		cursor: ns-resize;
	}

	&.cui-flex-handle-closed {
		cursor: pointer;
	}
}


.cui-flex-handle-stretched {
	flex: 1 1 auto !important;
}

.cui-flex-handle-hide-for-stretch {
	display: none;
}


.cui-tmpl-pane-fill-screen {
  transition: top ease-out 0.5s,right ease-out 0.5s,left ease-out 0.5s,bottom ease-out 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

	// Pane Fillscreen
	.cui-pane-fill-screen {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ffffff;
		
		.cui-pane-fill-screen-inner {
			width: 100%;
			height: 100%;
		}
	}
	// overwrite "style" set by code
  &.cui-pane-fill-screen-is-on {
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
  }
}

// BorderLayout

.cui-border-layout-north,
.cui-border-layout-south,
.cui-border-layout-west,
.cui-border-layout-east {
	&:empty {
		display: none;
	}
}

// Toolbar
.cui-toolbar {
	display: flex;
	min-height: $toolbar-small-height;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 $padding;
	background: $toolbar-background;
	// needed in listview, to align all: content-box for all!
	box-sizing: content-box;
	
	&.cui-pane-toolbar {
		border-bottom: 1px solid $border;
		
		// overlap border of the previous toolbar
		& + & {
			margin-top: -1px;
		}
	}
	
	// prevent outline cutoff
	&.cui-maximize-horizontal {
		> .cui-horizontal-layout-center {
			overflow: visible;
		}
	}

	> div {
		&.cui-horizontal-layout-left,
		&.cui-horizontal-layout-right {
			flex-direction: row;
			min-width: 0;
		}

		&.cui-horizontal-layout-center {
			align-items: center;
		}

		> .cui-maximize-horizontal {
			// in column direction this is solved by
			// align-items: stretch, but here
			// we need to overwrite this
			flex: 1 1 auto;
			align-self: stretch;
			
			// prevent outline cutoff
			> .cui-horizontal-layout-center {
				overflow: visible;
			}
		}

		> .cui-toolbar {
			// nested toolbars do not get a padding
			padding: 0;
		}
	}

	.cui-horizontal-layout-left {
		> .cui-label {
			// reset padding: 0 $padding; in cui-horizontal-layout-left
			&:first-child {
				padding-left: 0;
			}
			
			&:last-child {
				padding-right: 0;
			}
		}
	}

	.cui-horizontal-layout-right {
		margin-left: $gap;
		flex-shrink: 0;
		
		&:empty {
			margin-left: 0;
		}
	}

	&.cui-template-empty {
		display: none;
	}

	.cui-data-field-input {
		height: 100%;
		display: flex;
		align-items: center;
		
		&.cui-vertical-layout {
			align-items: stretch;
			justify-content: center;
		}
		
		.cui-input {
			flex-grow: 0;
		}
	}

	.cui-button {
		align-self: stretch;
	}

	.cui-buttonbar {
		margin-bottom: 0;
		height: 100%;
		// min-height: $toolbar-height; why? 3.11.2016
		
		.cui-button {
			.cui-button-visual {
				padding-left: $padding/2;
				padding-right: $padding/2;
			}
		}
	}

	.cui-buttonbar-group {
		.cui-button,
		.cui-button:last-child {
			padding-right: 0;
		}
	}

	.cui-label {
		flex-shrink: 1;
		min-width: 0;
		align-self: center;
		cursor: default;

		.cui-label-content {
			flex-shrink: 1;
			min-width: 0;
			display: block;
		}
	}
}

.cui-result-navigation-toolbar {
	min-height: $toolbar-small-height;
}

// Pane
.cui-pane-header {
	flex-wrap: nowrap;
	border-bottom: 1px solid $border;
	padding-right: 0;
	
	.cui-label {
		font-size: 14px;
		height: 100%;
    align-items: center;
    cursor: default;
	}

	.cui-horizontal-layout-left {
		> *:first-child {
			padding-left: 0;
		}

		> *:only-child {
			padding-right: 0;
		}
	}

	> .cui-horizontal-layout-center {
		margin-right: $padding;
	}

	> .cui-horizontal-layout-right {
		margin-left: 0;
		
		.cui-buttonbar:last-child {
			margin-right: $padding;
		}
	}

	.cui-toolbar {
		min-height: 0;
		background: none;
		border-bottom-width: 0;
		flex-wrap: nowrap;
	}
}

.cui-pane-footer {
	border-top: 1px solid $border;
	min-height: $toolbar-small-height;

	.cui-horizontal-layout-left .cui-buttonbar:first-child {
		margin-left: -$padding;

		.cui-button:first-child {
			padding-left: $padding;
		}
	}

	.cui-horizontal-layout-right .cui-buttonbar:last-child {
		margin-right: -$padding;

		.cui-button:last-child {
			padding-right: $padding;
		}
	}

	.cui-label {
		color: $secondary-color;
	}
}

// Simple Pane
.cui-simple-pane {
	> .cui-vertical-layout-center {
		> .cui-label:only-child {
			margin: $padding;
		}
	}
}

// Data Table
.cui-data-table {
	border: 1px solid $border;
	
	.cui-pane-footer {
		min-height: 0;
		padding: 0;

		.cui-button-button {
			.cui-button-visual {
				@include button-reset;
				color: hsl(205,11%,29%);
			  height: 23px;
			  padding: 0 $padding/2;
			  border-right: 1px solid hsl(205,8%,77%) !important;
			}
		  
		  &:cui-disabled {
		  	opacity: 1;
		  	
		  	.cui-button-visual * {
		  		opacity: 0.5;
		  	}
		  }

		  &:before {
		    display: none;
		  }
		}

		.cui-buttonbar .cui-button {
			margin: 0;
		}
	}

	input,
	textarea {
		min-width: 0;
	}
}

// Icons
.cui-icon-svg {
	fill: currentColor;
	vertical-align: bottom;
	pointer-events: none;
}

.fa {
	font-size: 14px;
}

i.fa-spinner {
	width: 1em;
}

i.cui-spin-stepped {
	-webkit-animation: fa-spin 1s steps(8) infinite;
	   -moz-animation: fa-spin 1s steps(8) infinite;
	    -ms-animation: fa-spin 1s steps(8) infinite;
	     -o-animation: fa-spin 1s steps(8) infinite;
	        animation: fa-spin 1s steps(8) infinite;
}

// adjust close x size
.fa-times-thin:before {
	font-size: 1.58em;
	content: '\00d7';
	display: block;
  margin-top: -0.09em;
}

// adjust arrow-left, arrow-right size
.fa-angle-right,
.fa-angle-left,
.fa-angle-down,
.fa-angle-up {
	&:before {
		font-size: 1.34em;
	}
}

.fa-angle-down {
	margin-bottom: -1px;
}

// Button / Select
.cui-button,
.cui-button-href {
	// max-width: 100%; makes button icons unsharp (datepicker)
	cursor: pointer;
}

.cui-button-visual {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
}

.cui-button-button,
.cui-button-select {
	flex: 0 0 auto;
	flex-direction: column;
	align-self: flex-start;
	align-items: center;
	justify-content: center;
	display: inline-flex; // if a button is not in a flex container, behave like "inline-block"
	white-space: nowrap;
	
	.cui-button-visual {
	  padding: 0 $padding;
	  height: 24px;
	  line-height: 22px;
	  color: $button-text-color;
	  background: hsl(0,0%,100%);
	  border: 1px solid $button-border;
	  border-radius: $button-border-radius;
	}

	&:hover .cui-button-visual {
	  border-color: hsl(205,100%,45%);
	  color: hsl(205,100%,45%);
	}

	&:active .cui-button-visual {
	  border-color: hsl(205,100%,35%);
	  color: hsl(205,100%,35%);
	}

	&.cui-disabled {
	  cursor: default;
	  
		.cui-button-visual {
		  color: $disabled-color;
		  border-color: $button-border;
	  }
	}

	&.cui-button-appearance-important, // removed [role] - makes it too specific
	&.cui-button--primary,
	&.cui-active {
		.cui-button-visual {
	  	color: white;
	  	background: $highlight-color;
	  	border-color: darken($highlight-color, 7%);
	  }
	}

	&.cui-button-appearance-flat {
		align-self: auto;
		
		.cui-button-visual {
			@include button-reset;
			color: desaturate($highlight-color, 80%);
		}
		
	  &:hover {
	  	.cui-button-visual {
	  		color: desaturate($highlight-color, 80%);
	  	}
	  }

	  &.cui-active {
	  	.cui-button-visual {
	  		color: desaturate($highlight-color, 80%);
	  	}
	  }
	}

	&:focus {
		outline: none;
		
		.cui-button-visual {
			@include focus;
		}
	}
}

.cui-button-select {
	.cui-button-visual {
		padding: 0 4px 0 8px;
	}

	.cui-button-center {
		padding-right: 6px;
		
		[max-chars] {
			text-align: inherit;
		}
	}
}

.cui-button-left,
.cui-button-center,
.cui-button-right {
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
	padding: 0 3px;

	&:empty {
		display: none;
	}
}

.cui-button-center {
	flex-shrink: 1;
	max-width: 100%;
	
	span {
		@include ellipsis;
	}
}

.cui-button-size-mini {
	font-size: 12px;
  height: 26px;

  &.cui-button-appearance-flat {
  	height: auto;
  }
}

.cui-button-size-big {
	font-size: 15px;
	height: 37px;

	&.cui-button-appearance-flat {
		height: auto;
	}
}

.cui-button-size-bigger {
	font-size: 18px;
	height: 43px;

	&.cui-button-appearance-flat {
		height: auto;
	}
}

a[role="button"].cui-button-appearance-link {
	height: initial;
	> .cui-button-center {
		word-break: break-all;
	}
}

.cui-button-appearance-link[role] {
	display: inline-flex;
	
	.cui-button-visual {
		@include button-reset;
		color: $highlight-color;
	}

	.cui-button-center {
		padding: 0;
	}
}


// Checkbox
.cui-checkbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cui-button-checkbox {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	height: 24px;
	line-height: 24px;
	white-space: initial;
	align-self: flex-start;
	max-width: 100%;

	&.cui-disabled {
		cursor: default;
		color: $disabled-color;
		
		.cui-button-left {
			opacity: 0.27;	
		}
	}

	&:focus {
		outline: none;

		.cui-button-left span,
		.cui-button-left i {
			@include focus;
		}
	}

	&.cui-active {
		.cui-button-left i {
			position: relative;
			background: hsl(240,2%,61%);
			border-color: hsl(240,3%,58%);
			color: white;
			text-shadow: 0 1px rgba(0,0,0,.2);
		}

		&[role="radio"] {
			.cui-button-left i {
				color: transparent;
				text-shadow: none;

				// use radial gradient instead of border-radius
				// for a nice round form (otherwise its more of an egg)
				border-radius: none;
				border-color: transparent;
				background: radial-gradient(hsl(240,2%,61%), hsl(240,3%,58%));

				&:after { // radio dot
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					width: 6px;
					height: 6px;
					margin: -3px 0 0 -3px;
					border-radius: 100%;
					background: white;
					box-shadow: 0 1px rgba(0,0,0,.2);
				}
			}
		}
	}

	.cui-button-visual {
		justify-content: unset;
	}

	.cui-button-left {
		padding: 0 2px 0 0;
		// empty checkbox: span
		// filled checkbox: i
		span,
		i {
			display: inline-block;
			width: 12px;
			height: 12px;
			border: 1px solid hsl(0,0%,72%);
			border-top-color: hsl(0,0%,65%);
			border-bottom-color: hsl(0,0%,72%);
			background: white;
			font-size: 11px;
			line-height: 11px;
			border-radius: 2px;
			box-shadow: 0 1px rgba(0,0,0,.05) inset;
		}
	}

	.cui-button-center {
		min-width: 0;
	}

	&[role="radio"] {
		.cui-button-left {
			span,
			i {
				width: 14px;
				height: 14px;
				border-radius: 100%;
			}
		}
	}
}

// Select

.cui-select {
	.cui-button-center:empty {
		display: flex;

		&:after {
			content: '-';
			padding: 0 $padding/4;
		}
	}

	&[max-chars="2"] {
		width: auto;

		.cui-button-center span {
			width: 2.5ch;
		}
	}

	&[max-chars="4"] {
		width: auto;

		.cui-button-center span {
			width: 4ch;
		}
	}
}

// Panel
.cui-panel {
	border-bottom: 1px solid $soft-border;
	
	// &:last-child {
	// 	border-bottom: none;
	// }

	&.cui-panel-closed {
		border-bottom: none;
		
		> .cui-panel-body {
			display: none;
		}
	}
}

.cui-panel-header {
	border-top: 1px solid $soft-border;
	border-bottom: 1px solid $soft-border;
	position: relative;
	height: $toolbar-small-height;

	&:first-child {
		border-top: none;
	}

	.cui-button {
		width: 100%;
		height: 100%;
		align-items: stretch;
		
		.cui-button-visual {
			border: none;
			background: none;
			border-radius: 0;
			justify-content: flex-start;
			color: inherit;
			padding: 0 $padding;
			height: auto;
			line-height: 1;
		}

		.fa {
			width: 12px;
		}

		.fa-angle-right {
			padding-left: 3px;
		}

		.fa-angle-right {
			margin-top: -1px;
		}
	}
}


// Label
.cui-label {
	display: inline-flex;
	flex: 0 0 auto;
	align-items: center;

	&.cui-tmpl-label-rotate-90 {
		align-items: flex-end;
		// rotate by 90 degrees
		white-space: nowrap;
		// align-self: flex-start;
		> .cui-label-transform {
			// the transform-origin is the corner
			// of the content, so the padding
			// moved the origin to the right.
			// we need to compensate for that
			transform: rotateZ(-90deg) translateY(calc(100% - 3px)) translateX(3px);
			transform-origin: left bottom;
		}
	}

	.cui-label-icon {
		.fa {
			line-height: 18px;
		}
	}

	&.cui-label-size-big {
		.cui-label-icon {
			.fa {
				font-size: 21px;
			}
		}
	}

	.cui-label-icon:not(:empty) + .cui-label-content:not(:empty) {
		padding-left: $padding/2;
	}

	.cui-label-content {
		flex: 0 0 auto;
		max-width: 100%;
		@include ellipsis;

		&:empty {
			display: none;
		}

		p {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		// highlight
		em {
			background: hsl(55,100%,60%);
			font-style: normal;
		}
	}

	.cui-label-icon:empty {
		display: none;
	}
}

// Label: Centered
.cui-label-centered {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	
	.cui-label-content {
		text-align: center;
	}
}

// Label: Markdown
.cui-label-markdown .cui-label-content {
	display: block;

	h1, h2, h3, h4, h5, h6 {
	  font-weight: normal;
	  margin: 0 0 $padding;
	}

	h1 {
	  font-size: 24px;
	  line-height: 30px;
	}

	h2 {
	  font-size: 20px;
	  line-height: 25px;
	}

	p,
  pre,
  blockquote {
    margin: 0 0 16px;
  }

  & > p,
  & > pre,
  & > blockquote {
    &:first-child {
      margin-top: 6px;
    }

    &:last-child {
      margin-bottom: 6px;
    }
  }

  blockquote {
    padding: 8px 12px;
    border-left: 5px solid #eee;
  }

  code {
    border: none;
    background: hsl(0,0%,97%);
    white-space: pre-wrap;
  }

  pre {
    padding: 12px 15px;
    font-size: 13px;
    line-height: 1.45;
    background: hsl(0,0%,97%);
    white-space: pre-wrap;
    border-radius: 3px;
    border: none;
    overflow: auto;
  }

  hr {
    margin-top: 6px;
    margin-bottom: 6px;
    border: 0;
    border-top: 1px solid #dfdfdf;
  }
}

// Label: Multiline
.cui-label-multiline {
	align-self: stretch;
	@include margin;

	&:not(.cui-label-markdown) {
		// word-break: normal;
		word-break: break-all;
		// this does not work in IE, but will
		// be ignored by IE, so we are good
		word-break: break-word;
		
		.cui-label-content {
			white-space: pre-wrap;
		}
	}

	> .cui-label-content {
		flex: 1 1 auto;
	}

	&.cui-label-manage-overflow {
		> .cui-label-content {
			transition: height ease 0.5s, max-height ease 0.5s;
			max-height: 62px;
			position: relative;
			overflow: hidden;

			> .cui-label-manage-overflow-content-container {
				transition: height ease 0.5s, max-height ease 0.5s;
				overflow: hidden;

				> span {
					white-space: pre-wrap;
					word-break: normal;
				}
			}

			> .cui-label-manage-overflow-button-container {
				height: 0;
				align-self: flex-end;
				.cui-button {
					transform: translateY(-100%);
					border-style: none;
					background-color: #8a8a8a;
					color: #ffffff;
					border-radius: 3px;
				}
			}
		}
	}

	.cui-label-content span {
		// white-space: normal;
		// white-space has to pre-wrap - otherwise it breaks the whole concept of a multiline label
		// example: collection description
	}
}

// Label: Placeholder
.cui-empty-label {
	color: $muted-color;
	font-style: italic;
	padding: $padding/2;
	margin: 0;
	cursor: default;
	
	.cui-label-content {
		display: inline-block;
	}
}


// Buttonbar
.cui-buttonbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	@include margin;

	// > *:not(:last-child) {
	// 	margin-right: $gap;
	// }
	
	.cui-label {
		margin: 0 $small-gap;
	}

	.cui-label-content {
		align-self: center; // Date-Time picker month label in footer
	}

	> .cui-button {
		// align-self: unset; // don't unset - need stretch for big button clickarea
		
		& + .cui-button,
		& + .cui-buttonbar-group {
			margin-left: $small-gap;
		}
	}

	.cui-button-href {
		height: 100%;
		margin: 0 $small-gap;
	}

	.cui-buttonbar-group + .cui-button {
		margin-left: $small-gap;
	}
}

// Buttonbar & Button
.cui-buttonbar + .cui-button {
	margin-left: 4px;
}

.cui-button + .cui-buttonbar,
.cui-select + .cui-buttonbar {
	margin-left: 4px;
}

// Buttonbar
.cui-buttonbar-group {
	display: flex;
	flex-direction: row;

	> * {
		position: relative;
		margin-left: -1px;

		&:first-child {
			margin-left: 0;
			
			.cui-button-visual {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:before {
				display: none;
			}
		}

		&:last-child .cui-button-visual {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&:not(:first-child):not(:last-child) .cui-button-visual {
			border-radius: 0;
		}

		&:only-child .cui-button-visual {
			border-radius: $button-border-radius;
		}

		&:hover,
		&.cui-active {
			z-index: 1;
		}
	}

	> .cui-data-field {
		& + *:before {
			display: none;
		}
	}
}

// Input
.cui-input {
	// state classes:
	// cui-input-invalid
	// cui-input-has-no-user-input
	// cui-input-has-user-input
	// cui-has-focus
	// cui-has-check-input
	//
	// hint:
	// cui-input-has-invalid-hint
	// cui-input-has-valid-hint
	// cui-input-has-input-hin:
	//

	&.cui-input-has-check-input {
		&.cui-input-invalid:not(.cui-input-has-user-input) {
			input {
				border-color: hsl(0,90%,60%);
				background: hsla(0,90%,74%, 0.15);
			}
		}
	}

	input,
	textarea {
		padding: 0 7px;
		line-height: 22px;
		outline: none;
		
		&:focus {
			@include focus;
		}
	}

	textarea {
		padding-top: $padding/2;
		padding-bottom: $padding/2;
		line-height: 18px;
	}

	&.cui-has-focus {
		input,
		textarea {
			@include focus;
		}
	}

	// hint
	+ .cui-label {
		margin-top: 5px;
		font-size: 12px;
		color: $muted-color;
	}
}

.cui-input-valid-hint {
	font-size: 11px;
	margin-top: $padding/4;
}

::-ms-clear {
  display: none;
}

// Layer
.cui-tmpl-layer-root {
	z-index: 1;
}

.cui-layer {
	min-width: 200px;
	position: absolute;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: white;
	margin: 10px;
	outline: none;
	border-radius: 5px;
	// to make sure that the border-radius will cut off all child backgrounds
	// http://stackoverflow.com/questions/5736503/how-to-make-css3-rounded-corners-hide-overflow-in-chrome-opera
	opacity: 0.99;
	box-shadow:
		0 4px 20px hsla(205,5%,30%,.4),
		0 2px 4px hsla(0,0%,0%,.1);
	// box-shadow:
	// 	0 0 0 1px hsla(0,0%,0%,0.1),
	// 	0 7px 14px hsla(0,0%,0%,0.1);
	
	> .cui-simple-pane,
	> .cui-pane {
		// layer-header
		> .cui-vertical-layout-top > .cui-pane-header {
			background: $layer-header-background;
			min-height: $toolbar-small-height;
			border-radius: 5px 5px 0 0;
			border-color: $layer-header-border;
		}

		// layer-body
		> .cui-vertical-layout-center {
			overflow: auto;

			.cui-form-table-has-left-column {
				margin: 0;
			}

			// add spacing to single labels in the body
			// 
			// cases:
			// - password reset
			// - popover manager
			//
			&,
			> .cui-layout,
			> .cui-layout > .cui-layout,
			> .cui-layout-cell,
			> .cui-layout > .cui-layout-cell {
				> .cui-label {
					margin-left: $padding;
					margin-right: $padding;
					
					&:first-child {
						margin-top: $compensating-padding;
					}

					&:last-child {
						margin-bottom: $compensating-padding;
					}
				}
			}
		}

		// layer-footer
		> .cui-vertical-layout-bottom > .cui-pane-footer {
			border-top-color: $layer-footer-border;
			background: $layer-footer-background;
			border-radius: 0 0 5px 5px;
		}
	}

	.cui-toolbar {
		min-height: $toolbar-small-height;
	}
}

.cui-layer-pointer {
	position: absolute;
	z-index: 1;
	width: 33px;
	height: 16px;
	margin: 0 6px;
	overflow: hidden;

	&:after { // arrow (north)
		content: "";
		position: absolute;
		left: 8px;
    top: 7px;
    width: 18px;
    height: 18px;
		background: $layer-background;
		box-shadow:
			0 0 0 1px hsla(0,0%,0%,0.1),
			3px 3px 14px hsla(0,0%,0%,0.1);
		transform: rotate(45deg);
	}
}

.cui-layer-pointer--n:after {
	background: $layer-header-pointer-background;
}

.cui-layer-pointer--s:after {
	top: -9px;
	background: $layer-footer-background;
}

.cui-layer-pointer--e,
.cui-layer-pointer--w {
	width: 16px;
	height: 37px;
	margin: 6px 0;
}

.cui-layer-pointer--e:after {
	left: -9px;
}

.cui-layer-root-menu .cui-layer-pointer {
	height: 12px;
	
	&.cui-layer-pointer--e,
	&.cui-layer-pointer--w {
		width: 12px;
		height: 37px;
	}
	
	&:after {
		background: white;
	}
}

.cui-layer-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	> div {
		flex: 1 1 auto;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.cui-layer-backdrop-body-clone {
	position: absolute;
	overflow: hidden;

	> *:first-child {
		position: absolute;
	}
}

.cui-tmpl-layer-root.cui-layer-root-backdrop-blur {
	> .cui-tmpl-layer-backdrop
	{
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
		overflow: hidden;
	}

	> .cui-layer {
		// blur effect, make layer transparent
		background-color: rgba(255, 255, 255, 0.39);

		.cui-tmpl-item-list-body {
			.cui-button {
				background-color: transparent;
			}
		}
	}
}

// Modal

.cui-modal {
	> .cui-simple-pane {
		// layer-footer
		> .cui-vertical-layout-bottom > .cui-pane-footer {
			border-radius: 0 0 5px 5px;
			
			// unset normal spacing
			.cui-buttonbar > *:not(:last-child) {
				margin-right: 0;
			}
			
			.cui-button {
				padding: $padding/2;
				
				&:last-child {
					padding-right: $padding;
				}
				
				&:first-child {
					padding-left: $padding;
				}
			}
		}
	}
}

// Confirmation

.cui-confirmation-dialog {
	max-width: 400px;
	background: hsl(205,7%,98%);

	.cui-form-tr,
	.cui-form-tr-header {
		background: none;
	}
	
	> .cui-simple-pane {
		// layer-header
		> .cui-vertical-layout-top {
			overflow: visible;
			
			> .cui-pane-header {
				background: none;
				border-bottom-width: 0;
				min-height: 0;
				position: relative;
				padding-right: 0;
				
				.cui-label {
					margin-top: $padding;
					font-weight: bold;
					font-size: 15px;
				}

				.cui-button {
					padding: 11px 7px 4px 7px;
					
					.cui-button-visual {
						border-width: 0;
						background: none;
						padding: 0;
						height: auto;
						color: hsl(205,6%,75%);
					}
				}
			}
		}
		
		// layer-footer
		> .cui-vertical-layout-bottom > .cui-pane-footer {
			min-height: 0;
			justify-content: space-between;
			border: none;
			background: none;
			padding: 0;
			
			.cui-buttonbar {
				height: 33px;
				margin-right: 0;
			}

			.cui-button-button {
				flex: 1;
				margin: 0;
				height: 100%;
				align-items: stretch;
				padding: 0 !important;
				
				.cui-button-visual {
					height: 100%;
					border: none;
					border-top: 1px solid hsl(210,11%,93%);
					border-left: 1px solid hsl(210,11%,93%);
					padding: 0 $padding;
					border-radius: 0;
					color: $highlight-color;
					background: none;
				}

				&.cui-active .cui-button-visual {
					color: $highlight-color;
				}

				&.cui-button--primary .cui-button-visual {
					background: $highlight-color;
					color: $on-highlight-color;
					border-top-color: $highlight-color;
					border-left-width: 0;
				}
			}

			.cui-buttonbar {
				flex: 1;
			}

			.cui-horizontal-layout-left,
			.cui-horizontal-layout-center,
			.cui-horizontal-layout-right {
				flex: 1;

				&:empty {
					display: none;
				}
			}

			.cui-horizontal-layout-left:empty +
			.cui-horizontal-layout-center:not(:empty),
			.cui-horizontal-layout-left:empty +
			.cui-horizontal-layout-center:empty +
			.cui-horizontal-layout-right,
			.cui-horizontal-layout-left {
				.cui-button:first-child .cui-button-visual {
					border-left-width: 0;
					border-bottom-left-radius: 4px;
				}
			}
		}
	}
	
	.cui-horizontal-layout-right {
		margin-left: 0;
	}

	// maximise form table rows
	.cui-form-table-has-not-left-column {
		.cui-form-center {
			flex-grow: 1;
		}
	}
}


// Tooltip
.cui-layer-root-tooltip .cui-layer-pointer {
	width: $padding / 2;
	height: $padding / 2;

	&:after {
		display: none;
	}
}

.cui-tooltip {
	max-width: 260px;
	max-height: 100px;
	min-width: 0;
	overflow: auto;
	background: $layer-background;
	border-radius: 2px;
	box-shadow:
		0 0 0 1px hsla(0,0%,0%,0.1),
		0 7px 14px hsla(0,0%,0%,0.1);
	cursor: default;

	.cui-label {
		font-size: 11px;
    line-height: 14px;
    padding: 3px 6px;
	}

	> .cui-simple-pane > .cui-vertical-layout-center {
		padding: 0;
		
		> .cui-label:only-child {
			margin: 0;
		}
	}
}


// Toaster
.cui-layer-root-toaster .cui-layer {
	font-size: 14px;
	width: auto;
	min-width: 0;
	user-select: none;

	> .cui-layout > .cui-vertical-layout-center {
		padding: 0 $padding;
	}
}

// Menu
.cui-menu {
	min-width: 0;
	max-width: 200px; // when the width is wider its harder to see which arrow belongs to which row
  background: white;
  border-radius: 4px;
  padding: 4px 0;
	height: auto; // WEIRD reset: cui-menu on selects gets class button-select

	.cui-item-list {
		font-size: inherit;
	}

	.cui-button {
		cursor: pointer;
	}
}

.cui-menu-divider {
	margin: 6px 0;
}

.cui-button--has-caret {
	.cui-button-right {
		margin-left: auto;
	}
}

// ItemList
.cui-item-list {
	.cui-label {
	  cursor: default;
	  padding: $padding+3px $padding 3px;
	  font-size: 0.9em;
	  color: hsl(205,3%,50%);
	  
	  &.cui-empty-label {
	  	padding: 6px $padding;
	  }
	  
	  &:first-child {
	  	padding-top: 6px;
	  }
	  
	  &:last-child {
	  	padding-bottom: 6px;
	  }
	}

	.cui-button,
	.cui-button-href {
	  align-items: stretch;
	  
	  .cui-button-visual {
	  	justify-content: flex-start;
		  padding: 0 $padding;
			border: none;
			border-radius: 0;
			height: 26px;
			line-height: 26px;
	  }

	  &:hover:not(.cui-disabled),
	  &:active {
	  	.cui-button-visual {
	  		color: hsl(205,7%,22%);
				background: hsl(205,17%,98%);
			}
	  }

	  &.cui-active,
	  &.cui-active:hover {
	  	.cui-button-visual {
	  		color: $on-highlight-color;
	  		background: $highlight-color;
	  	}
	  }

	  .cui-button-center {
	    padding: 0;
	  }
	}

	.cui-button-href {
		&:hover:not(.cui-disabled) .cui-button-visual {
			color: $highlight-color;
		}
	}
}

.cui-item-list-divider {
	height: 1px;
	background: hsl(210,11%,93%);
}

.cui-tmpl-item-list-body {
	display: flex;
	flex-direction: column;

	> div {
		flex: 0 0 auto;
	}

	a[role="button"],.cui-button
	{
		align-self: stretch;
	}

	&.cui-item-list--has-button-left {
		// this button always has a left side
		.cui-button-left {
			padding-right: $padding;
			width: 13px;
			box-sizing: content-box;
		}
	}
}

// Popover
.cui-popover {
	background: white;
	min-width: 247px;
}

// Backdrop
.cui-layer-root-modal,
.cui-layer-root-confirmation-dialog {
	.cui-layer-backdrop {
		background: radial-gradient(hsla(205,30%,20%,.4), hsla(205,30%,20%,.6));
	}
}

// WaitBlock
.cui-tmpl-wait-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	
	.cui-wait-block-glass {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $background;
	}

	.cui-wait-block-inner {
		display: flex;
		flex: 1 1 auto;
		position: relative;
		
		.cui-wait-block-header {
			display: flex;
			flex: 1 1 auto;
			justify-content: center;
			align-self: center;
			
			.cui-label {
				.cui-label-icon i {
					font-size: 21px;
			    width: 21px;
			    height: 21px;
			    line-height: 21px;
			  }
				
				.cui-label-content {
					padding-left: $padding;
				}
			}
		}

		.cui-wait-block-content {
			display: none;
		}
	}
}

// Tabs
.cui-tabs {
	.cui-tabs-active-marker {
		display: none;
		position: absolute;
		bottom: 0;
		// left + width are set by javascript
		height: 3px;
		background: yellow;
		transition: width 0.3s ease, left 0.3s ease;
	}
	> .cui-vertical-layout-top {
		> .cui-pane-header {
			min-height: $toolbar-small-height;
			background: $toolbar-background;
			padding: 0;

			.cui-horizontal-layout-center {
				overflow: hidden;
				flex-grow: 0;
				justify-content: center;
			}

			/* overflowing tabs */
			&.cui-tabs-pane-header--overflow {
				> .cui-horizontal-layout-center {
					align-items: flex-start;
					padding-left: $padding/2;
					margin-right: 0;
					
					.cui-tab-header-button:last-child {
						.cui-button-visual {
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
							border-right: none;
						}
					}
				}
			}
		}
	}
	> .cui-vertical-layout-center {
		> .cui-tmpl-tabs-bodies {
			display: flex;
			flex: 1 1 auto;
			overflow: hidden;
		}
	}
}

.cui-tab {
	margin-left: 0 !important;
	// border-bottom: 1px solid hsl(210,11%,93%); // no border bottom plz says Felix 19.10.16
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: auto;
	
	&.cui-tab-hidden {
		display: none;
	}
}

.cui-toolbar .cui-tab-header-button-overflow,
.cui-toolbar .cui-tab-header-button {
	font-size: inherit;
		
	.cui-button-visual {
		border: none;
		background: none;
		color: hsl(205,15%,43%);
		height: 26px;
		line-height: 24px;
		min-width: 40px;
		padding: 0 $padding;
		border-radius: 0;
		border: 1px solid hsl(205,15%,43%);	
	}

	&:first-child .cui-button-visual {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	&:last-child .cui-button-visual {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	&.cui-active .cui-button-visual {
		color: $on-highlight-color;
		background: hsl(205,15%,43%);
	}
}

.cui-toolbar {
	&.cui-tabs-pane-header--scroll-at-end {
		.cui-tab-header-button-overflow {
			box-shadow: none;
		}
	}

	.cui-tab-header-button-overflow {
		align-self: center;
		padding-right: $padding/2;
		position: relative;
		z-index: 1; // to overlap active buttons
		box-shadow:
			-1px 0 hsla(0,0%,0%,.10),
			-2px 0 hsla(0,0%,0%,.08),
			-3px 0 hsla(0,0%,0%,.05),
			-4px 0 hsla(0,0%,0%,.02),
			-5px 0 hsla(0,0%,0%,.01);
		
		.cui-button-visual {
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
		}
	}
}


$table-data-height: 26px;
$table-data-padding: 4px;

// ListView
.cui-list-view {
	.cui-label {
		line-height: $table-data-height - $table-data-padding*2;
	}

	> .cui-vertical-layout-bottom {
		.cui-toolbar {
			border-top: 1px solid $border;
		}
	}
}

.cui-tmpl-list-view-tool-row-move-target {
	height: 4px;
	background: $highlight-color;
	margin-top: -2px;
	position: absolute;
	z-index: 4;
}

.cui-tmpl-list-view-tool-row-move-marker {
	position: absolute;
	z-index: 4;
	background: $highlight-color;
	opacity: 0.3;	
}

.cui-lv-td {
	padding: $table-data-padding $padding;
	width: 135px;
	min-height: $table-data-height;
	flex: 0 0 auto;
	overflow: hidden;
	display: flex;
	align-items: flex-start;

	&.cui-lv-td-rotate-90 {
		width: 32px;
		
		> .cui-tmpl-label-rotate-90 {
			word-break: break-all;
			height: 250px;
		}
	}

	&.cui-lv-td-fill {
		padding: 2px;
		min-height: 0;
	}

	&.cui-lv-td-max {
		flex: 1 1 auto;
		width: auto;
	}
}

.cui-list-view-grid-quadrant-0,
.cui-list-view-grid-quadrant-1 {
	.cui-lv-td {
		position: relative;

		&:after { // table-head line
			content: "";
			position: absolute;
			right: 0;
			top: 2px;
			bottom: 2px;
			width: 1px;
			background: $table-header-border;
		}
	}
}

.cui-list-view-grid-quadrant-1 {
	.cui-lv-td:last-child:after {
		display: none;
	}
}

.cui-list-view-grid-has-fixed-rows {
	.cui-list-view-grid-inner-top {
		border-bottom: 1px solid $table-border;
	}
}

// &.cui-maximize-vertical {
//	> .cui-vertical-layout-center {
//		> .cui-list-view-grid {
//			height: 100%;
//		}
//	}
// }

// &.cui-maximize-horizontal {
//	> .cui-vertical-layout-center {
//		> .cui-list-view-grid {
//			width: 100%;
//		}
//	}
// }

.cui-list-view-grid {
	font-size: 12px;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	// needed for resize tool to position the resize
	// handles properly
	position: relative;
}

.cui-list-view-grid-inner-top {
	flex: 0 0 auto;
	display: flex;
	
	// breaks the headers - they should be left aligned
	// .cui-lv-td {
	// 	justify-content: flex-end;
	// }
}

.cui-list-view-grid-inner-bottom {
	flex: 1 1 auto;
	display: flex;
}

.cui-list-view-grid-quadrant-0 {
	flex: 0 0 auto;
	overflow: hidden;
}

// eg. header
.cui-list-view-grid-quadrant-1 {
	flex: 1 1 auto;
	overflow: hidden;
	
	.cui-button {
		height: 100%;
		flex: 1;
		align-items: stretch;
		
		.cui-button-left {
			padding-right: 6px;
		}

		.cui-button-center {
			flex: 1;
			justify-content: flex-start;
		}
		
		.cui-button-visual {
			@include button-reset;
		}
	}

	.cui-label {
		font-weight: bold;
	}

	.cui-lv-td {
		align-items: flex-end;
	}
}

.cui-list-view-grid-quadrant-2 {
	flex: 0 0 auto;
	overflow: hidden;
}

.cui-list-view-grid-quadrant-3 {
	flex: 1 1 auto;
	overflow: auto;
}

.cui-list-view-grid-quadrant-2,
.cui-list-view-grid-quadrant-3 {
	.cui-lv-tr-outer {
		position: relative;
		
		&:nth-child(even) {
			background: $zebra-color;
		}
		
		// &:not(:last-child):after {
		// 	content: "";
		// 	position: absolute;
		// 	left: $padding/2;
		// 	right: $padding/2;
		// 	bottom: 0;
		// 	height: 1px;
		// 	background: hsl(0,0%,97%);
		// }
	}
}

// outside .cui-list-liew, we can use
// this in Form too

.cui-lv-tbody {
	display: flex;
	flex-direction: column;
}

.cui-lv-tr-outer {
	// avoid the text select cursor on list items
	cursor: default;
	display: flex;
	flex: 0 0 auto;
	min-width: 0;
	outline: none;

	&.cui-selected,
	&:focus {
		background: hsl(201,82%,92%) !important;
		
		.cui-empty-label {
			color: hsl(205,33%,63%);
		}
	}
}

.cui-lv-tr {
	flex: 1 1 auto;
	display: flex;
	max-width: 100%;
}

.cui-list-view-row-move-handle-column {
	display: none;
	padding-top: ($table-data-height - 12px) / 2;
	
	&:after {
		display: none;
	}

	&.cui-lv-td {
		width: 10px + $table-data-padding*2+2;
		padding-left: $table-data-padding+2;
		padding-right: 0;
	}
}

.cui-list-view-row-movable .cui-list-view-row-move-handle-column {
	display: flex;
}

.cui-list-view-grid-quadrant-1,
.cui-list-view-grid-quadrant-3 {
	.cui-lv-td:last-child {
		// border-right: solid 1px black;
	}
}

.cui-lv-tr-fill-outer {
	flex: 1 1 auto;
	display: flex;
	background: linear-gradient($zebra-color 50%, white 50%);
	background-size: 100% $table-data-height*2;

	> .cui-lv-tr {
		border-style: none;
	}

	.cui-lv-td.cui-lv-td-fill {
		padding: 0;
	}
}

.cui-tmpl-list-view-tool-col-resize-marker {
	position: absolute;
	cursor: col-resize;
	// bigger grab area
	margin: 0 -4px;
	padding: 0 4px;

	> div {
		width: 1px;
		margin-left: -1px;
		height: 100%;
		background: $table-header-border;
	}
}

.cui-list-view-tool-marker {
	position: absolute;
	background: $zebra-color;
	opacity: 0.5;
}

// ListViewTree

.cui-list-view-grid {
	&.cui-list-view-tree-no-hierarchy {
		.cui-tree-node-handle {
			display: none !important;
		}
	}
	.cui-tree-node {
		display: flex;
		flex: 1 1 auto;
		max-width: 100%;

		.cui-tree-node-handle,
		.cui-tree-node-spacer {
			width: 12px;
			flex: 0 0 auto;
			padding-right: 5px;
		}

		.cui-tree-node-handle {
			display: flex;
			text-align: center;
			align-items: center;
			justify-content: flex-end;
			
			.fa {
				margin-top: -2px;
			}
		}

		.cui-tree-node-content {
			flex: 1 1 auto;
			min-width: 0;
			
			.cui-label {
				max-width: 100%;
			}
		}
	}
}

// Table
.cui-table {
	display: table;
	width: 100%;
}

.cui-tr {
	display: table-row;
	@include padding-y(0.5);
}

.cui-td {
	display: table-cell;
	
	&[colspan]{		
		> label,
		> .cui-label {
			margin-bottom: $padding/2;
		}
	}
}

// Form
.cui-form {
	align-self: stretch !important;
}

table.cui-form-table {
	@include flex-table();
}

// .cui-form-table {
// 	margin: 0;
// }

.cui-form-tr,
.cui-form-tr-header {
	display: flex;
	position: relative;
}

.cui-form-tr {
	.cui-form-options-table,
	.cui-form-table-horizontal {
		margin-top: -$padding;
		margin-bottom: -$padding;

		.cui-form-tr {			
			&:before {
				left: 0;
				right: 0;
			}
		}

		.cui-form-left,
		.cui-form-right {
			width: auto;
		}

		.cui-form-left {
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	.cui-form-options-table .cui-form-center {
		width: 70px;
	}
}

.cui-form-center {
	flex-grow: 1;
	
	.cui-data-field {
		max-width: 230px;
	}
	
	.cui-checkbox {
		max-width: none;
	}
}

[cui-form-depth="0"] > .cui-form-tr-header,
.cui-form-table-has-left-column .cui-form-tr-content-is-form-vertical > .cui-form-left {
	width: auto;
	padding: 3*$padding 0 $padding/2;
	margin: 0 $padding;
	border-bottom: 1px solid hsl(205,10%,95%);
	text-align: left;

	.cui-label,
	label {
		font-weight: bold;
	}

	.cui-form-left {
		padding: 0;
	}

	.cui-form-center {
		display: none;
	}

	& + .cui-form-tr:before {
		display: none;
	}
}

.cui-form-tr.cui-form-tr-content-is-form-vertical {
	flex-direction: column;
	padding: 0;
	
	.cui-form-table[cui-form-depth="2"] > .cui-form-tr {
		&:before {
			left: $padding*2.5;
		}

		> .cui-form-left {
			padding-left: $padding*2.5;
		}
	}
	
	.cui-form-table[cui-form-depth="3"] > .cui-form-tr {
		&:before {
			left: $padding*5;
		}

		> .cui-form-left {
			padding-left: $padding*5;
		}
	}

	.cui-form-center {
		.cui-data-field {
			max-width: none;
		}

		.cui-table {
			.cui-form-left {
				width: auto !important;
				padding: 0 0 0 10px;
			}

			.cui-form-center {
				padding-right: 0;
			}
		}
	}
}

// hacky 1px line instead of empty form-left that shouln't be here
[cui-form-depth="1"] .cui-form-tr-content-is-form-vertical:not(.cui-form-table-has-left-column){
	> .cui-form-left {
		height: 1px;
		margin: 0 $padding;
		padding: 0;
		overflow: hidden;
		background: hsl(205,10%,95%);
		
		&:before {
			display: none;
		}
	}
}

.cui-form-table-has-not-right-column {
	> .cui-form-tr > .cui-form-td.cui-form-right {
		display: none;
	}
}

.cui-form[cui-data-field-form-depth="0"] {
	> .cui-vertical-layout-center {
		> .cui-form-table {
			> .cui-form-tr:last-child {
				border-color: #ff44ee;
			}
		}
	}
}

.cui-form:not([cui-data-field-form-depth="0"]) {
	> .cui-vertical-layout-center {
		> .cui-form-table {
			> .cui-form-tr:last-child {
				border-style: none;
			}
		}
	}
}

.cui-data-field {
	flex: 1;
	
	.cui-list-view-grid-quadrant-3 {
		min-height: 3*$table-data-height; // for when using empty lists that can get filled
	}

	.cui-list-view-row-move-handle-column {
		align-items: center;
		padding-top: 0;	
		padding-bottom: 0;	
	}
}

.cui-data-field-output-label {
	line-height: 24px;
}

.cui-data-field-hidden {
	display: none;
}

.cui-form-table-has-left-column {
	.cui-form-left,
	.cui-form-right {
		width: 135px;
		// UNCLEAR breaks web-link configuration popover table layout
	}

	.cui-form-left {
		padding: 4px $padding;
		display: block;
		text-align: right;
		@include ellipsis;
	}

	.cui-form-center {
		padding-right: $padding;
	}

	.cui-form-tr,
	.cui-form-tr-header {
		padding: $padding 0 $padding - 1px;

		&:before {
			content: "";
			position: absolute;
			left: $padding;
			right: $padding;
			height: 1px;
			top: 0;
			background: hsl(205,10%,96%);
		}

		&:first-child:before {
			display: none;
		}
	}
}

.cui-maximize-horizontal > .cui-vertical-layout-center {
	> .cui-form-table {
		> tr {
			> .cui-form-td.cui-form-center {
				flex: 1 1 auto;
				width: 200px;
			}
		}
	}

	> .cui-form-table-vertical {
		> .cui-tr {
			> .cui-form-center {
				flex-shrink: 1;
				min-width: 0;
			}
		}
	}
}

.cui-form-popover {
	.cui-vertical-layout-center {
		order: 1;
		margin-top: 3px;
	}
}


// Options

.cui-options-active {
	margin-bottom: $padding;
}

.cui-options-sortable-option {
	display: flex;
	
	.cui-options-sortable-drag-handle {
		width: 16px;
		display: flex;
		margin-right: 2px;
    padding: 0 4px 0 0;
    
    .cui-drag-handle-row {
    	margin-top: 5px;
    }
	}
}

// align options with label if there is only one option
.cui-options-center {
	min-height: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	&:empty {
		min-height: 0;
	}

	.cui-button {
		height: 20px;
		line-height: 20px;
	}
}

.cui-options-order-hint {
	font-size: 11px;
	margin-top: $compensating-padding;
	margin-left: 18px;
	margin-bottom: 2px !important;
	color: $secondary-color;
}

.cui-drag-drop-select-sortable,
.drag-drop-select-helper {
	.cui-form-td.cui-form-left {
		width: 12px;
		padding: 0;
		margin-right: $padding/2;
		display: flex;
	}
}

.cui-drag-handle-row {
	&:hover {
		opacity: 0.8;
	}

	flex: 1 1 auto;
	cursor: move;
	height: 12px;
	width: 100%;

	background: linear-gradient($drag-handle-color 1px, transparent 1px);
	background-size: 100% 3px;
}

// Drag and Drop

.drag-drop-select-helper {
	&.cui-tr {
		padding: 0;
	}
}

.cui-sortable-placeholder {
	opacity: 0;
}

// DateTime
.cui-date-time {
	display: flex;
	height: 24px;
	line-height: 24px;
}

.cui-date-time-calendar .cui-buttonbar {
	justify-content: space-between;
}

.cui-buttonbar-group-date,
.cui-buttonbar-group-time { // DateTime Day:Month:Year Hour:Minute
	.cui-select {
		&:not(:last-child) .cui-button .cui-button-visual {
			border-right-width: 0;
		}

		&:last-child .cui-button .cui-button-visual {
			border-right-width: 1px;
			border-top-right-radius: $button-border-radius;
			border-bottom-right-radius: $button-border-radius;
			padding-right: 4px;
		}

		&:not(:first-child) .cui-button .cui-button-visual {
			border-left-width: 0;
		}

		&:first-child .cui-button {
			.cui-button-visual {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:before {
				display: none;
			}
		}

		&:last-child .cui-button .cui-button-visual {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&:not(:first-child):not(:last-child) .cui-button .cui-button-visual {
			border-radius: 0;
		}

		.cui-button .cui-button-visual {
			padding: 0;
		}

		.cui-button-center {
			text-align: right;
			padding-right: 3px;
		}
	}
}

.cui-date-time-input-center {
	flex: 1 1 auto;

	&:focus {
		z-index: 1;
	}

	input {
		position: relative;
	}
}

.cui-date-time-input-right {
	position: relative;

	.cui-button {
		margin-left: -1px;
		height: 100%;
		
		.cui-button-visual {
			border-radius: 0;
			padding: 0 $padding/2;
		}

		&:focus {
			z-index: 1;
		}
	}
}

.cui-date-time-month-header {
	border-bottom: 1px solid hsl(205,11%,93%);
	margin-bottom: $padding/4;
}

.cui-date-time-day {
	border-radius: $button-border-radius;
}

.cui-date-time-previous-month,
.cui-date-time-next-month,
.cui-date-time-week {
	color: hsl(205,10%,79%);
}

.cui-date-time-selected {
	background: $highlight-color !important;
	color: $on-highlight-color !important;
}

.cui-date-time-now {
	background: hsl(205,20%,92%);
}

.cui-date-time-footer {
	.cui-buttonbar > *:not(:last-child) {
		margin-right: 0;
	}

	.cui-label {
		cursor: default;
	}

	> .cui-horizontal-layout-left {
		flex: 1 0 auto;
		margin-right: $gap;

		.cui-label { // June, September
			flex: 1 1 auto;
    	justify-content: center;
			padding: 0;
		}
	}

	> .cui-horizontal-layout-center {
		flex-grow: 0 !important;
	}

	.cui-button-visual {
		padding: 0 $padding/2;
	}
}

// DateTimeDate

.cui-date-time-date {
	@include flex-table;
	margin: 0 0 $padding !important;
	flex-grow: 1;

	.cui-tr {
		padding: 0;
	}

	.cui-td,
	.cui-th {
		width: calc(100% / 8 - 1px); // 8 columns
		text-align: right;
		cursor: default;
		justify-content: center;
		padding-right: 7px;
		line-height: 25px;
		margin: 0 1px 1px 0;

		&.cui-date-time-same-month {
			cursor: pointer;
		}
	}
}

// DateTime Popover

.cui-menu.cui-date-time-60-select {
	.cui-tmpl-item-list-body {
		box-sizing: content-box;
		width: 350px;
		display: flex;
		flex-wrap: wrap;
		> * {
			box-sizing: border-box;
		}

		.cui-button {
			width: 35px;
			height: 30px;
			align-items: center;
			text-align: center;
		}
	}
}


.cui-date-time-popover {
	.cui-simple-pane > .cui-vertical-layout-center {
		padding: $padding;
	}

	.cui-tmpl-date-time {
		flex: 1 1 auto;

		.cui-date-time-header {
			display: none;
		}

		&[browser="time"] {
			.cui-date-time-calendar {
				margin-left: -100%;
			}
		}

		.cui-date-time-browser {
			.cui-date-time-calendar,
			.cui-date-time-clock {
				width: 100%;
			}

			.cui-date-time-calendar {
				transition: margin-left 0.5s ease-out;
			}
			display: flex;
			// overflow: hidden; cuts off year-picker outline
			flex: 1 1 auto;
			.cui-number-input {
				input {
					width: 44px;
					min-width: 0;
					text-align: center;
				}
			}
		}
	}
}

.cui-date-time-clock {
	display: none;
}


// MultiInput

.cui-multi-input .cui-multi-input-container {
	display: flex;
	flex-direction: column;
  align-items: stretch;
	flex: 1 1 auto;

	> .cui-multi-input-input {
		display: flex;
		margin-left: 0;
		margin-right: 0;
		
		> .cui-data-field-multi-input-center {
			flex: 1 1 auto;
		}

		> .cui-data-field-multi-input-right {
			flex: 0 0 auto;
			
			.cui-button {
				width: 25px;
				margin-top: 2px;
			}
		}
	}
}

.cui-multi-input-input {
	@include margin-top(0.5);
	position: relative;

	.cui-input,
	.cui-textarea {
		padding-right: 20px;
	}
}

.cui-data-field-multi-input-right {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1; // put in front of focused input field
}

.cui-multi-input-tag-button {
	.cui-button-visual {
		@include button-reset;
		color: hsl(0,0%,30%);
		font-size: 10px;
  	line-height: 20px;
  	cursor: pointer;
  }
}

// Drag & Drop

.cui-drag-drop-select-transparent {
	pointer-events: none !important;
	
	* {
		pointer-events: none !important;
	}
}



// Droppable

.cui-droppable {
	// marks an active droppable
	opacity: 0.5;
}

// Movable
.cui-drag-drop-select-movable {
	cursor: move;
}

// Resizable
.cui-drag-drop-select-resizable {
	position: relative;
}

.cui-resizable-handle {
	position: absolute;

	&.cui-resizable-handle-se {
		bottom: -8px;
		right: -8px;
		width: 16px;
		height: 16px;
		cursor: nwse-resize;
	}

	&.cui-resizable-handle-nw {
		top: -8px;
		left: -8px;
		width: 16px;
		height: 16px;
		cursor: nwse-resize;
	}

	&.cui-resizable-handle-sw {
		bottom: -8px;
		left: -8px;
		width: 16px;
		height: 16px;
		cursor: nesw-resize;
	}

	&.cui-resizable-handle-ne {
		right: -8px;
		top: -8px;
		width: 16px;
		height: 16px;
		cursor: nesw-resize;
	}

	&.cui-resizable-handle-s {
		left: 8px;
		right: 8px;
		bottom: -8px;
		height: 16px;
		cursor: ns-resize;
	}

	&.cui-resizable-handle-n {
		left: 8px;
		right: 8px;
		top: -8px;
		height: 16px;
		cursor: ns-resize;
	}

	&.cui-resizable-handle-e {
		right: -8px;
		top: 8px;
		bottom: 8px;
		width: 16px;
		cursor: ew-resize;
	}

	&.cui-resizable-handle-w {
		left: -8px;
		top: 8px;
		bottom: 8px;
		width: 16px;
		cursor: ew-resize;
	}
}


// Lasso
.cui-lasso-area {
	position: relative;
}

.cui-lasso {
	position: absolute;
	background-color: transparentize($highlight-color, 0.77);
	display: block;
	z-index: 1;
}

.cui-drag-drop-select-lasso-element-in-lasso {
	opacity: 0.8;
}



// Block

.cui-block {
	background: $foreground;
	border-bottom: 1px solid hsl(180,9%,93%);

	&.cui-block-level-1 {
		> .cui-block-header {
			font-size: 15px;
		}
	}
	&.cui-block-level-2 {
		border-bottom-width: 0;
		> .cui-block-header {
			font-size: 13px;
		}
	}
	> .cui-block-header {
		font-weight: bold;
	}
}

.cui-block-header {
	padding: $padding $padding 4px;
}

.cui-block-content {
	padding: 0 $padding $padding;
}

// StickyHeader

.cui-sticky-header {
	padding: 4px $padding;
	font-size: 11px;
	height: 22px;
	margin-bottom: $padding;

	&:not(:first-child) {
		margin-top: $padding*2;
		border-top: 1px solid hsl(0,0%,80%);
	}
}


.cui-sticky-header-control {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	.cui-tmpl-sticky-header {
		margin: 0;
		position: absolute;
		left: 0;
		right: 0;
		font-weight: 600;
		background: hsla(0,0%,100%,.94);
		border-top: none;
		box-shadow: 0 1px hsla(0,0%,50%,.5);
		margin-bottom: 1px;
	}
}

// ProgressMeter
.cui-tmpl-progress-meter {
	.cui-progress-meter-bar {
		height: 24px;
		position: relative;
		border-radius: $button-border-radius;
		overflow: hidden;

		.cui-progress-meter-fill-background,
		.cui-progress-meter-fill,
		.cui-progress-meter-text {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
		.cui-progress-meter-fill-background {
			border-radius: $button-border-radius;
			background: lighten(desaturate($highlight-color, 90%), 43%);
		}
		.cui-progress-meter-fill {
			display: none;
			background: $highlight-color;
		}
		.cui-progress-meter-text {
			display: none;
			color: white;
			justify-content: center;
			line-height: 24px;
		}
		.cui-progress-meter-icon {
			display: flex;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			color: white;
			align-items: center;
			justify-content: center;
		}

	}
	&[state="waiting"] {
		.cui-progress-meter-fill-background {
			// reddish
			// background-color: #ff6054;
		}
	}

	&[state="percent"] {
		.cui-progress-meter-icon {
			display: none;
		}
		.cui-progress-meter-text {
			display: flex;
		}
		.cui-progress-meter-fill {
			display: flex;
		}
	}
}

// DigiDisplay

.cui-digi-display {
	// border: 1px solid black;
	align-self: flex-start;
	display: flex;

	> div {
		vertical-align: bottom;
		height: 20px;
		// border-right: 1px solid #c0c0c0;
		&:last-child {
			border-right: 0;
		}
		text-align: center;
		overflow: hidden;
		padding: 1px;
		font-family: monospace;
		font-size: 16px;
		line-height: 18px;
	}

	.cui-digi-display-digit {
		transition: margin-top 0.3s ease;
		height: 18px;
	}

	.cui-digi-display-static {
		height: 20px;
	}
}

// Autocomplete
.cui-autocompletion-popup-container {
	padding: 4px 0;
}

.cui-autocompletion-popup-item {
	padding: 3px $padding;
	cursor: pointer;
	color: hsl(205,7%,22%);
	
	&:hover {
		background: hsl(205,17%,98%);
	}
}

// Space
.cui-space {
	width: $small-gap;
}

.cui-large-space {
	width: $gap;
}

.cui-flexible-space {
	flex: 1;
}

// Console
.cui-console {
	padding: $padding;
	font-family: monospace;

	.cui-label-multiline {
		margin: 0;
	}

	.cui-label:not(:last-child) {
		border-bottom: 1px solid hsl(0,0%,94%);
	}
}


// CUI technical stuff
.cui-tmpl {
	// hide all templates
	display: none !important;
}

@keyframes nodeInserted {
	from { opacity: 0.99; }
	to { opacity: 1; }
}