



@keyframes waiting_text_ani {
	0%{left: -100%;}
	100%{left: 00%;}
}

.cui-progress-meter {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	& > .cui-progress-meter-bar {

		border-radius: 2px;
		width: 80%;
		height: $grid_size*2;

		overflow: hidden;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 16px;

		& > .cui-progress-meter-fill-background {

			background-image: repeating-linear-gradient(to right, $progress_meter_fill_background_start_color, $progress_meter_fill_background_end_color 33%, $progress_meter_fill_background_start_color 50%);
			@include animation(waiting_text_ani 2s linear infinite);

			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			background-color: blue;
			width: 200%;
		}
		
		& > .cui-progress-meter-icon {
			display: none;
		}

		& > .cui-progress-meter-text {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			color: white;
			text-align: center;
			font-weight: bold;
		}

	
		& > .cui-progress-meter-fill {
			background-image: repeating-linear-gradient(to right, $progress_meter_fill_start_color , $progress_meter_fill_end_color  100%);

			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			background-color: red; //just a warning
			// width can be set by percent

			overflow: hidden;

			& > .cui-progress-meter-fill-inner {
				background-image: repeating-linear-gradient(to right, $progress_meter_fill_start_color, $progress_meter_fill_end_color 33%, $progress_meter_fill_start_color 50%);

				@include animation(waiting_text_ani 2s linear infinite);

				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 200%;
			}
		}
	}

	&[state="spinning"] > .cui-progress-meter-bar > .cui-progress-meter-fill {
		width: 100%;
	}

}

//TODO use this for icons in progressmeter and use it in ez5 asset_status style
$progress_meter_status_icon_background_color: $white *0.45;
$progress_meter_status_icon_color: $white*0.1;

@mixin progress_meter_status_icon_style() {
	background-color: $progress_meter_status_icon_background_color;
	border-radius: 2px;
	border: 2px solid $progress_meter_status_icon_background_color;
	font-size: 20px;
	color: $progress_meter_status_icon_color;
	font-weight: normal;
	& > i {
		font-size: 23px;
	}
}

