
.cui-demo-pane {

	td:first-child {
		max-width: 400px;
	}

	.cui-pane {
		width: 800px;
		height: 150px;

		background-color: $default_background_color;
		border: 1px solid $modal_border;
		margin: $grid_size*10;
	}
}

//must be outside of cui-demo-pane cause fillscreen panes are attached to the body
.cui-demo-pane-pane {
	.cui-vertical-layout-center {
		background-color: lawngreen;
	}
}

