
//waiting symbol
%__waiting_symbol_icon_rendering {
	//REMARKED chrome has problems rendering this
	//mix-blend-mode: multiply;
	-moz-mix-blend-mode: multiply; //mozilla works
	-webkit-mix-blend-mode: multiply; //TODO safari support?
	-ms-mix-blend-mode: multiply; //TODO ie11 support?
}

//waiting symbol
%__waiting_symbol_icon_rendering {
	//REMARKED chrome has problems rendering this
	//mix-blend-mode: multiply;
	-moz-mix-blend-mode: multiply; //mozilla works
	-webkit-mix-blend-mode: multiply; //TODO safari support?
	-ms-mix-blend-mode: multiply; //TODO ie11 support?
}

.cui-spin-stepped {
	@include animation( fa-spin 1s steps(8) infinite );
}

.cui-wait-block {
	background-color: $wait_block_background_color;
	z-index: 1;

	&.cui-wait-block-fullscreen {
		z-index: 3;
	}

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	&.cui-wait-block-inactive {
		opacity: 0.5;
	}

	.cui-wait-block-inner {
		position: absolute;

		@include flex_display(flex);
		@include flex_direction(column);
		@include flex_align_items(center);


		top: 50%;
		left: 50%;
		margin-top: -45px;
		margin-left: -45px;

		.cui-label {
			@include flex_direction(column);
			@include flex_align_items(center);
			color: $wait_block_color;

			.cui-label-icon {
				align-self: center;
			}

			i {
				padding: 20px;
				@extend %__waiting_symbol_icon_rendering;
				font-size: 50px;
				line-height: 50px;
			}

		}

	}

}


