


//we use the same style for textarea and input element



//for the case of a label rename
.cui-label-content > .cui-input {
    white-space: nowrap !important;
}

.cui-input-shadow {
	padding: 0 !important;
	margin: 0 !important;
	position: absolute;
	overflow: hidden;
	top: -100px;
	resize: none;
}



.cui-data-field-input.cui-input {

	//REMARKED needs to be elastic all the time, more important than a aligned width
	//min-width: $min_input_width;

	//TODO use color variables
	&-jailed input,
	&-jailed textarea {
		background-color: $invalid_input_background_color;
	}

	&-invalid input,
	&-invalid textarea {
		background-color: $invalid_input_background_color !important;
	}

}


//TODO sort in
.cui-input.cui-input-break-all {
	textarea {
		word-break: break-all;
	}
}

//TODO sort in
textarea.cui-textarea {
	resize: none;
}

.cui-input-invalid-hint {

	position: absolute;
	z-index: 1; //is only visible when user has focus , so z-index should be okay.
	background: $invalid_input_background_color;
	border: 1px solid black;
	padding: 2px 5px;
	margin-top: 2px;
	margin-left: -1px;
	opacity: 0;
	//TODO transition doesnt work , maybe due to display setting in code!?
	transition: opacity ease $default_animation_speed;
	pointer-events: none;
}

.cui-input-invalid {
	.cui-input-invalid-hint {
		transition: opacity ease $default_animation_speed;
		opacity: 1;
	}
}

