// * Block
// e.g. used within base config, fields-renderer--block, forms

.cui-block {
	--block-line-width: 3px;
	--block-line-length: 10px;
	--block-color: #{gray('900')};

	flex-shrink: 0;
	position: relative;
	padding-bottom: $spacer;
	padding-top: $spacer;

	&:not(:last-child) {
		margin-bottom: $block-margin;
	}

	*:not(.cui-block) + & {
		margin-top: $block-margin;
	}

	.cui-block-header,
	.cui-block-description {
		margin-bottom: $block-padding;
	}

	.cui-block-header,
	.cui-block-content,
	.cui-block-description {
		&:empty {
			display: none;
		}
	}

	.cui-block-description {
		@include label-secondary();
	}

	// * Titles 
	// apply to all block types (default and grid)
	> .cui-block-header > .cui-block-title {
		// @include h6(0);		

		+ * {
			margin-top: $spacer-sm;
		}
	}

	// * Level 1

	// &.cui-block-level-1 {
	// 	> .cui-block-header > .cui-block-title {
	// 		@include h2($spacer);
	// 	}
	// }

	// * Level 2

	// &.cui-block-level-2 {
	// 	> .cui-block-header > .cui-block-title {
	// 		@include h3($spacer);
	// 	}
	// }

	// * Level 3
	
	// &.cui-block-level-3 {
	// 	> .cui-block-header > .cui-block-title {
	// 		@include h4($spacer);
	// 	}
	// }

	// * Nested Blocks

	.cui-block.cui-block-level-1 > .cui-block-header > .cui-block-title,
	.cui-block.cui-block-level-2 > .cui-block-header > .cui-block-title {
		// @include h5(0);

		+ * {
			margin-top: $spacer-sm;
		}
	}

	// Block carets
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 2px;
		right: 0;
		bottom: 0;
		background-position: 0 0, 0 0, 100% 0, 0 100%;
		background-size: var(--block-line-width) 100%, 100% var(--block-line-width), var(--block-line-width) 100%, 100% var(--block-line-width);
		background-repeat: no-repeat;
		background-image:
			// left
			linear-gradient(0deg, var(--block-color, currentColor), var(--block-color, currentColor) var(--block-line-length), transparent var(--block-line-length), transparent calc(100% - #{var(--block-line-length)}), var(--block-color, currentColor) calc(100% - #{var(--block-line-length)})),
			// top
			linear-gradient(90deg, var(--block-color, currentColor), var(--block-color, currentColor) var(--block-line-length), transparent var(--block-line-length), transparent calc(100% - #{var(--block-line-length)}), var(--block-color, currentColor) calc(100% - #{var(--block-line-length)})),
			// right
			linear-gradient(180deg, var(--block-color, currentColor), var(--block-color, currentColor) var(--block-line-length), transparent var(--block-line-length), transparent calc(100% - #{var(--block-line-length)}), var(--block-color, currentColor) calc(100% - #{var(--block-line-length)})),
			// bottom
			linear-gradient(270deg, var(--block-color, currentColor), var(--block-color, currentColor) var(--block-line-length), transparent var(--block-line-length), transparent calc(100% - #{var(--block-line-length)}), var(--block-color, currentColor) calc(100% - #{var(--block-line-length)}));
		pointer-events: none;
	}

	.cui-block-header,
	.cui-block-content {
		padding-left: $block-content-padding;
		padding-right: $block-content-padding;
	}

	.cui-block-header {		
		> .cui-block-title {
			@include h6(0);
			
			text-transform: uppercase;
			margin-bottom: $spacer;
			color: var(--block-color);
		}
	}

	&.cui-block-level-1 {
		--block-color: #{gray('900')};
	}

	&.cui-block-level-2 {
		--block-color: #{gray('600')};
	}

	&.cui-block-level-3 {
		--block-color: #{gray('500')};
	}
}


// Content
.cui-block-content {
	.cui-form-table {
		width: 100%;

		&:not(:last-child) {
			margin-bottom: $block-padding;
		}
	}
}

// * WaitBlock

.cui-wait-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	color: theme-color('muted');
}

.cui-wait-block-glass {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.5;
	background: $body-bg;
}

.cui-wait-block-inner {
	display: flex;
	flex: 1 1 auto;
	position: relative;
}

.cui-wait-block-header {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-self: center;

	.cui-label {
		.svg-spinner {
			height: auto;
			width: 28px;
		}

		.cui-label-content {
			padding-left: $spacer-sm;
		}
	}
}

.cui-wait-block-content {
	display: none;
}
