// * Block
// very basic block section styling, must work anywhere
// override specifics in ez5-fields-renderer-block or else
// use mixins whenever possible to add a specific block style (like inline or simple or bracket or ...)

.cui-block {
	--block-nested-indent: 0;

	flex-shrink: 0;
	position: relative;

	&:not(:last-child) {
		margin-bottom: $block-margin;
	}

	*:not(.cui-block) + & {
		margin-top: $block-margin;
	}

	.cui-block-header,
	.cui-block-content,
	.cui-block-description {
		&:empty {
			display: none;
		}
	}

	.cui-block-description {
		@include label-secondary();
	}

	
	// * Titles 
	.cui-block-header {
		margin-bottom: $spacer-sm;
		
		> .cui-block-title {
			@include label-title();
		}
	}
		
	// * Level 1
	// &.cui-block-level-1 {
	// }

	// * Level 2

	// &.cui-block-level-2 {
	// 	> .cui-block-header > .cui-block-title {}
	// }

	// * Level 3
	
	// &.cui-block-level-3 {
	// 	> .cui-block-header > .cui-block-title {}
	// }

	// * Nested Blocks, indented by default ?

	.cui-block {
		margin-left: var(--block-nested-indent);
	}

	// Special blocks
	// see: admin > usermanagement > system rights
	&.cui-form-block--has-checkbox {
		margin-bottom: 0;

		> .cui-block-header {
			margin-bottom: 0;
		}

		> .cui-block-content {
			.cui-form .cui-form-tr {
				margin-bottom: 0;
				
				// &.cui-form-field-type--checkbox {
				// 	margin-bottom: 0;
				// }

				// &:not(.cui-form-field-type--checkbox) {
				// 	margin-top: $form-cell-gap;
				// }

				&:not(:first-child) {
					.cui-form-key label {
						margin-top: $spacer; // doesn't work everywhere
					}
				}
			}
		}

		// only indent first level
		// &.cui-block-level-1 {
		// }		
		> .cui-block-content {
			> .cui-form:not(.cui-template-empty) {
				margin-left: $block-has-checkbox-indent;
				margin-bottom: $spacer;
				max-width: none;
				width: auto;
			}
		}
	}
}

// Content
.cui-block-content {
	.cui-form-table {
		width: 100%;
	}
}

// * WaitBlock

.cui-wait-block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	color: theme-color('muted');
}

.cui-wait-block-glass {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.5;
	background: $body-bg;
}

.cui-wait-block-inner {
	display: flex;
	flex: 1 1 auto;
	position: relative;
}

.cui-wait-block-header {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-self: center;

	.cui-label {
		.svg-spinner {
			height: auto;
			width: 28px;
		}

		.cui-label-content {
			padding-left: $spacer-sm;
		}
	}
}

.cui-wait-block-content {
	display: none;
}
