.cui-button,
.cui-button-href {
	cursor: pointer;
}

.cui-button-button,
.cui-button-select {
	flex: 0 0 auto;
	align-items: center;
	justify-content: center;
	display: inline-flex; // if a button is not in a flex container, behave like "inline-block"
	white-space: nowrap;
	vertical-align: top; // prevents weird button jumping when its content changes from empty to filled with text

	.cui-button-visual {
		display: flex;
		max-width: 100%; // needed for ellipsis
		align-items: center;
		justify-content: center;
		// max-width: 100%;
		// flex-grow: 1;
		font-family: $btn-font-family;
		font-weight: $btn-font-weight;
		color: $body-color;
		vertical-align: middle;
		user-select: none;
		//
		border: $btn-border-width solid transparent;
		box-shadow: $btn-box-shadow;
		margin-bottom: 3px; // block space below the button so the box-shadow is always visible
		// todo: make color mixin?
		background-color: $btn-background;

		@include button-size($btn-height, $btn-padding-x, $btn-font-size, $btn-border-radius);

		// Button Content
		.cui-button-left,
		.cui-button-right {
			display: inline-flex;

			&:only-child {
				.fa {
					font-size: $font-size-base; // todo: make fa-icon 16px by default ?
				}
			}
		}

		.cui-button-left {
			&:not(:empty):not(:only-child) {
				padding-left: $btn-padding-x;
				margin-right: -0.5*$btn-padding-x;
			}
		}

		.cui-button-right {
			&:not(:empty):not(:only-child) {
				padding-right: $btn-padding-x;
				margin-left: -0.5*$btn-padding-x;
			}
		}

		.cui-button-center {
			@include text-truncate();

			padding: 0 $btn-padding-x;
		}
	}

	// Button states
	&:hover {
		.cui-button-visual {
			// todo: tbd
			// color: theme-color('primary');
			// background-color: gray('100');
			// box-shadow: $btn-box-shadow, 0 0 2px white;
		}
	}

	&:focus {
		outline: none;

		.cui-button-visual {
			@include button-focus();
		}
	}

	&.cui-layer-open,
	&:active,
	&.cui-active {
		.cui-button-visual {
			color: theme-color('primary');
		}
	}

	// Button variants
	&.cui-button-appearance-flat {
		@include button-flat();
	}

	&.cui-button-appearance-link {
		@include button-link();
	}

	&.cui-button--primary {
		@include button-primary();
	}

	// todo: tbd, do not use in production, not sure we want even more button states ??
	&.cui-button-appearance-flat.cui-button--primary {
		.cui-button-visual {
			@include button-reset();

			border: 1px solid theme-color('primary');
			color: theme-color('primary');
		}
	}

	// Deprecated, use primary instead
	&.cui-button-appearance-important {
		@include button-primary();
	}

	// Button sizes
	&.cui-button-size-mini {
		.cui-button-visual {
			@include button-size($btn-height-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);

			.fa {
				font-size: 11px;
				line-height: 11px;
			}

			.cui-icon-svg {
				transform: scale(0.85);

				&.svg-close {
					transform: none;
					width: 9px;
					height: 9px;
				}
			}
		}
	}

	&.cui-button-size-big {
		.cui-button-visual {
			@include button-size($btn-height-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
		}
	}

	// todo: Do we actually use this?
	&.cui-button-size-bigger {
		.cui-button-visual {
			$biggerBy: 1;

			@include button-size(
				$btn-height-lg*$biggerBy,
				$btn-padding-x-lg*$biggerBy,
				$btn-font-size-lg*$biggerBy,
				$btn-border-radius-lg*$biggerBy
			);
		}
	}
}

.cui-button--has-caret {
	// IE 11 ignoring margin: auto when justify-content is set bugfix
	// http://stackoverflow.com/a/37535548
	.cui-button-visual {
		justify-content: flex-start;
	}

	.cui-button-right {
		margin-left: auto;
	}
}


// Loading
.cui-button.cui-loading {
	animation: 1.2s pulse linear alternate infinite;
}

@keyframes pulse {
	from { opacity: 0.33; }
	to { opacity: 1; }
}
