.cui-buttonbar {
	display: flex;
	align-items: center;

	@include buttonbar-horizontal(); // default stack horizontally
}


// * Buttonbar Group
// all buttons within a buttonbar-group are visually and functionally a unit, like radio buttons, there always have a border by default, see buttonbar mixins
// e.g. options, radio buttons

.cui-buttonbar-group {
	display: flex;

	&:not(.cui-buttonbar-group-tabs) {
		.cui-button-button {
			&:hover {
				.cui-button-visual {
					background-color: $btn-bordered-hover-background;
					color: $btn-bordered-hover-color;
				}
			}
		}
	}

	.cui-disabled {
		opacity: 1;

		.cui-button-visual > * {
			opacity: $disabled-opacity;
		}
	}
}

