.cui-button,
.cui-button-href {
	cursor: pointer;
	text-decoration: none;
}

// Base button visual class, used in cui-button-button, cui-button-checkbox, cui-button-select...
.cui-button-visual {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	flex-grow: 1;
}

// .cui-button-button includes cui-button-href, which does NOT have the class cui-button
// almost all buttons have the class cui-button-button
.cui-button-button,
.cui-button-select {
	flex: 0 0 auto;
	align-items: center;
	justify-content: center;
	display: inline-flex; // if a button is not in a flex container, behave like "inline-block"
	white-space: nowrap;
	vertical-align: top; // prevents weird button jumping when its content changes from empty to filled with text

	.cui-button-visual {
		font-family: $btn-font-family;
		font-weight: $btn-font-weight;
		vertical-align: middle;
		user-select: none;

		// Button Content
		.cui-button-left,
		.cui-button-right {
			display: inline-flex;
			flex: 0 0 auto;
		}

		.cui-button-center {
			flex: 0 1 auto; // allow text-truncate
		}
	}

	@include button-md();
	@include button-color();

	// Modifier

	&.cui-button--primary {
		@include button-primary();
	}
}

.cui-button-href {
	@include button-link();
}

.cui-button-select {
	.cui-button-center {
		[data-max-chars] {
			text-align: inherit;
			width: auto;
		}
	}
}

a[role='button'].cui-button-appearance-link {
	height: initial;

	> .cui-button-center {
		word-wrap: break-word;
	}
}

.cui-button--has-caret {
	&[role='menu-item'] {
		.cui-button-visual {
			.cui-button-right {
				margin-left: auto;
			}
		}
	}
}

// Loading
.cui-button.cui-loading {
	animation: 1.2s pulse linear alternate infinite;
}

@keyframes pulse {
	from { opacity: 0.33; }
	to { opacity: 1; }
}
