@use "../variables" as v;

// Console
.cui-console {
	padding: v.$spacer-sm;
	font-family: v.$font-family-monospace;
	font-size: v.$font-size-sm;

	.cui-label-multiline {
		margin: v.$spacer-xs 0 !important;
	}

	.cui-label:not(:last-child) {
		border-bottom: 1px solid v.$gray-300;
		padding-bottom: v.$spacer-xs;
	}
}
