// Data Table
.cui-data-table {
	flex-shrink: 1;
	display: inline-block;

	&.cui-maximize-horizontal {
		display: block;
	}

	&.cui-maximize-vertical {
		display: flex;
		flex: 1;
	}

	&.cui-maximize {
		flex-basis: 0; // IE 11 correct scrollbar in list-view
	}

	> .cui-vertical-layout-center {
		flex-shrink: 1;
	}

	input,
	textarea {
		min-width: 0;
	}

	.cui-lv-tr-fill-outer {
		> .cui-lv-tr > .cui-lv-td {
			background-size: 100% $table-data-height*2; // todo: find use-case
		}
	}

	// Footer
	.cui-list-view .cui-pane-footer .cui-buttonbar {
		.cui-button {
			@include button-sm();
		}

		input {
			@include input-sm();
		}

		// this is semantically not necessarily a group, but it is marked up as one
		.cui-buttonbar-group {
			@include ungroup-visually();
		}
	}
}
