// Data Fields

.cui-data-field {
	// todo: be very careful when to apply a max-width, this class is probably too generic
	// - get sets in DataField class, which is extended by Input, Output, Options, Checkbox, Select,
	// FormButton, DataTable, DataForm, SimpleForm, Form, FormPopover
	//
	// find out when the max-width is actually needed
	// this width should probably only be applied to input fields or else???
	// see: demo#DataFrom: cui-data-field class is applied to several outer form containers and this might cause unexpected behaviour
	// see: focus state of dateTime input
	// max-width: $data-field-width;
	margin: 0;

	// todo:
	// reset the max-width set above
	// maybe the above max-width should be restricted to inputs by default instead
	// .cui-form-value &,
	// .cui-drag-drop-select-sortable &,
	// .drag-drop-select-helper &,
	// .ez5-field &, // todo: should go into fylr-theme CSS
	// .cui-block & {
	// 	max-width: none;
	// }

	&.cui-form,
	&.cui-data-form {
		// max-width: 100%; // or none?
		width: 100%; // ? always stretch to fill avaiable width ?, ex: Developer Menu
		margin: 0;
	}
	
	&.cui-maximize-horizontal {
		&.cui-output {
			.cui-data-field-output-label.cui-label-multiline {
				max-width: 700px;
			}
		}
	}

	.cui-list-view-grid-quadrant-3 {
		min-height: 3*$table-data-height; // for when using empty lists that can get filled
	}

	// .cui-lv-row-move-handle-column {
	// padding-top: 0; // commented out because admin > pools > masken: .ez5-objecttype-list-view-item-mask-select
	// padding-bottom: 0;
	// }

	&.cui-data-field-disabled {
		user-select: none;
		opacity: 0.5;
		pointer-events: none;

		& & {
			opacity: 1;
		}

		+ .cui-form-hint {
			opacity: $disabled-opacity;
		}

		.cui-disabled {
			opacity: 1; // see admin > base config > editor "aktion" > "aktualisieren" checkbox
		}
	}

	&--full-width {
		width: 100%;
		// max-width: 100%;

		// &.cui-select {
		// 	> .cui-button {
		// 		max-width: none;
		// 	}
		// }
	}

	.cui-object-dumper.cui-list-view {
		--list-view-border-width: 1px;
		
		@include list-view-hide-double-bottom-border();

		.cui-list-view-grid-quadrant-3 {
			min-height: auto;
		}
	}

	&--with-button {
		display: flex;

		// if focused outline the whole data-field including the right button
		&.cui-has-focus {
			border-radius: $input-border-radius;

			@include input-focus();
		}
	}
}

// todo: use combobox mixin from the theme ?
.cui-data-field-center {
	flex: 1 1 auto;
	display: flex;

	&:focus {
		z-index: 1;
	}

	&:not(:first-child) input {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&:not(:last-child) input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	input {
		position: relative;
		width: auto !important;
		flex-grow: 1;
	}
}

// used in MapInput (only?)
.cui-data-field-left {
	position: relative;

	.cui-button-button {
		@include button-combobox('left');
	}
}

.cui-data-field-right {
	position: relative;

	.cui-button-button {
		@include button-combobox('right');
	}
}

.cui-data-field-hidden {
	display: none !important;
}
