@use "sass:math";
@use "../variables" as v;

[data-max-chars] {
	box-sizing: content-box; // ! careful
	text-align: center;
}

input[data-max-chars] {
	box-sizing: border-box;
	min-width: 0;
}

// enlarge max-chars < 10
// e.g. max-chars 5 = 5.5ch
@for $i from 1 to 10 {
	$width: $i + 1ch;

	[data-max-chars='#{$i}'] {
		width: $width;
	}

	input[data-max-chars='#{$i}'] {
		width: calc(#{$width} + 2 * #{v.$input-padding-x});
	}
}

// keep max-chars > 10 1:1
@for $i from 10 through 40 {
	$width: $i * 1ch;

	[data-max-chars='#{$i}'] {
		width: $width;
	}

	input[data-max-chars='#{$i}'] {
		width: calc(#{$width} + 2 * #{v.$input-padding-x});
	}
}

.cui-browser-ie:not(.cui-browser-edge) {
	@for $i from 1 through 10 {
		[data-max-chars="#{$i}"] {
			width: #{$i + 1.5}ch;
		}
	}

	@for $i from 10 through 40 {
		[data-max-chars="#{$i}"] {
			width: #{$i * (1.54 - math.div(($i - 10), 30) * 0.15)}ch;
		}
	}
}
