// Data Form

/*
<div class="cui-form-value">
	<div class="cui-data-form cui-data-form--movable-rows">
		<div class="cui-data-form-row cui-horizontal-layout">
			<div class="cui-horizontal-layout-left">
				<div class="cui-drag-handle-row"></div>
			</div>
			<div class="cui-horizontal-layout-center">
				<div class="cui-simple-form">
					<div class="cui-form-container">
						<div class="cui-form-row"> ... cui-input ... </div>
					</div>
				</div>
			</div>
			<div class="cui-horizontal-layout-right">
				<div class="cui-buttonbar"> ... delete button ... </div>
			</div>
		</div>
	</div>
</div>
*/

.cui-data-form {
	// .cui-data-form--movable-rows
	&--movable-rows {
		max-width: 100%;

		// todo: find use-case, commented out because of the nested-fields in the editor
		// > .cui-horizontal-layout > .cui-horizontal-layout-center {
		// 	// max-width: $data-field-width;
		// }

		> .cui-vertical-layout > .cui-vertical-layout-center > .cui-horizontal-layout > .cui-horizontal-layout-center {
			max-width: $data-field-width;
			overflow: visible; // show focus outline
		}

		&.cui-data-form--multiple-fields {
			> .cui-horizontal-layout > .cui-horizontal-layout-center {
				max-width: 100%;
			}
		}
	}

	&--multiple-fields {
		> .cui-data-form-row {
			> .cui-horizontal-layout-center {
				position: relative;
				padding: $spacer-xs $spacer-xs $spacer-xs $spacer-sm;
				border-left: 1px solid $handle-color;

				&::after,
				&::before {
					content: '';
					position: absolute;
					background: $handle-color;
					width: 10px;
					height: 1px;
					left: 0;
					top: 0;
				}

				&::after {
					top: auto;
					bottom: 0;
				}
			}
		}
	}
}

.cui-data-form-row {
	overflow: visible !important;
	width: 100%; // see editor: ez5-nested
	display: grid;
	grid-template-columns: repeat($data-form-utilities-count, $data-form-utilities-column-width) 1fr;
	grid-template-rows: auto;
	grid-template-areas: 'move delete content';

	&:not(:last-child) {
		margin-bottom: $spacer;
	}

	> .cui-horizontal-layout-left {
		grid-area: move;
		align-self: start;
		justify-self: center;

		.cui-drag-handle-row {
			margin: $spacer-xs;
			flex-grow: 0;
			cursor: grab;

			&.is-hidden {
				pointer-events: none;
				opacity: $disabled-opacity-icon;
			}
		}
	}

	> .cui-horizontal-layout-center {
		min-width: 0;
		grid-area: content;
		margin-left: $data-form-content-offset;

		.ez5-nested-fields {
			margin-bottom: 0 !important;
		}
	}

	> .cui-horizontal-layout-right {
		grid-area: delete;
		align-self: start;
		justify-self: center;

		.cui-buttonbar {
			height: 100%;
		}

		.cui-button-button {
			$focus-inset: 1;

			@include button-hover-dimmed($focus-inset);
			@include button-icon();
		}

		.cui-button-visual {
			color: gray('500');

			.fa {
				font-size: 0.9rem;
			}
		}

		&:hover {
			.cui-button-visual {
				background-color: transparent;
			}
		}
	}

	&--read-only {
		.cui-drag-handle-row {
			opacity: 0 !important;
		}
	}

	// on mouseenter of the row
	&.cui-data-form-row--trash {
		> .cui-horizontal-layout-center {
			opacity: $disabled-opacity-icon;
		}
	}
}
