// Data Table
.cui-data-table {
	flex-shrink: 1;
	display: inline-block;

	&.cui-maximize-horizontal {
		display: block;
	}

	&.cui-maximize-vertical {
		display: flex;
		flex: 1;
	}

	&.cui-maximize {
		flex-basis: 0; // IE 11 correct scrollbar in list-view
	}

	> .cui-vertical-layout-center {
		flex-shrink: 1;
	}

	input,
	textarea {
		min-width: 0;
	}

	.cui-list-view {
		--list-view-border-width: 1px;

		> .cui-vertical-layout-bottom > .cui-pane-footer {
			padding: $toolbar-padding;
		}
	}
}
