@use '../variables' as *;
@use '../mixins/buttons' as *;
@use '../mixins/forms' as *;
@use '../mixins/list-view' as *;

// Data Fields

.cui-data-field {
	margin: 0;

	&.cui-form,
	&.cui-data-form {
		width: 100%; // ? always stretch to fill avaiable width ?, ex: Developer Menu
		margin: 0;
	}

	&.cui-maximize-horizontal {
		&.cui-output {
			.cui-data-field-output-label.cui-label-multiline {
				max-width: 700px;
			}
		}
	}

	.cui-list-view-grid-quadrant-3 {
		min-height: var(--list-view-empty-default-min-height, #{3 * $table-data-height}); // for when using empty lists that can get filled
	}

	// .cui-lv-row-move-handle-column {
	// padding-top: 0; // commented out because admin > pools > masken: .ez5-objecttype-list-view-item-mask-select
	// padding-bottom: 0;
	// }

	&.cui-data-field-disabled {
		user-select: none;
		opacity: 0.5;
		pointer-events: none;

		& & {
			opacity: 1;
		}

		+ .cui-form-hint {
			opacity: $disabled-opacity;
		}

		.cui-disabled {
			opacity: 1; // see admin > base config > editor "aktion" > "aktualisieren" checkbox
		}
	}

	&.cui-data-field--full-width {
		width: 100%;
	}

	.cui-object-dumper.cui-list-view {
		--list-view-border-width: 1px;
		
		@include list-view-hide-double-bottom-border();

		.cui-list-view-grid-quadrant-3 {
			min-height: auto;
		}
	}

	&.cui-data-field--with-button {
		display: flex;

		// if focused outline the whole data-field including the right button
		&.cui-has-focus {
			border-radius: $input-border-radius;

			@include input-focus();
		}
	}
}

// todo: use combobox mixin from the theme ?
.cui-data-field-center {
	flex: 1 1 auto;
	display: flex;

	&:focus {
		z-index: 1;
	}

	&:not(:first-child) input {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	&:not(:last-child) input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	input {
		position: relative;
		width: auto !important;
		flex-grow: 1;
	}
}

// used in MapInput (only?)
.cui-data-field-left {
	position: relative;

	.cui-button-button {
		@include button-combobox('left');
	}
}

.cui-data-field-right {
	position: relative;

	.cui-button-button {
		@include button-combobox('right');
	}
}

.cui-data-field-hidden {
	display: none !important;
}
