@use "../mixins/buttons";
@use "../mixins/forms";
@use "../variables" as v;

// Data Form

/*
<div class="cui-data-form cui-data-form--movable-rows">
	<div class="cui-data-form-row cui-horizontal-layout">
		<div class="cui-horizontal-layout-left">
			<div class="cui-drag-handle-row"></div>
		</div>
		<div class="cui-horizontal-layout-center">
			<div class="cui-simple-form">
				<div class="cui-form-container">
					<div class="cui-form-row"> ... cui-input ... </div>
				</div>
			</div>
		</div>
		<div class="cui-horizontal-layout-right">
			<div class="cui-buttonbar"> ... delete button ... </div>
		</div>
	</div>
</div>


<div class="cui-data-form cui-data-form--movable-rows cui-data-form--multiple-fields cui-data-form--add-button">
	<vertical>
		<center>
			<div class="cui-data-form-row cui-horizontal-layout">
				<div class="cui-horizontal-layout-left">
					<div class="cui-drag-handle-row"></div>
				</div>
				<div class="cui-horizontal-layout-center">
					<div class="cui-simple-form">
						<div class="cui-form-container">
							<div class="cui-form-row"> ... cui-input ... </div>
						</div>
					</div>
				</div>
				<div class="cui-horizontal-layout-right">
					<div class="cui-buttonbar"> ... delete button ... </div>
				</div>
			</div>
		</center>
		<bottom>
			<buttonbar>
				<button> + </button>
			</buttonbar>
		</bottom>
	</vertical>
</div>
*/

.cui-data-form {
	&.cui-data-form--movable-rows {
		max-width: 100%;

		> .cui-vertical-layout > .cui-vertical-layout-center > .cui-horizontal-layout > .cui-horizontal-layout-center {
			overflow: visible; // show focus outline
		}

		&.cui-data-form--multiple-fields {
			> .cui-vertical-layout > .cui-vertical-layout-center > .cui-horizontal-layout > .cui-horizontal-layout-center {
				max-width: 100%;
			}
		}
	}

	// nested group
	&.cui-data-form--multiple-fields {
		> .cui-vertical-layout > .cui-vertical-layout-center > .cui-data-form-row {
			> .cui-horizontal-layout-center {
				@include forms.data-form-field-group-indicator();

				--data-form-field-group-indicator-top: calc(#{v.$spacer-xs} - 1px);
				--data-form-field-group-indicator-bottom: #{v.$spacer}; // = default margin-bottom of .cui-form-tr				

				.cui-form-key label, 
				.cui-form-key .cui-label {
					padding-top: 0;
				}
			}

			&:not(:last-child) {
				margin-bottom: v.$spacer;
			}
		}
	}

	&.cui-data-form--add-button {
		> .cui-vertical-layout > .cui-vertical-layout-bottom {
			padding-left: calc(#{v.$data-form-utilities-count} * #{v.$data-form-utilities-column-width} + #{v.$data-form-border-offset});
			margin-top: v.$spacer-xs;
			margin-bottom: v.$spacer-sm;

			.cui-button-button {
				@include buttons.button-sm(); // see .ez5-nested-add-button
			}
		}
	}

	+ .cui-form-hint {
		margin-top: v.$spacer;
	}
}

// ! be aware: in fylr theme the .cui-data-form-row class will be applied outside of .cui-data-form 
// however this is also part of CUI data-form (see template above, as an example see .ez5-app-base-config-manager / _base-config.scss)
.cui-data-form-row {
	overflow: visible !important;
	width: 100%; // see editor: ez5-nested
	display: grid;
	grid-template-columns: var(--data-form-utilities-move-width, 0) var(--data-form-utilities-delete-width, 0) 1fr; // default assumes neither move handle nor trash are available (example: admin > metadata > modal: ez5-metadata-profile-modal)
	grid-template-rows: auto;
	grid-template-areas: 'move delete content';

	// only add space in the columns if we show move handle and/or trash
	.cui-data-form--movable-rows &,
	.cui-data-form--add-button & {
		--data-form-utilities-move-width: #{v.$data-form-utilities-column-width};
		--data-form-utilities-delete-width: #{v.$data-form-utilities-column-width};
	}

	&:not(:last-child) {
		margin-bottom: v.$spacer-sm;
	}

	> .cui-horizontal-layout-left {
		grid-area: move;
		align-self: start;

		.cui-drag-handle-row {
			margin: v.$spacer-xs 0;
			flex-grow: 0;
			cursor: grab;

			&.is-hidden {
				pointer-events: none;
				opacity: v.$disabled-opacity-icon;
			}
		}
	}

	> .cui-horizontal-layout-center {
		min-width: 0;
		grid-area: content;
		margin-left: v.$data-form-border-offset;

		> * {
			width: 100%;
		}
	}

	> .cui-horizontal-layout-right {
		grid-area: delete;
		align-self: start;

		.cui-buttonbar {
			height: 100%;
		}

		.cui-button-button {
			@include buttons.button-plain-icon();
		}
	}

	// used only in ez5-nested-table
	&.cui-data-form-row--read-only {
		.cui-drag-handle-row {
			opacity: 0 !important;
		}
	}

	// on mouseenter of the row
	&.cui-data-form-row--trash {
		> .cui-horizontal-layout-center {
			opacity: 2 * v.$disabled-opacity-icon;
		}
	}
}
