// Dialog Layers: alert, prompt, choice, confirmation, problem, toaster, spinner

/*
<div class="cui-layer-root cui-layer-root-layer cui-confirmation-dialog">
	<div class="cui-layer-backdrop"></div>
	<div class="cui-layer cui-modal cui-alert cui-confirmation-dialog cui-confirm cui-prompt">
		<div class="cui-simple-pane cui-vertical-layout cui-pane"> ... </div>
	</div>
	<div class="cui-layer-pointer"></div>
</div>
*/

// * Confirmation

.cui-confirmation-dialog {
	.cui-layer > .cui-layer-pane {
		> .cui-vertical-layout-center {
			max-width: 500px;

			// turn all labels into multiline labels
			.cui-label:not(.cui-label-markdown) {
				.cui-label-content {
					word-wrap: break-word;
					white-space: pre-wrap;
				}
			}
		}
	}
}

// detached from layer root, inline
.cui-layer.cui-confirmation-dialog--show-inline {
	// temp fix
	z-index: 1;
}

// * Confirmation Choice

.cui-confirmation-choice {
	.cui-layer > .cui-layer-pane {
		> .cui-vertical-layout-center {
			max-width: 300px; // don't make this bigger, make the text shorter
		}
	}
}

// * Alert

// .cui-alert {}

// * Toaster

.cui-layer-root-toaster .cui-layer {
	font-size: $font-size-sm;
	width: auto;
	max-width: none;
	min-width: 0;
	user-select: none;
	cursor: default;
}


// * Spinner

.cui-spinner {
	min-width: 0;
}
