@use "../variables" as v;

.cui-drag-drop-select-draggable,
.cui-drag-drop-select-sortable {
	cursor: grab;
}

.cui-drag-drop-select-lasso {
	cursor: default;
}

// * Drag & Drop

// copy of the element in drag state
.cui-drag-drop-select-helper {
	position: absolute !important;
	z-index: 3 !important; // above drop helper
	pointer-events: none !important;

	* {
		pointer-events: none !important;
	}

	&.cui-tr {
		padding: 0; // todo: ??
	}
}

.cui-sortable-placeholder {
	opacity: 0;
}

// * Droppable

.cui-droppable {
	// marks an active droppable
	// - in list views not neccesary because we have the droppable helper
	// opacity: 0.5;
}

.cui-droppable-drop-helper {
	box-shadow: v.$drop-area-focus-shadow;
	border-radius: v.$drop-area-border-radius;
	position: absolute;
	z-index: 2;
	pointer-events: none;
}

.cui-droppable-target-helper {
	// overwrite any other animation, its just temporary
	transition: transform 300ms ease !important;
}

.cui-droppable-target-helper-y--after {
	transform: translateY(-25%);
}

.cui-droppable-target-helper-y--before {
	transform: translateY(25%);
}

.cui-droppable-target-helper-x--after {
	transform: translateX(-25%);
}

.cui-droppable-target-helper-x--before {
	transform: translateX(25%);
}

// * Movable

.cui-drag-drop-select-movable {
	cursor: grab;
}

// * Resizable

.cui-drag-drop-select-resizable {
	position: relative;
}

// * Lasso
.cui-lasso-area {
	position: relative;
}

.cui-lasso {
	position: absolute;
	width: 1px;
	height: 1px;
	left: 0;
	top: 0;
	background-color: var(--brand-color, #{v.$drag-lasso-background});
	display: block;
	pointer-events: none;
	z-index: 10;
	will-change: transform;
	transform-origin: left top;
	opacity: 0.33;

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: black;
		opacity: 0.2;
	}
}

.cui-drag-drop-select-lasso-element-in-lasso {
	opacity: 0.8;
}

// * IE
// Show the flex handle helper in IE because real time dragging is turned off because of performance reasons
.cui-browser-ie:not(.cui-browser-edge) {
	.cui-flex-handle.drag-drop-select-helper {
		&::after {
			content: '';
			top: 0;
			left: #{v.$spacer-sm} - 1px;
			border-right: 3px dotted var(--brand-color, #{v.$drag-lasso-background});
			height: 100%;
			opacity: 0.5;
			position: absolute;
		}
	}
}
