@use "../variables" as v;

// File Upload Drop Zone
.cui-file-upload-drop-zone {
	position: relative;
}

.cui-file-upload-drag-over::after {
	content: '';
	pointer-events: none;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 0 2px var(--brand-color, #{v.$primary}) inset;
	z-index: 1;
}
