// cui-form
// cui-form-table
// cui-form-container
// cui-form-block
// cui-data-form
// hint, valid/invalid

/*
	! Todo:
	-	checkbox margins, see .cui-form-field-type--checkbox, find a solution to group fields into "fieldsets", make them independent of the form rows which are too generic
		Example: System rights, .export-manager-modal
	- 
*/


.cui-form {
	overflow: visible;
	
	&[class*='cui-maximize'] {
		overflow: visible; // override a possible overflow: hidden that could be applied via .cui-maximize-horizontal/.cui-maximize-horizontal
	}
	
	background-color: $light; // ? we set a default background because of the default white form elements like inputs
	width: 100%; // see datamodel >  definition > options popover

	.cui-selected &,
	*:hover &,
	*:focus & {
		background-color: transparent;
	}

	@include form-key-value-inline(); // default, override in different context using form-key-value-stacked()

	// needs to apply padding on a contextual basis
	// padding: $spacer-sm;

	// todo: make obsolete
	// &--padded {
	// 	padding: $form-padding;
	// }
}

// * Form - Table

/*
<div class="cui-form">
	<div class="cui-vertical-layout-center">
		<div class="cui-form-table">
			<div class="cui-form-tr">
				<div class="cui-form-td cui-form-key"></div>
				<div class="cui-form-td cui-form-value"></div>
			</div>
		</div>
	</div>
</div>
*/

.cui-form-table {
	--form-key-width: #{$form-key-width};
	--form-data-max-width: #{$form-data-max-width};
}

.cui-form-tr,
.cui-form-tr-header {
	margin-bottom: $form-cell-gap; // ! make sure to use the same margin as for cui-form-row
}

// * Checkboxes 

// reset margin bottom for consecutive checkboxes
// use negative margin-top on siblings because we only want to target form rows that are themselves checkboxes and follow a checkbox
// but we want to keep the bottom margin for example for form rows with a text input that are followed by a form row with a checkbox
// beware: the form rows could be of any type (input | select | checkbox ...) and in any order
// todo: this is pretty fragile, we should really put checkboxes that belong together into a fieldset or group so we can style them separately from the form rows
// e.g. put them closer together (closer than form rows which contain more independent form fields)
// make sure checkboxes that wrap onto a new line have enough space inbetween them vs. their line-height

// Examples: search > Table Options ("Repeat data for each row")
.cui-form-field-type--checkbox + .cui-form-field-type--checkbox, 					// see admin > usermanagement > system-rights
.cui-form-field-type--checkbox + .cui-form-row > .cui-form.has-custom-checkbox { 	// see export-manager > tab "Advanced"
	margin-top: -0.5*$form-cell-gap;
}

// base styles, see form-key-value-stacked() or form-key-value-inline() for more specific styles
.cui-form-key {
	label,
	.cui-label {
		display: inline-block;
		white-space: normal;
		min-width: $form-key-min-width;
		max-width: 100%;

		@include label-field();
	}
}

.cui-form-value {
	> .cui-options {
		margin-bottom: $spacer-sm; // todo

		.cui-options-center {
			min-height: 0;
		}
	}

	> .cui-data-field {
		min-width: 0;
		// make data output (cui-output, cui-multi-output, cui-data-field) at least the same height as the selects in a form
		min-height: $btn-height;

		&:not(.cui-data-table) {
			max-width: var(--form-data-max-width); // restrict data input fields so they do not run across the whole screen, especially on wide admin screens, see admin > usermanagement
		}
	}

	// see: Base Config > Plugins: "TYPO3"
	> .cui-select {
		.cui-button-select {
			@include button-select-as-input();
		}
	}

	// these elements do not have the class cui-select, so we need to apply styles here again

	/*
	<cui-form-field-type--select>
		<cui-form-value>
			<cui-select.cui-data-field-input>
	*/
	.cui-form-field-type--select & {
		.cui-data-field-input {
			@include button-select-as-input();
		}
	}

	// this is yet another use case
	// see Base Config > Plugins: "Tag filter dependent presets" > Select Field "Masks"

	/*
		<cui-form-value>
			<cui-form>
				...
				<cui-form-field-type--select>
					<cui-select.cui-data-field-input>
	*/
	> .cui-form .cui-form-field-type--select > .cui-select {
		@include button-select-as-input();
	}

	// see eventmanager > Left Pane "Search" : Type (Select Field)
	> .cui-form-popover .cui-button--has-caret {
		width: 100%;
		
		@include button-select-as-input();
	}
}

.cui-maximize-horizontal > .cui-vertical-layout-center {
	> .cui-form-table {
		> tr {
			> .cui-form-td.cui-form-value {
				flex: 1 1 auto;
				width: 200px;
			}
		}
	}

	> .cui-form-table-vertical {
		> .cui-tr {
			> .cui-form-value {
				flex-shrink: 1;
				min-width: 0;
			}
		}
	}
}

// * Form - Block

/*
<div class="cui-form">
	<div class="cui-vertical-layout-center">
		<div class="cui-form-table">
			<div class="cui-form-tr">
				<div class="cui-block cui-form-block">
					<div class="cui-block-header"></div>
					<div class="cui-block-content"></div>
				</div>
			</div>
		</div>
	</div>
</div>
*/

.cui-form-block {
	&.cui-maximize-vertical,
	&.cui-maximize {
		&,
		> .cui-block-content {
			flex: 1;
			display: flex;
			flex-direction: column;
		}
	}
}


// * Form - Container

/*
<div class="cui-form">
	<div class="cui-vertical-layout-center">
		<div class="cui-form-container">
			<div class="cui-form-row"></div>
		</div>
	</div>
</div>
*/

.cui-form-container {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 0;

	&.cui-form--horizontal {
		flex-direction: row;
	}
}

.cui-form-row {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 0;
	margin-bottom: $form-cell-gap; // ! make sure to use the same margin as for cui-form-tr

	&:only-child {
		margin-bottom: 0;
	}

	.cui-form-tr & {
		&:last-child {
			margin-bottom: 0; // cui-form-tr already has bottom margin
		}
	}

	.cui-form-container.cui-form--horizontal > & {
		flex: 0 0 auto;
		min-width: 0;
		margin-bottom: 0;

		&:not(:last-child) {
			margin-right: $form-cell-gap;
		}

		&.cui-maximize-horizontal {
			flex-grow: 1;
		}
	}
}

// Radio button + Input field (like an option "other" with free text)
.cui-form-field-type--checkbox {
	+ .cui-form-row {
		.cui-form-container.cui-form--horizontal {
			> .cui-form-row:first-child {
				margin-right: 0;
			}
		}
	}
}

// * Form Grid
// former use-case: SessionTrayApp, in the header click button "root" then "Einstellungen"
// in fylr we do not want this to be displayed as a grid

// .cui-form--grid {
// 	@include form-as-grid();
// }

// * Form hints (validation, input types etc.)

.cui-hint,
.cui-form-hint,
.cui-input-invalid-hint,
.cui-input-valid-hint,
.cui-input-empty-hint {
	@include form-hint();

	.cui-label {
		padding-top: 0;
	}

	.cui-button {
		@include button-link-sm();
	}
}

.cui-input-invalid-hint {
	color: theme-color('danger');
}

.cui-form-hint {
	// max-width: $data-field-width; // todo: do we really want to restrict the width, why?

	.cui-checkbox + &,
	.cui-data-field.cui-maximize-horizontal + & {
		max-width: 100%;
	}

	.cui-label-icon:not(:empty) + .cui-label-content:not(:empty) {
		padding-left: $spacer-sm;
	}

	.fa {
		font-size: 12px;
	}

	// IE layout fix: (layer form hint)
	.cui-label-multiline {
		flex-grow: 1;
		display: flex;
		align-items: flex-start;

		.cui-label-content {
			flex-basis: 0%;
		}
	}
}

// Button that opens a form in a popup or in a modal
.cui-form-popover,
.cui-form-modal {
	&.cui-vertical-layout {
		overflow: visible; // don't cut off outline
	}

	.cui-vertical-layout-center {
		display: block;

		+ .cui-vertical-layout-bottom {
			margin: $spacer-xs 0 0;

			&:empty {
				display: none;
			}

			.cui-empty-label {
				padding: 0;
			}
		}
	}
}
