@use "../variables" as *;

// ItemList
.cui-item-list-body {
	display: flex;
	flex-direction: column;

	> div {
		flex: 0 0 auto;
	}

	// Buttons within item-list
	// --------------------------------
	.cui-button,
	.cui-button-href {
		// max-width: 100%; // ? button-select

		.cui-button-visual {
			justify-content: flex-start;
			flex: 1 0 auto;
			border: 0;
			border-radius: 0;
			box-shadow: none;

			// make sure the buttons could wrap onto new line
			height: auto;
			min-height: $item-list-height;
			line-height: $line-height-sm;

			.cui-select-menu & {
				padding: 0.4rem 0; // see: events > select for "Object Types"
			}
			
			span {
				white-space: normal;
				overflow: hidden;
			}
			// end wrap nl
		}

		&:active,
		&:hover {
			.cui-button-visual {
				color: var(--brand-foreground-text-color, #{$item-list-hover-color});
				background: var(--brand-color, #{$item-list-hover-background});
			}
		}

		// todo: fix component in coffeescript: do NOT use cui-active as a hover class, this will mess up the state of the actual active item
		&.cui-active,
		// workaround
		&[aria-pressed='true'] {
			.cui-button-visual {
				color: var(--brand-foreground-text-color, #{$item-list-active-color});
				background: var(--brand-color, #{$item-list-active-background});
			}
		}

		&.cui-active:hover {
			.cui-button-visual {
				color: var(--brand-foreground-text-color, #{$item-list-hover-color});
				background: var(--brand-color, #{$item-list-hover-background});
			}
		}

		&.cui-button-appearance-important,
		&.cui-button--primary {
			.cui-button-visual {
				color: var(--brand-color, #{$item-list-hover-background});
				background: none;
			}
		}
	}

	.cui-button-href .cui-button-visual .cui-button-center {
		text-decoration: none;
	}

	// Labels within item-list
	// --------------------------------
	.cui-label {
		font-size: $item-list-label-font-size;
		cursor: default;
	}

	> .cui-label {
		padding: 0 $btn-padding-x;
	}

	> .cui-empty-label {
		margin-bottom: $spacer-sm;

		&:last-child {
			padding-bottom: $spacer-xs;
		}
	}

	// Options within item-list
	// --------------------------------
	// todo: find use-case (these are the original styles from ng theme)
	.cui-options .cui-button {
		padding: 0;
		flex: 1 1 auto;

		.cui-button-visual {
			padding-top: 4px;
			padding-bottom: 4px;
			line-height: 18px;
			height: auto;
			min-height: 26px;
		}
	}

	// Allow for mixed items in a list: with or without a left-side icon, Button Labels must be vertically left aligned
	// --------------------------------
	// see Menu.coffee, RootMenu.coffee (root has pretty much its own custom styling)
	&.cui-item-list--has-button-left {
		$indent: 1.5 * $spacer;

		// this button always has a left side
		.cui-button-left {
			width: $indent;
			margin-right: 0;

			&:only-child {
				width: auto;
				margin-left: $btn-padding-x;
			}
		}

		// indent all other buttons to be in line with the button that has a left side
		.cui-button-center:first-child {
			margin-left: $indent;
		}
	}
}

.cui-item-list-divider {
	height: $hr-border-width;
	background: $hr-border-color;
}
