// * Tree Node

.cui-tree-node {
	display: flex;
	flex: 1 1 auto;
	max-width: 100%;
}

// * Handle

.cui-tree-node-handle,
.cui-tree-node-spacer {
	width: $tree-node-handle-width;
	flex: 0 0 auto;

	.fa-caret-right {
		width: 8px;
	}

	.svg-spinner {
		position: relative;
		left: -3px;
		width: 12px;
		height: 12px;
	}
}

.cui-tree-node-handle {
	height: 18px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;

	&.cui-tree-node-is-closed {
		cursor: pointer;
	}

	&.cui-tree-node-is-open {
		cursor: pointer;

		.fa {
			margin-top: 1px;
		}
	}
}

// * Content

.cui-tree-node-content {
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
	min-width: 50px; // prevent them from turning into scrabble when several are unfolded

	.cui-label {
		min-width: 0;
		flex-shrink: 1;
	}
}
