@use "../variables" as *;
@use "../mixins/buttons" as *;

// ? obsolete
.cui-google-map {
	width: 100%;
	height: 300px;
}

// ? obsolete
.cui-leaflet-map {
	--map-leaflet-background: hsl(41deg 27% 93%);
	--map-leaflet-grid-color: hsl(0deg 0% 98%);

	width: 100%;
	height: 300px;
	overflow: hidden !important;

	.cui-vertical-layout-center {
		overflow: hidden !important;
	}

	.leaflet-container {
		background-color: var(--map-leaflet-background);
		background-size: 14px 14px;
		background-position: center;
		background-image:
			linear-gradient(to right, var(--map-leaflet-grid-color) 1px, hsl(0deg 0% 0% / 0%) 1px),
			linear-gradient(to bottom, var(--map-leaflet-grid-color) 1px, hsl(0deg 0% 0% / 0%) 1px);

		.cui-pane-fill-screen & {
			margin: 0 !important;
			padding: $pane-padding !important;
		}
	}
}


.cui-map-buttons-top,
.cui-map-buttons-bottom {
	position: absolute;
	z-index: 1000;
	left: $spacer-xs;
	right: $spacer-xs;
	display: flex;
	justify-content: space-between;
	gap: $spacer-xs;
	
	> * {
		pointer-events: all;
	}
}

.cui-map-buttons-top {
	top: $spacer-xs;
}

.cui-map-buttons-bottom {
	bottom: $spacer-xs;
}

.cui-map-popover-options {
	padding: 5px;
}

.leaflet-div-icon {
	background: none !important;
	border: none !important;
}

.cui-map-input {
	.cui-map-icon-popover-button {
		width: 30px;
	}
}

.cui-icon-marker-container {
	border: none;
	border-radius: 14px;
	text-align: center;
	margin-bottom: 5px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	.cui-icon-marker-arrow {
		position: absolute;
		left: 50%;
		top: 21px;
		transform: rotate(45deg);
		background: inherit;
	}

	.cui-button {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 1;
		height: 100%;

		@include button-plain();

		&:active .cui-button-visual {
			color: inherit;
		}

		&-visual {
			height: 100%;
			color: inherit;
		}
	}
}

// * OpenLayers Map
.cui-open-layers-map {
	.map-zoom-buttons,
	.buttons-upper-right {
		.cui-button-button,
		.cui-button-select {
			@include button-sm();
			@include button-color-inverted();
		}
	}
}

