@use "../variables" as v;


// Menu
.cui-menu {
	min-height: 0;
	min-width: 0;
	background: v.$white;
	border-radius: v.$menu-border-radius;
	padding: 0;
	height: auto; // WEIRD reset: cui-menu on selects gets class button-select
	
	// add overflow to item-list, so the layer-border applied to cui-menu will be fixed
	> .cui-item-list {
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	.cui-item-list-body {
		> .cui-label,
		> .cui-button .cui-button-center {
			max-width: 500px;
		}

		> .cui-button:first-child .cui-button-visual,
		> .cui-button:last-child .cui-button-visual {
			min-height: calc(#{v.$btn-height} + 2px);
		}

		.cui-menu-item {
			padding: 0 v.$item-list-indent;
			min-height: v.$item-list-height;
			font-weight: v.$font-weight-bold;
			color: v.$item-list-label-color;
		}
		
		// todo: find an example (these are the ng theme styles)
		> .cui-options:last-child {
			border-top: 1px solid v.$hr-border-color;
			padding: 6px 0;
			margin-top: 4px;
			margin-bottom: -4px;
			font-size: 12px;
	
			.cui-button-checkbox {
				display: flex;
	
				.cui-button-visual {
					min-height: 0;
					padding: 1px v.$spacer;
					background: none;
					color: inherit;
				}
			}
		}
	}
}

.cui-menu-divider {
	margin: v.$spacer-xs 0;

	// hide the second of two succesive dividers
	+ .cui-menu-divider {
		display: none;
	}
}
