// Group of options, like checkboxes or radio buttons
// with optional top and bottom containers

.cui-options {
	max-width: none;

	.cui-button-checkbox {
		overflow-wrap: break-word;

		@include checkbox-sm();

		[data-max-chars] {
			width: auto;
		}
	}
}

.cui-options-top .cui-label span:not(:empty) {
	padding-bottom: $spacer-xs;
	display: inline-block;
}

.cui-options-title {
	font-weight: $font-weight-bold;
}

.cui-options-hint {
	@include label-form-hint();

	max-width: 250px;
	padding: 0 !important;
	margin: $form-hint-margin-bottom ($checkbox-size + $checkbox-margin) $form-hint-margin-bottom 0;
}

// align options with label if there is only one option
.cui-options-center {
	min-height: 24px;

	&:empty {
		min-height: 0;
	}
}

@for $i from 2 to 13 {
	.cui-options--columns-#{$i} {
		> .cui-options-center {
			columns: #{$i};
			column-gap: $spacer;
			
			.cui-checkbox {
				width: 100% !important; // have to overwrite the cui-layer data-field auto width rule
				margin-right: 0 !important;
			}
		}
	}
}

.cui-options--horizontal {
	.cui-options-center {
		.cui-checkbox {
			margin-right: $spacer-sm;
		}
	}
}

.cui-options--vertical {
	.cui-button-checkbox {
		height: auto;
		min-height: 0;
		line-height: $line-height-sm;
	}

	.cui-options-inactive {
		display: flex;
		flex-direction: column;
	}

	[data-max-chars] {
		width: auto !important;
	}
}

.cui-options--vertical,
.cui-options--sortable {
	.cui-checkbox {
		display: block;
	}
}

// Sortable
.cui-options-sortable-option {
	display: flex;

	.cui-options-sortable-drag-handle {
		width: 16;
		display: flex;
		flex-shrink: 0;
		margin: 0 10px 0 0;
		cursor: grab;

		.cui-drag-handle-row {
			margin-top: $spacer-sm; // no way to calculate this from
		}
	}
}

.cui-options-center,
// when dragged the checkbox doesn't have the options-center parent
.cui-options-sortable-option {
	.cui-button {
		padding: $spacer-xs 0;
	}

	.cui-data-field {
		flex-grow: 0;
	}
}
