// Group of options, like checkboxes or radio buttons
// with optional top and bottom containers

.cui-options {
	max-width: none;
}

.cui-options-inactive:not(:empty) {
	margin-top: $spacer-sm;
}

.cui-options-top .cui-label span:not(:empty) {
	padding-bottom: $spacer-xs;
	display: inline-block;
}

.cui-options-title {
	font-weight: $font-weight-bold;
}

.cui-options-order-hint {
	@include form-hint();

	max-width: 250px;
	margin: $spacer-sm ($checkbox-size + $checkbox-margin) $spacer;
}

// align options with label if there is only one option
.cui-options-center {
	min-height: 24px;

	&:empty {
		min-height: 0;
	}
}

@for $i from 2 to 13 {
	.cui-options--columns-#{$i} {
		.cui-checkbox {
			width: 100% / $i !important; // have to overwrite the cui-layer data-field auto width rule
		}
	}
}

.cui-options--vertical {
	.cui-button-checkbox {
		height: auto;
		line-height: 1.3;
	}

	.cui-options-inactive {
		display: flex;
		flex-direction: column;
	}

	[data-max-chars] {
		width: auto !important;
	}
}

.cui-options--vertical,
.cui-options--sortable {
	.cui-checkbox {
		display: block;
	}
}

// Sortable
.cui-options-sortable-option {
	display: flex;

	.cui-options-sortable-drag-handle {
		width: $checkbox-icon-size;
		display: flex;
		flex-shrink: 0;
		margin: 0 8px 0 2px;
		cursor: grab;

		.cui-drag-handle-row {
			margin-top: $spacer-sm; // no way to calculate this from
		}
	}
}

.cui-options-center,
// when dragged the checkbox doesn't have the options-center parent
.cui-options-sortable-option {
	.cui-button {
		padding: 2px 0;
	}

	.cui-data-field {
		flex-grow: 0;
	}
}
