.cui-output {
	&-empty {
		color: theme-color('muted');
	}

	&--deletable {
		display: flex;
		height: $input-height;
		border: 1px solid $input-border-color;
		border-radius: $input-border-radius;
		cursor: default;

		.cui-label {
			flex: 1 1 0;
			min-width: 0;
			padding: $input-padding-y $input-padding-x;
		}

		.cui-button {
			@include input-control-button();

			margin: $spacer-xs;

			.svg-close {
				width: 9px;
				height: 9px;
			}
		}
	}

	&--no-padding {
		.cui-label {
			padding: 0;
		}
	}
}

.cui-multi-output {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-auto-flow: dense;
}

// Multi Output / Languages
.cui-data-field-multi-output {
	display: contents;

	// Language code
	.cui-data-field-multi-output-aside {
		grid-column: 1 / 2;
		position: relative;
		top: 1px;
		margin-left: -#{$spacer-xs};

		.cui-button-button {
			@include input-control-button(22px, 18px);
		}
	}

	// Content
	.cui-data-field-multi-output-center {
		grid-column: 2 / 3;
	}
}
