@use '../variables' as *;
@use '../mixins/layer' as *;
@use '../mixins/pane' as *;
@use '../mixins/buttons' as *;
@use '../mixins/typography' as *;

// * Pane

// This is set by Pane.coffee to compensate an active sidebar in the fillScreen calculations
:root {
	--layer-sidebar-width: 0;
}

.cui-pane {
	--pane-background: #{$pane-background};

	background-color: var(--pane-background);

	// todo: we should probably do this if this is the most used case, and then override if necessary
	> .cui-vertical-layout-center {
		padding: $pane-padding;
	}
}

.cui-pane-header {
	flex-wrap: nowrap;

	.cui-horizontal-layout-left {
		.cui-label {
			margin-right: $spacer-sm;
		}
	}

	// see ez5-main-right ez5-editor pane-header: here we should not remove the margin
	// Todo: find use-case where we needed to reset the margin
	// .cui-buttonbar > * {
	// 	margin-right: 0;
	// }

	.cui-select {
		margin-right: $spacer-xs;
	}

	.cui-pane-close-button {
		transform: translateX($spacer-sm);
	}

	// Pane Header title is clickable and works as a pane-close-button
	&:has(.cui-pane-close-button-with-title) {
		> .cui-horizontal-layout-left {
			width: 100%;

			> .cui-buttonbar {
				width: 100%;
			}
		}
		
		.cui-pane-close-button-with-title {
			width: 100%;
			max-width: 100%;

			@include button-color-reset();

			.cui-button-visual {
				@include h3(0);

				justify-content: space-between;

				.cui-button-center {
					padding-left: 0;
				}

				.cui-button-right {
					padding-right: $spacer-xs;
				}
			}

			&:not(.cui-disabled) {				
				transform: translateX(3px);

				&:focus .cui-button-visual.cui-button-visual {
					--focus-shadow-outer-width: 0px;
					
					box-shadow: none !important;
					border: 0;

					&::after {
						content: '';
						display: block;
						position: absolute;
						top: 3px;
						left: -2px;
						width: calc(100% - 3px);
						height: calc(100% - 5px);
						outline: 3px solid $focused;
						outline-offset: -2px;
						border-radius: 1px;
					}

					.cui-button-right {
						padding-right: $spacer-sm;
					}
				}
			}
		}	
	}
}

.cui-pane-footer {
	.cui-horizontal-layout-left,
	.cui-horizontal-layout-right {
		min-width: auto;
	}
}


// * Pane as window
// .cui-pane--window are the main cui panes with a h3 pane-title

.cui-pane--window {
	&:not(.cui-layer-pane) {
		> .cui-vertical-layout-top > .cui-pane-header {
			@include pane-header();
		}
	}
}


// * Simple Pane

.cui-simple-pane {
	> .cui-vertical-layout-center {
		overflow: auto;
	}
}

// * Pane Fill Screen

// Used when expanding a popover layer into full-screen

/*
	<div class="cui-pane-fill-screen cui-pane-fill-screen-is-on">
		<div class="cui-pane-fill-screen">
			<div class="cui-pane-fill-screen-inner">
				<div class="cui-pane cui-layer-pane cui-pane--window">
					<top>
						<div class="cui-pane-header cui-toolbar"></div>
						<div class="cui-toolbar"></div>
					</top>
					<center>
						<div class="cui-vertical-layout">...</div>
					</center>
					<bottom>
						<div class="cui-pane-toolbar cui-toolbar"></div>
						<div class="cui-pane-footer cui-toolbar"></div>
					</bottom>
				</div>
			</div>
		</div>
	</div>
*/

.cui-pane-fill-screen {
	transition: top ease-out 0.5s, right ease-out 0.5s, left ease-out 0.5s, bottom ease-out 0.5s;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;

	// Pane Fillscreen
	.cui-pane-fill-screen {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $body-bg;

		.cui-pane-fill-screen-inner {
			width: 100%;
			height: 100%;

			> .cui-maximize-vertical.cui-vertical-layout {
				height: 100%;
			}

			// apply layout and style just like the popover layer
			> .cui-pane {
				@include layer-pane-layout();
			}
		}
	}

	// overwrite "style" set by code
	&.cui-pane-fill-screen-is-on {
		top: 0 !important;
		left: 0 !important;
		bottom: 0 !important;
		right: var(--layer-sidebar-width) !important;
	}
}
