@use "../mixins/buttons";
@use "../mixins/labels";
@use "../variables" as v;

// Panel
.cui-panel {
	border-bottom: 1px solid v.$panel-border-color;

	&-closed {
		> .cui-panel-body {
			display: none;
		}
	}
}

.cui-panel-header {
	padding-left: v.$spacer-sm;
	padding-right: v.$spacer-sm;

	.cui-button-button {
		@include buttons.button-color-reset();

		display: flex;
		width: auto;
		padding: v.$spacer-xs 0;
		justify-content: flex-start;
		margin: 0 -#{v.$spacer-sm};
		min-height: v.$btn-height;

		&-select {
			max-width: 100%;
		}

		.cui-button-visual {
			@include labels.label-title();

			height: auto;
			justify-content: flex-start;
			padding: 0;
			align-items: baseline;


			.cui-button-left {
				width: v.$panel-content-padding;
				justify-content: center;
				padding-left: 0;
				margin-right: 0;

				.fa {
					position: relative;
					left: -1px;

					&.fa-chevron-right {
						top: 1px;
					}
				}
			}

			.cui-button-center {
				padding-left: 0;

				span {
					white-space: normal;
				}
			}
		}

		&:hover,
		&:focus {
			.cui-button-visual {
				color: var(--btn-color-hover, #{v.$body-color});
				background: none;
			}
		}

		&.cui-active {
			.cui-button-visual {
				color: var(--btn-color-active, #{v.$body-color});
				background: none;
			}
		}
	}
}

.cui-panel-body {
	padding: v.$spacer-xs v.$spacer-sm v.$spacer v.$panel-content-padding; // left aligned with panel header text
}
