// Panel
.cui-panel {
	border-bottom: 1px solid $panel-border-color;

	&-closed {
		> .cui-panel-body {
			display: none;
		}
	}
}

.cui-panel-header {
	padding-left: $spacer-sm;
	padding-right: $spacer-sm;

	.cui-button-button {
		display: flex;
		width: auto;
		padding: $spacer-xs 0;
		justify-content: flex-start;
		margin: 0 -#{$spacer-sm};

		&-select {
			max-width: 100%;
		}

		.cui-button-visual {
			padding: 0;
			justify-content: flex-start;

			.cui-button-left {
				width: $spacer;
				justify-content: center;
			}

			.cui-button-center {
				padding-left: $spacer;

				span {
					white-space: normal;
				}
			}
		}

		&:hover,
		&:focus,
		&.cui-active {
			.cui-button-visual {
				background: none;
				color: theme-color('primary');
			}
		}
	}
}

.cui-panel-body {
	padding: 0 $spacer-sm $spacer-sm;
}
