@use '../variables' as *;

// ProgressMeter
.cui-progress-meter {
	.cui-progress-meter-bar {
		width: 100%;
		position: relative;

		.cui-progress-meter-fill {
			display: none;
			background: var(--brand-color, #{$primary});
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		.cui-progress-meter-text {
			display: none;
			justify-content: center;
			position: relative;
		}

		.cui-progress-meter-icon {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;

			.svg-spinner {
				height: $btn-height;
			}
		}
	}

	// non animated hourglass
	// &[state='waiting'] {
	// }

	// spinner
	&[state='spinning'] {
		.cui-progress-meter-icon {
			color: $body-color;
		}
	}

	// animated hourglass icon
	// &[state='spinning2'] {}

	&[state='percent'] {
		.cui-progress-meter-bar {
			max-width: 200px;
			min-width: 30px;
			overflow: hidden;
			height: $btn-height; // if we need other height (sm | lg), see button sizes
			line-height: $btn-height;
			border-radius: $btn-border-radius;
			background: $gray-500;
			color: $white;
		}

		.cui-progress-meter-icon {
			display: none;
		}

		.cui-progress-meter-text,
		.cui-progress-meter-fill {
			display: flex;
		}
	}
}
