@use "sass:math";
@use "../variables" as *;

.cui-slider {
	--slider-distance: 0%;

	height: $slider-handle-size * 1.25;
	display: flex;
	align-items: center;
	position: relative;

	&-track-visual {
		// clickable area
		position: relative;
		height: 100%;
		width: 100%;

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			height: $slider-track-height;
			border-width: $slider-track-border-width solid $slider-track-border-color;
			border-radius: $slider-track-border-radius;
		}

		// visual track
		&::before {
			background: $slider-track-background;
		}

		// visual distance
		&::after {
			width: 0; // fallback
			width: var(--slider-distance);
			background-color: $slider-track-active-background;
		}
	}

	&-track {
		position: absolute;
		left: 0;
		right: $slider-handle-size;
		top: 50%;
	}

	&-handle {
		position: absolute;
		margin-top: -#{math.div($slider-handle-size, 2)};
		width: $slider-handle-size;
		height: $slider-handle-size;
		background: $slider-handle-background;
		border: $slider-handle-border-width solid $slider-handle-border-color;
		border-radius: $slider-handle-border-radius;
		box-shadow: 0 1px 3px 0 rgb(0 0 0 / 40%);
	}

	&-text {
		width: 40px;
		text-align: center;
	}
}
