// * StickyHeader

/*
<div class="cui-vertical-layout-center">
	<div class="cui-sticky-header-control"></div>
	...
	... scrolling
	...
	<div class="cui-sticky-header cui-sticky-header-level-0">
		<div class="cui-sticky-header-center"><span>...</span></div>
	</div>
	...
	... scrolling
	...
</div>
*/

.cui-sticky-header {
	position: relative;
	padding: $spacer-xs 0;
	font-size: $sticky-header-font-size;
	font-weight: bold;
	color: $sticky-header-color;
	flex-basis: 100%;
	flex-shrink: 0;
	border-bottom: 1px solid $sticky-header-border-color;

	.cui-tab > & {
		flex-basis: auto;
	}

	.cui-table + & {
		margin-top: $spacer-sm;
	}
}

// Special cases within layout
.cui-vertical-layout-top,
.cui-vertical-layout-center,
.cui-vertical-layout-bottom {
	> .cui-sticky-header {
		flex-basis: auto;
	}
}

.cui-sticky-header-control {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	z-index: 1;

	.cui-sticky-header {
		position: absolute;
		left: 0;
		right: 0;
		font-weight: bold;
		background: rgba($body-bg, $sticky-header-opacity);

		.cui-pane & {
			background-color: rgba($pane-background, $sticky-header-opacity);
		}
	}
}

.cui-sticky-header-level-1,
.cui-sticky-header-level-2,
.cui-sticky-header-level-3,
.cui-sticky-header-level-4 {
	font-size: 11px;
}
