@use "../mixins/pane";
@use "../variables" as v;

// * Tooltip

/*
<div class="cui-layer-root cui-layer-root-tooltip">
	<div class="cui-layer cui-tooltip">
		<div class="cui-simple-pane cui-vertical-layout cui-pane cui-layer-pane"> ... </div>
	</div>
	<div class="cui-layer-pointer"></div>
</div>
*/

.cui-layer-root-tooltip .cui-layer-pointer {
	&--n,
	&--s {
		// the pointer is a rotated 8x8 square, the width after the rotation is about 12px
		width: 1.5 * v.$tooltip-pointer-size;
		height: v.$tooltip-pointer-size;
	}

	&--e,
	&--w {
		width: v.$tooltip-pointer-size;
		height: 1.5 * v.$tooltip-pointer-size;
	}

	&::after {
		background-color: v.$tooltip-background;
		width: v.$tooltip-pointer-size;
		height: v.$tooltip-pointer-size;
		box-shadow: none;
	}
}

.cui-tooltip {
	max-width: 260px;
	min-width: 0;
	min-height: 0;
	cursor: default;
	-webkit-overflow-scrolling: touch;
	background-color: v.$tooltip-background;
	color: v.$tooltip-color;
	border-radius: v.$border-radius-sm;
	box-shadow:
		0 0 0 1px hsl(0deg 0% 0% / 10%),
		0 7px 14px hsl(0deg 0% 0% / 10%);

	.cui-label {
		font-size: v.$tooltip-font-size;
		line-height: v.$line-height-sm;
		padding: v.$spacer-xs v.$spacer-sm 1.25 * v.$spacer-xs;
	}

	> .cui-pane > .cui-vertical-layout-center {
		@include pane.pane-padding-reset();
		
		margin: 0;
	}

	a {
		--link-color: #{v.$tooltip-color};
		--link-hover-color: #{v.$tooltip-color};
	}
}
