@use '../variables' as *;
@use '../mixins/toolbar' as *;

// Toolbar
.cui-toolbar {
	display: flex;
	min-height: $toolbar-height;
	justify-content: space-between;
	align-items: center;
	background: $toolbar-background;
	padding: $toolbar-padding;
	// needed in listview, to align all: content-box for all!
	// box-sizing: content-box; // todo
	overflow: visible !important;

	@include toolbar-gap();

	// reset if toolbar within another toolbar
	.cui-toolbar {
		padding: 0;
		min-height: 0;
	}

	&.cui-template-empty {
		display: none;
	}

	> .cui-horizontal-layout-left,
	> .cui-horizontal-layout-right {
		flex-direction: row;
		min-width: 0;
		overflow: visible !important;
	}

	> .cui-horizontal-layout-center {
		justify-content: center;
		flex-direction: row;
		overflow: visible !important;
	}

	// todo: find an example in fylr, what is this special case for, do we still need it?
	// see: .ez5-quicksearch-input | .cui-navigation-toolbar
	> div > .cui-maximize-horizontal {
		// in column direction this is solved by
		// align-items: stretch, but here
		// we need to overwrite this
		flex: 1 1 auto;
		align-self: stretch;
		overflow: visible;

		> .cui-horizontal-layout-left,
		> .cui-horizontal-layout-center,
		> .cui-horizontal-layout-right {
			overflow: visible;
		}
	}

	// .cui-horizontal-layout-left {
	// }

	.cui-horizontal-layout-right {
		flex-shrink: 0;
	}

	// Toolbar Content

	// e.g. in search: .ez5-quicksearch-input | .ez5-navi-input
	.cui-data-field-input {
		display: flex;
		align-items: center;
		min-width: 0;

		&.cui-vertical-layout {
			align-items: stretch;
			justify-content: center;
		}

		.cui-input {
			flex-grow: 0;
		}
	}

	// Buttons should always shrink in a toolbar
	.cui-button-button,
	.cui-button-select,
	.cui-button-href,
	.cui-data-field {
		min-width: 0;
		flex-shrink: 1;
	}
	
	.cui-button-button,
	.cui-button-select {
		max-width: 250px;
	}
}

.cui-result-navigation-toolbar {
	// --toolbar-gap: 0;

	flex: 0 1 auto;

	> * {
		width: 33%;
	}

	&:has(> .cui-horizontal-layout-center:empty) > * {
		width: 50%;
	}

	// left column has the status information label, it can truncate with ...
	> .cui-horizontal-layout-left {
		// flex: 0 1 auto;
		&:has(.cui-buttonbar-group-add_records) {
			min-width: $btn-visually-square-factor * $btn-height;
		}

		// lets the status info label truncate correctly in the case there is an optional sibling buttonbar present, usually a [+] button
		> .cui-label {
			flex: 1 1 auto;
			overflow: hidden;
		}

		.cui-buttonbar + .cui-label {
			margin-left: $spacer-sm;
		}		
	}

	> .cui-horizontal-layout-center {
		overflow: hidden !important;

		.ez5-navigation-selected-objects-count {
			max-width: 100%;
    		flex: 0 1 auto;

			> .cui-label {
				width: calc(100% - ($btn-height-xs * $btn-visually-square-factor));
			}
		}
	}

	> .cui-horizontal-layout-right {
		justify-content: end;
	}
}

// Navigation Toolbar
// used in the group editor
// todo: find use-case for --mini
.cui-navigation-toolbar {
	// &.cui-navigation-toolbar--mini {}	

	> .cui-horizontal-layout-left {
		> .cui-label:last-child {
			margin-right: $spacer;
		}
	}
}
