
//----------------------------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------------------------
//--------------------------------------------------cui head skin ------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------------------------------------------------------


//------------------------------------------------------------------------------------------------------
// default skin theme definition, the basis (fallback) for all theme overrides
// its a light theme setup.
//------------------------------------------------------------------------------------------------------

$font_family: "Open Sans", Helvetica, Arial, sans-serif;

// $font_awesome_url needs to be defined on a theme level

// -------- basic colors ------------------
$white: #ffffff;
$black: #000000;
$orange: #FFC367;
$blue: #3B70CB;


// ---------- basic ui colors----------------
//REMARKED cause it looks dirty, Google uses this weak-white for its backgrounds in apps to improve apperance of important parts like dialogs with a full white background
//$default_background_color: $white*.98;
$default_background_color: $white;

$font_color: $white*0.1;
$font_color_diminished: $white*0.5; //e.g. for 'no assets' info texts etc.
$font_ghosted_color: $white*0.5; //TODO rename ghosted to disabled?


//active state
$light_blue: #c2cffe;
$light_blue_highlighted: #dbd6fe;

$active_background_color: $light_blue; //for active (selected) elements
$active_font_color: $font_color;
$highlight_background_color: $white * 0.95;
$highlight_font_color: $font_color;
$active_highlight_background_color: $light_blue_highlighted; //lighten($active_background_color,10%);
$active_highlight_font_color: $highlight_font_color;
//NOTE listview uses $silent_highlighted_background_color!

// separator color for group of ui-elements
$group_border_color: $default_background_color*0.85;

// special colors
$marker_color: $orange; //e.g. used by datetime to show current day

$dropzone_highlighted_color: $marker_color;

$focus_color: #4D90FE;



//------------- buttons --------------------------

//button, checkboxes, radiobuttons
$button_background_color: $white * 0.99;
$button_border_color: $white * 0.7;
$button_font_color: $font_color;

$button_border: 1px solid $button_border_color;
$button_border_radius: 0;
$button_box_shadow: 1px 1px rgba(0, 0, 0, 0.07);

// state styles
$button_disabled_font_color: $white*0.7;
$button_disabled_border_color: $white*0.75;
$button_disabled_background_color: $button_background_color;

$button_active_font_color: $active_font_color;
$button_active_border_color: $button_border_color;
$button_active_background_color: $active_background_color;

$button_highlight_font_color: $black;
$button_highlight_background_color: $button_background_color * .9;
$button_highlight_border_color: $white*0.3;

$button_active_highlight_font_color: $button_active_font_color;
$button_active_highlight_border_color: $button_active_border_color;
$button_active_highlight_background_color: $button_active_background_color;

$button_pressed_font_color: $active_font_color;
$button_pressed_border_color: $button_border_color;
$button_pressed_background_color: $active_background_color;

// button appearance: link
$link_font_color: #007;
$link_highlight_font_color: $white*.4;


$buttonbar_separator_color: $white*.9;

// --------- input ----------------
$input_background_color: $white*.99;
$input_border_color: $white*.5;
$input_highlight_background_color: $white;
$input_highlight_border_color: black;
$input_placeholder_font_color: $font_ghosted_color;

//e.g. used for multi input language button inside text input boxes
$flat_button_inside_input_background_color: inherit;
$flat_button_inside_input_font_color: $input_placeholder_font_color;
$flat_button_inside_input_highlighted_background_color: rgba( $white*.8, .5 );
$flat_button_inside_input_highlighted_font_color: $font_color;


// ----------- focus -----------------
// marks the focus on a control
%focus_outline {
	outline-color: #4D90FE; //blue
	outline-offset: 0px;
	outline-style: solid;
	outline-width: 1px;
}

// ----------- empty (placeholder) font style ---------------
$control_placeholder_font_color: $font_color_diminished;
$control_placeholder_font_style: italic;

// -------- layer ------------------------
$layer_box_shadow: 1px 4px 15px rgba(0, 0, 0, 0.8);

// ----------- toolbar ---------------------
$toolbar_background_color: $default_background_color;

// -------- pane header --------------------
$pane_header_font_color: $font_color;
$pane_header_background_color: #e5e5e5; //#light grey;
$pane_header_button_active_background_color: $active_background_color;
$pane_footer_background_color: $default_background_color;


//-------------- modal (dialog) ----------------------
$modal_border: $white*.3;
$modal_header_background_color: $pane_header_background_color;
$modal_header_font_color: $pane_header_font_color;

// -------------- popovers -----------------------
$popover_header_background_color: $pane_header_background_color;
$popover_header_font_color: $font_color;

// ----------- menu -----------------------------
$menu_item_divider_color: $white*.9;

//--------------  root menu / application pane header ------------------------

//#0F0C65; //easydb blue
$root_menu_background_color: #23a612;
%root_menu_background {
	background: -webkit-linear-gradient(bottom, #4d9950 0%, #23a612 100%);
	background: linear-gradient(to bottom, #4d9950 0%, #23a612 100%);
}

$root_menu_font_color: $black;
$root_menu_header_font_color: $black;



// ------ animation -----------------
$default_animation_speed: 0.21s; //using default speed should give a rhythm


// ----------- flex handle (splitpane bars)
//small flex handles , big root handles are just transparent
$flex_handle_color: $white * 0.75;
$flex_handle_highlight_background_color: $white * 0.85;
$flex_handle_closed_label_background_color: $pane_header_background_color;
$flex_handle_closed_label_font_color: $pane_header_font_color;

// ------------- listview ----------------------------

$list_view_move_handle_border_color: $white*0.5;
$list_view_move_handle_opacity: 0.7;

//handle skin is also used by options.scss
%list_view_move_handle_skin {
	//shed some light on the border
	//border-style: solid;
	//border-width: 1px;
	//border-top-color: lighten($list_view_move_handle_border_color,35%);
	//border-left-color: lighten($list_view_move_handle_border_color,20%);
	//border-right-color: $list_view_move_handle_border_color;
	//border-bottom-color: darken($list_view_move_handle_border_color,20%);
	//border-radius: $list_view_move_handle_border_radius;
	border: 0;
	//opacity: $list_view_move_handle_opacity;
	background-color: #e0e0e0;

	transition: background-color ease 0.2s;

	&:hover {
		background-color: #e8e8e8;
	}
}

// ------------------ tabs ---------------------
$tab_border_color: $group_border_color;
$tab_button_background_color: #eee;
$tab_button_active_background_color: $default_background_color;
$tab_button_highlight_background_color: $white*1;
$tab_button_font_size: map_get($button_font_sizes,bigger);
$tab_button_highlight_font_color: $white*0;
$tab_button_font_color: $white*0;



//------------------- listview--------------------
//separator for quadrants
$list_view_vertical_separator_color: $white*0.7;
$list_view_horizontal_separator_color: 0; //if > 0 then given color is used
$list_view_cell_grid_color: $white*0.75;

$list_view_border_color: $group_border_color;

$silent_highlighted_background_color: rgba(0,0,0,0.05); //$white*.97;

$list_view_row_color: transparent;
$list_view_row_highlighted_color: $silent_highlighted_background_color;
$list_view_row_separator_color: $default_background_color*.965;

$listview_header_background_color: $default_background_color*0.88;
$listview_header_second_background_color: $default_background_color*0.84; //is used in horizontal tables for alternating the color of nested headers

// ----------------- sticky header----------------
$sticky_header_background_color: $white*.9;

// ------------------ progress meter ----------------
$progress_meter_fill_background_start_color: #ddd;
$progress_meter_fill_background_end_color: #eee;

$progress_meter_fill_start_color: #666;
$progress_meter_fill_end_color: #888;

// ----------------- wait block ----------------------
$wait_block_background_color: #F7F7F7;
$wait_block_color: #ddd;