
// ================== utilities ======================================
$debug: False;

$row_background_color_in_cells: True;

@mixin MESSAGE_MARKER($text) {
    @if ($debug==True) {
        &:before {
            content: $text;
        }
        background-color: red !important;
        min-width: 10px;
        min-height: 10px;
    }
}

@mixin WARNING_MARKER($text) {
    @include MESSAGE_MARKER("WARNING:"+$text);
}

//@param $type example: cui-pane
@mixin ASSERT_TYPE($type) {
    &:not(.#{$type}) {
        @include MESSAGE_MARKER("Expected class not found:"+inspect($type) );
    }
}

@mixin ERROR_MARKER($text) {
    @include MESSAGE_MARKER("ERROR:"+$text);
}

%TEST_MARKER {
    @if ($debug==True) {
        background-color: pink !important;
        min-width: 10px;
        min-height: 10px;
    }
}


//================== compatibility mixins ==========================================

@mixin transform ($transform){
    @each $prefix in "-webkit-", "-moz-", "-ms-", "-o-", "" {
        #{unquote($prefix)}transform: $transform;
    }
}

@mixin transform_origin ($origin){
    @each $prefix in "-webkit-", "-moz-", "-ms-", "-o-", "" {
        #{unquote($prefix)}transform-origin: $origin;
    }
}

@mixin user_select($parameter){
    @each $prefix in "-webkit-", "-moz-", "-ms-", "-o-", "" {
        #{unquote($prefix)}user-select: $parameter;
    }
}



@mixin flex_display( $flex: flex ) {
    display: $flex;
}

@mixin flex_direction( $direction ) {
    flex-direction: $direction;
}

@mixin flex_shrink( $shrink ) {
    flex-shrink: $shrink;
}

@mixin flex_grow( $grow ) {
    flex-grow: $grow;
}

@mixin justify_content( $justify_content ) {
    justify-content: $justify_content;
}

@mixin flex( $grow, $shrink, $base: auto ) {
    flex: $grow $shrink $base;
}

@mixin flex_align_items( $align ) {
    align-items: $align;
}

@mixin flex_align_self( $align ) {
    align-self: $align;
}

@mixin flex_wrap( $wrap ) {
    flex-wrap: $wrap;
}


//================== common mixins ================================

@mixin animation ($parameter){
    @each $prefix in "-webkit-", "-moz-", "-ms-", "-o-", "" {
        #{unquote($prefix)}animation: $parameter;
    }
}


%center_div {
    position: absolute;
    //trying to patch rounding problems of the renderer. (only for thumbnails status labels, maybe we should change the approach with the filling background) TODO problem is still there, just a bit better
    top: calc( 50% - 0.15px );
    left: calc( 50% - 0.15px );
    @include transform( translate(-50%,-50%) );
}

%disable_text_selection_by_user {
    @include user_select(none);
}
