
// -----------------------------------
//  overwrite user agent defaults

head {
    display: none;
}

body, html {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

html {
    overflow: auto;
}

::-ms-clear {
    width : 0;
    height: 0;
}

input:focus,
textarea:focus {
    /* outline:none; */
}

div {
    display: block;
}

i, cite, em, var, address, dfn {
    font-style: italic;

}

big {
    font-size: larger;
}

strong,b {
    font-weight: bold;
}

input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"]
{
    padding: 1px 0px;
}

input {
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;

    @include user_select(text);

    cursor: auto;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding: 1px;
    border: 2px inset;
}

table {
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    border-color: grey;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th, td {
    padding: 0;
    margin: 0;
    vertical-align: top;
    display: table-cell;
}

th {
    font-weight: bold;
}

ul {
    //no auto padding wanted
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}


.no-user-select {
    cursor: default;
    -webkit-touch-callout: none;
    @include user_select(none);
}


.ez-rect-debug {
    position: absolute;
    border: 2px dotted red;
    box-sizing: border-box;
    z-index: 10000;
    pointer-events: none;
}

// this is currently used by IPCListener to briefly
// show event recipients
.ez-rect-debug.ez-rect-debug-timeout {
    background-color: red;
    border: 0px;
    opacity: 0.3;
}

.ez-rect-debug-label {
    position: absolute;
    border: 1px solid black;
    background: white;
    padding: 2px 5px;
    font-weight: bold;
    font-size: 15px;
    z-index: 10000;
}


.cui-event-dom-insert {
    background-color: green;
}

.cui-event-refresh {
    opacity: 0.8;
    background-color: red;
}


/*.ez-rect-debug:hover {
	border-color: green;
	background-color: green;
	opacity: 0.5;
}*/

.ui-drop-hover {
    //show that this has to be overwritten
    background-color: red !important;
}

a, a:visited {
    color: #000000;

    &,
    &:-webkit-any-link {
        text-decoration: underline;
        cursor: auto;
    }
}

input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}

body,textarea,input {
    font-family: $font_family;
    font-size: $font_size;
}
