
$date_time_width: 270px;

$date_next_month_color: #b2b2b2;

.cui-date-time {
	//REMARKED needs to be elastic all the time, more important than a aligned width
	//min-width: $min_input_width;

	//REMARKED TODO why was this remarked!?  ..cause we need it again in controls demo
	//reset whitespace
	//line-height: 0;
	//font-size: 0;


	&.cui-data-field {
		//this cant be a flex, cause it would not fill a width of 100%, but this way the container can be 100% or flex-grow:1 both would work
		display: inline-block;

		font-size: 0 !important; //avoid white spaces . TODO important is needed only for the demo !?
	}
}

.cui-date-time-popover {
	//manually measured and set, cause content is filling layer after its size is already fixed
	width: $date_time_width;
	height: 188px;

	> .cui-pane > .cui-vertical-layout-center {
		margin: 0 !important;
	}
}

.cui-tmpl-date-time-input {

	@extend %input_background_border_style;

	//layout
	.cui-date-time-input-center {
		display: inline-block;
		$date_time_button_width: 27px;
		width: calc( 100% - #{$date_time_button_width} );

		.cui-input {
			border: 0 !important;
		}
	}

	//button
	.cui-date-time-input-right {
		display: inline-block;
		> .cui-button {
			border: 0;
			border-left: 1px solid $buttonbar_separator_color;
		}
	}
}


.cui-tmpl-date-time {
	overflow: hidden;
	white-space: nowrap;
	width: $date_time_width;

	.cui-date-time-header-left,
	.cui-date-time-header-right {
		//help flex to center the center by bringing left and right on same size
		min-width: 100px;
	}

	.cui-date-time-header-right > .cui-button {
		float: right;
	}

	.cui-date-time-header-center {
		font-weight: bold;
		line-height: 21px;
		vertical-align: middle;
	}
	.cui-date-time-calendar {
		transition: margin-left 0.5s ease;
	}
	.cui-button {
		transition: opacity 0.5s ease;
	}
}

.cui-tmpl-date-time * {
	transition: opacity 0.5s ease;
}

.cui-date-time-header {
	@include flex_display(flex);
	@include flex_direction(row);
	@include justify_content(space-between);

	border-bottom: 2px solid black;
	background-color: #DBDBDB;
	padding: 4px 0 4px 0;
	.cui-date-time-browser-time,
	.cui-date-time-browser-date {
		opacity: 0;
		margin: 0 5px 0 5px;
	}
}

tr.cui-date-time-year-month > td {
	padding: 4px 0 4px 0;
}

.hide-clock {
	.cui-date-time-browser-time,
	.cui-date-time-browser-date {
		display: none;
	}
}

[browser="time"] .cui-date-time-browser-date {
	opacity: 1;
}

[browser="date"] .cui-date-time-browser-time {
	opacity: 1;
}

[browser="time"] .cui-date-time-calendar {
	margin-left: -100%;
}

.cui-date-time-browser {

	width: 100%;
	white-space: nowrap;
	overflow: hidden;

	& .cui-date-time-year-month .cui-data-field > div {
		display: inline-block;
	}


	> div {
		display: inline-block;
		width: 100%;
		vertical-align: top;
	}
	.cui-date-time-calendar {
		table.cui-date-time-date {
			width: 100%;
 			td {
				text-align: center;
				vertical-align: middle;
			}
		}
		.cui-date-time-month-select {
			width: 80px;
		}
		.cui-date-time-year-month {
			td.year {
				text-align: left; //TODO when using 'right' text pushes out of bounds. why?

				.cui-label {
					text-align: center;
				}
			}
			td.month {
				text-align: left;
			}
		}
	}
	table.cui-date-time-day-grid {
		width: 100%;
		td {
			text-align: center;
		}
	}
}


.cui-date-time-calendar {
	display: inline-block;
}

.cui-timezone-offset {
	font-size: 10px;
	color: #a9a9a9;
}

.cui-date-time-timezone {
	padding-bottom: 5px;
}

.cui-date-time-day:hover {
	background-color: $highlight_background_color;
	color: $highlight_font_color;
}

.cui-date-time-day {
	cursor: pointer;
}

.cui-date-time-dow {
	font-weight: bold;
}

.cui-date-time-day-sa,
.cui-date-time-day-su {
	background-color: #d0d0d0;
}

.cui-date-time-week-title,
.cui-date-time-week {
	background-color: #e5e5e5;
}

.cui-date-time-previous-month,
.cui-date-time-next-month {
	color: $date_next_month_color;
}

.cui-date-time-month-table {
	margin: 0 15px 10px 15px;
}

.cui-date-time-clock:hover {
	.cui-date-time-analog-clock {
		opacity: 0.1;
	}
	.cui-date-time-hour-minute {
		opacity: 1;
	}
}

.cui-date-time-clock {
	position: relative;
	.cui-date-time-digi-clock {
		padding-top: 5px;
		text-align: center;
	}

	.cui-date-time-analog-clock {
		position: absolute;
		opacity: 1;
		top: 27px;
		left: 80px;
		width: 100px;
		height: 100px;
		margin: 0;
		border: 3.5px solid #000;
		border-radius: 50%;
		background-color: #a9a9a9;
	}

	.cui-date-time-hour-minute {
		left: 0;
		top: 30px;
		width: 98%;
		opacity: 0.1;
		position: absolute;
		cursor: pointer;

		tr.cui-date-time-grid-row-last td {
			border-bottom: 1px solid #a9a9a9;
		}

		.cui-date-time-grid-hour-row,
		.cui-date-time-grid-minute-row {
			td {
				padding: 1px;
			}
		}

		.cui-date-time-grid-hour span,
		.cui-date-time-grid-am-pm span,
		.cui-date-time-grid-minute span {
			display: block;
		}

		.cui-date-time-grid-hour:hover,
		.cui-date-time-grid-am-pm:hover,
		.cui-date-time-grid-minute:hover {
			background-color: $highlight_background_color;
			color: $highlight_font_color;
		}
	}
}



.cui-date-time-face {
	width: 100%;
	height: 100%;
}

.cui-date-time-hour {
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25% -2px 0;
	padding: 25% 2px 0;
	background: #000;
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	border-radius: 2px 2px 0 0;
	transition: transform 1s ease;
}

.cui-date-time-minute {
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -40% -2px 0;
	padding: 40% 2px 0;
	background: #000;
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	border-radius: 2px 2px 0 0;
	transition: transform 1s ease;
}

.cui-date-time-second {
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -40% 0 0 -1px;
	padding: 40% 1px 0;
	background: #E8CAFF;
	-webkit-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	transition: transform 0.2s ease;
}


.hide-clock-seconds .cui-date-time-second {
	display: none;
}


.cui-date-time-face:after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
	height: 6px;
	margin: -3px 0 0 -3px;
	background: #E8CAFF;
	border-radius: 3px;
	content: "";
	display: block;
}

.dom-focus .cui-date-time-status {
	display: inline-block;
}

.cui-date-time-status {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	padding: 3px;
	color: #a9a9a9;
}

.hide-timezone-display {
	.cui-date-time-timezone-display-table {
		display: none;
	}
}

.cui-date-time-timezone-display-table {
	width: 100%;
	border-top: 2px solid black;
	background-color: #DBDBDB;

	.cui-date-time-timezone {
		padding: 5px 0 0 10px;
	}

	.cui-date-time-timezone-display {
		margin: 0 0 5px 11px;
	}
}

//TODO our buttons call this state active
.cui-date-time-selected {
	background-color: $active_background_color !important;
	color: $active_font_color;
	&.cui-date-time-now {
		background-color: $marker_background_color !important;
		border: $active_background_color !important;
	}
}

.cui-date-time-now {
	background-color: $marker_background_color;
}

